﻿#head-row {
    background-color: rgba(0,0,0,0.2);
}

#tableflt {
    font-size: 12px;
}

.check-cell {
    padding: 5px;
    max-width: 30px;
    vertical-align: middle;
}

.custom-control-input {
    width: 30px !important;
}

.filters {
    padding: 5px;
}
