﻿.table-right-menu {
    padding-right: 20px !important;
}

.table-action-button {
    font-size: 12px;
    color: #222;
    padding-left: 10px
}

.dataTables_filter {
    display: inline-flex;
}

.can-toggle__label-text {
    text-transform: uppercase;
}

.promisdt {
    width: 100%;
    border: 1px solid rgba(255,255,255,0.3) !important;
    margin-left: 0px !important;
}

.promisdt tbody tr.selected {
    background-color: rgba(205,190,52,1.00);
    color: #222;
}

.dataTables_wrapper .dataTable td, .dataTables_wrapper .dataTable th {
    padding: 8px 13px 5px 13px;
    line-height: 22px;
    align-content: center;
}

.first-row {
    background-color: rgba(0,0,0,0.2) !important;
    text-transform: uppercase !important;
}

div.dataTables_wrapper div.dataTables_info {
}

.dataTables_paginate {
    float: right;
}

.dataTables_wrapper > :last-child {
    position: absolute;
    width: 100% !important;
    bottom: 0px !important;
}