﻿#align-rows {
    height: 50px;
    border-bottom: 1px solid #999;
}

#pull-right-div, #title-style {
    padding: 5px;
}

.nav-link {
    line-height: 1.2 !important
}

.nav-link-dropdown{
    min-width: 80px;
    text-align: center;
}

.tab-content-style {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    border: 0px;
}