﻿/***** General styles (helpers) ******/
body {
    font-family: 'light';
}

.left-bordered {
    border-left: 1px solid rgba(255,255,255,0.2);
}

.right-bordered {
    border-right: 1px solid rgba(255,255,255,0.2);
}
/***** End helpers *****/
/* From prototype */
.custom-control {
    margin: 0
}

.nav-link {
    line-height: 1.2 !important
}

.card-footer {
    padding: 0.3rem 1.25rem
}

.act_left, .act_right {
    padding: 5px
}

    .act_left hr {
        margin-bottom: 10px;
        margin-top: 10px
    }

    .act_right hr {
        margin-bottom: 10px;
        margin-top: 13px
    }

    .act_right td {
        padding: 0;
    }

.blocco {
    background-color: rgba(0,0,0,0.2);
    color: white;
    margin-right: 15px;
    padding: 10px;
    min-height: 160px;
    max-height: 160px
}

#tagstable tbody tr.selected, #pltable tbody tr.selected {
    background-color: rgba(11,131,142,1.00)
}

/*#pltable tbody tr.selected {
    background-color: rgba(11,131,142,1.00)
}*/

.dataTables_wrapper .dataTable td, .dataTables_wrapper .dataTable th {
    padding: 3px 3px 3px 3px !important;
}

.act_left td:first-child {
    border-right: none
}

#tagstable_filter, #pltable_filter {
    display: flex !important
}

.card .card-header .btn {
    line-height: normal !important
}
/* END From prototype*/


/* Home page*/
.left-card .card-header {
    line-height: 1 !important;
}

.left-card, .right-card {
    min-height: 790px;
    height: auto;
}

.page-title {
    padding: 3px !important;
    font-size: 18px;
}

.hydro-table {
    width: 100%;
    font-size: 12px;
}

    .hydro-table tr:first-child {
        background-color: rgba(0,0,0,0.2);
    }

.step-hydro-cell {
    text-align: center;
    width: 40px;
    margin-top: 5px;
    font-size: 12px;
}

.hydro-red-row {
    background-color: rgba(102,16,17,0.7) !important;
}

#outstandings-chart {
    margin: 0px auto;
}

#outstanding-info {
    margin-top: 30px;
    margin-bottom: 0;
}

#outstanding-info-table {
    width: 100%;
}

.outstanding-table-flag {
    text-align: center;
    width: 40px;
}

.outstanding-table-desc {
    text-transform: uppercase;
}
/* END Home page*/

/******Hydrotest Packages ISO Assignment styles*/
.existing-testpacks {
    padding: 0px;
    padding-top: 5px;
}

.testpacks-info, .isometrics-area {
    height: 798px;
}

.iso {
    line-height: 1px;
}

.dataTables_wrapper .dataTable td, .dataTables_wrapper .dataTable th {
    padding: 8px 13px 5px 13px;
    line-height: 22px;
    align-content: center;
} 
.hydrotest {
    font-size: 18px;
}

#save-hydrotest {
    margin-top: 20px;
    font-size: 11px;
}

.testpacks {
    margin-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.2);
}

.existing-testpacks {
    font-size: 18px;
}

#tags_table {
    height: 200px;
    width: 100%;
    margin-top: 5px;
}

.promisdt tbody tr.selected {
    background-color: rgba(11, 131, 142, 1.00) !important;
    cursor: pointer !important;
    color: #fff !important;
}

.isometrics {
    line-height: 1;
    max-height: 60px;
}

#isometrics-assignment {
    font-size: 20px;
}

.iso-info, .piping-design {
    display: flex;
}

.total-iso {
    padding: 10px;
}

#select-iso {
    margin-left: 10px;
    font-size: 11px;
}

#assign-iso {
    font-size: 11px;
}

.iso-area {
    height: auto;
}

.geographical-area, .iso-class {
    height: auto;
}

.iso-system {
    height: auto;
    padding-left: 0.25rem;
}

.iso-subsystem {
    height: auto;
    padding-left: 0.25rem;
}

.iso-tbl {
    margin-top: 15px;
}

.table-iso {
    height: 620px;
    width: 100%;
}

/****** end of Hydrotest Packages ISO Assignment styles area*/

/* Styles for Punchlist page

style="display:flex;border-right: 1px solid rgba(255,255,255,0.2); "

    style="display:flex"
    style="padding: 5px"
*/

#punch-header {
    line-height: 1;
}
.row-26 {
    height: 26px;
}
.padding-right-5{
    padding-right: 5px;
}

.text-imput {
    margin-right: 10px;
    max-height: 25px;
}
#pl-cdate {
    background-color: rgba(0,0,0,0.2);
    margin-right: 10px;
    max-height: 25px;
    color: white
}
#pl-item, .ti-import, .ti-comment-alt {
    font-size: 16px;
    color: white
}
#pl-status {
    height: auto;
    background-color: rgba(0,0,0,0.2);
    color: white
}
.pl-status-option {
    background-color: #fff;
    color: #464a4c;
}
#pl-table {
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 600px;
}

.punchlist-system-ctrl {
    width: 50%; 
    padding-top: 5px;
}

.punchlist-system-ctrl-container {
    padding-left: 0px;
    padding-right: 0px;
}

#outstanding-search{
    cursor: pointer;
}

#item_table{
    min-height: 400px;
}
/* end Punchlist*/
