﻿/***** General styles (helpers) ******/
body {
    font-family: 'light';
}

.max-35-px {
    max-width: 35px;
}

.left-bordered {
    border-left: 1px solid rgba(255,255,255,0.2);
}

.right-bordered {
    border-right: 1px solid rgba(255,255,255,0.1);
}

.act-right {
    overflow-y: auto
}

.col-md-16 {
    margin-left: 0px !important;
    /*margin-top: 10px!important;*/
}

.act-left, .act-right {
    min-height: 798px !important;
    height: auto;
    padding: 5px
}
/*****end helpers         ***********/

/***** Tags Assignment Status styles ******/
#status-actions {
    overflow-y: auto;
    background: transparent;
}

.tag-subtitle {
    font-weight: bold;
    margin: 0;
}

.tags-assigned {
    font-size: 12px;
    color: white;
    line-height: 1;
    width: 70px;
}

.tags-not-assigned {
    font-size: 12px;
    color: white;
    line-height: 1;
    width: 70px;
}

.tags-followup {
    font-size: 18px;
}
.act_right hr {
    margin-bottom: 10px;
    margin-top: 13px;
}
/*****  end Tags Assignment Status styles ***********/

/***** Assign SOW to SubContractors styles ******/
#sow-assignment, .sow {
    width: 100%;
}

#sow-first-cell {
   width: 250px;
   min-width: 400px;
   padding-right: 10px;
}

#sow-header {
    padding:0;
    padding-top: 15px;
    padding-bottom: 15px;
}

#subconstractors {
    font-size: 12px!important;
    width: 180px;
    height: auto;
    display:inline-flex;
}

.sow-assign {
    font-size: 10px;
}

.sow-mhr {
    margin: 0;
    background-color: rgba(0,0,0,0.2);
}

#sow-mhrs-area {
    padding-left: 5px;
    padding-right: 5px;
}

#main-activity {
    width: 100%;
    line-height: 22px;
    border: 1px solid #666;
}

.main-activity-header {
    background-color: rgba(0,0,0,0.5);
    color: white;font-size: 12px;
}

.main-activity-tbl-cell {
    width: 150px;
}

.act_left td:first-child {
    border-right: 1px solid #999;
    color: #fff;
}

.act_left td:not(:first-child) {
    color: white;
}

.act_left td {
    padding: 2px 5px;
    font-size: 12px;
}

.main-activity-description {
    width: 150px;
    padding-right: 5px;
}

.progress-sow {
   background-color: #22bfed !important;
}

.sow-right-side {
    overflow-y: auto;
}

.sow{
    min-height: 790px;
    height: auto;
}

.sow-title {
    padding-top: 10px !important;
}

.head-sow {
    background-color: rgba(0,0,0,0.2) !important;
}

.selection-btn {
    font-size: 10px;
    text-transform: uppercase;
}

.activity-table {
    width: 100%;
    margin-left: 10px;
    background-color: rgba(0,0,0,0.2);
}

.activity-table-header {
    background-color: rgba(0,0,0,0.2);
    color: #aaa;
}

.activity-header {
    width :80px;
}

.activity-head {
    width :120px;
    text-align: center;
}

.sub-act-area {
   padding-top: 5px;
   padding-bottom: 5px;
}

.sub-activity {
    margin: 0;
}
/*****  end Assign SOW to SubContractors styles ***********/

/***** Assign Certification Plan to Tags styles ******/
.main-activities-container {
    margin-left: 0px;
    margin-top: 10px;
    border-right: 1px solid rgba(255,255,255,0.1);
}

.assign-inspection-main-button {
    font-size: 12px !important;
    margin-top: 10px;
    width: 48%
}

.color-222 {
    color: #222;
}

#table-data-container {
    padding-top: 0px;
}

.dataTables_wrapper .dataTable td, .dataTables_wrapper .dataTable th {
    padding: 3px 3px 3px 3px !important;
}

/*****  end Assign Certification Plan to Tags styles********/

/***** Certification Summary styles ******/
#steps-table {
    background-color: rgba(200, 212, 249, 0.1);
    display: none;
    height: 700px !important;
    overflow-y: auto;
}

#docs-iframe {
    height: 100%;
    width: 100%;
    background-color: rgba(200, 212, 249, 0.1);
    display: none;
    overflow-y: auto;
}

.followup-alert {
    font-size: 14px;
    margin-top: 10px;
}

.notes {
    margin-bottom: 0 !important;
    padding: 5px !important;
}

.notes-primary {
    background: #222 !important;
    color: white !important;
}
#folder-row {
    text-align: left;
    padding-top: 0px;
    padding-left: 5px;
    padding-bottom: 0px;
    padding-right: 0px;
}
font-size: 12px;
/*****  end Certification Summary styles ******/