﻿/***** General styles (helpers) ******/
body {
    font-family: 'light';
}

.max-35-px{
    max-width: 35px;
}

.left-bordered {
    border-left: 1px solid rgba(255,255,255,0.2);
}

.right-bordered {
    border-right: 1px solid rgba(255,255,255,0.1);
}

.act-right {
    overflow-y: auto
}

.col-md-16 {
    margin-left: 0px !important;
    /*margin-top: 10px!important;*/
}

.card-block {
    background-color: rgba(0,0,0,0.2) !important;
}

.act-left, .act-right {
    min-height: 798px !important;
    height: auto;
    padding: 5px
}

    /***** End helpers *****/
    /**** Styles for Assign Inspection Tags ****/

#main-activities-container {
    margin-left: 0px;
    margin-top: 10px;
    border-right: 1px solid rgba(255,255,255,0.1);
}

.assign-inspection-main-button {
    font-size: 12px !important;
    margin-top: 10px;
    width: 48%
}

.color-222 {
    color: #222;
}

#table-data-container{
    padding-top: 0px;
}

.dataTables_wrapper .dataTable td, .dataTables_wrapper .dataTable th {
    padding: 3px 3px 3px 3px !important;
}


/**** Styles for Progress & Systems ****/
.act_right{
    height:798px!important;
}

#status {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#first-border {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 20px;
}

#second-border {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 20px;
}

#chart-precom_overall, #chart-commissioning_overall {
    height: 300px;
}

.row-style {
    margin-top: 15px;
    overflow-y: auto;
}

.progress-activity {
    margin-bottom: 0px;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(0,0,0,0.2);
}

.media-body hr {
    margin-bottom: 10px;
    margin-top: 13px;
}

.progress-subtitle {
   font-weight: bold;
   margin: 0;
   line-height: 12px;
   text-align: center;
}

.tags-assigned {
  font-size: 12px;
  color: white;
  line-height: 1;
  width: 70px;
}

.tags-not-assigned {
    font-size: 12px;
    color: white;
    line-height: 1;
    width: 70px;
}

/***** End Progress & Systems *****/

/**** Styles for Loop Tests By System ****/
#loop-actions {
    overflow-y: auto;
}

#loop-title {
    font-size: 18px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 10px;
}

#loop-arrow {
    font-size:14px;
}

.middle-col {
    margin-left: 0px;
    margin-top: 10px;
}

#card-loop {
    overflow-y: auto;
    background-color:rgba(0,0,0,0)!important;
}

.accordion .card-header {
    background-color: rgba(0, 0, 0, 0.2)!important;
}

.card-header-loop{
    padding: 0.3rem 15px!important;
    line-height: 25px !important;
}

.tags-area {
    background-color: rgba(0,0,0,0.2);
}

.tag-title {
    font-size:16px;
}

.tag-table-area {
    margin:15px;
}

.tags-table {
    width: 100%;
    border: 1px solid rgb(108, 139, 239);
}

.tags-table-headers {
    background-color:rgba(108, 139, 239,0.5);
}

.progress-cell {
    text-align: center;
    font-size: 14px;
    padding: 5px;
}
/***** End Styles for Loop Tests By System *****/
/**** Styles for Certification Completition ****/
#act-right {
    overflow-y: auto;
    background: transparent;
}

.precommissioning-management {
    margin-bottom: 0px;
    border: 1px solid rgba(255,255,255,0.2);
}

.certification {
    font-weight: bold;
    margin: 0;
    line-height: 12px;
    text-align: center;
}

.management-title {
    background-color: rgba(0,0,0,0.2);
    margin-bottom: 5px; 
    font-size: 16px;
    text-align: center;
    width: 100%;
}

.certification-tags-assigned, .certification-tags-to-assign {
    font-size: 12px;
    color: white;
    line-height: 1;
    width: 70px;
}

.tags-followup {
    padding-top: 10px;
}

.text-follow-up {
    line-height: 2;
}

.follow-up-value {
    font-size: 18px;
}
/***** End Certification Completition styles *****/
/**** Styles for Inspection Follow-Up ****/
.notes-primary {
    background: #222 !important;
    color: white !important;
}

.notes {
    margin-bottom: 0 !important;
    padding: 5px !important;
}
.table td {
    padding: 0;
}
.sign-s {
    background-color: rgba(2,24,41,0.5) !important;
    height: 40px;
    overflow: hidden;
    resize: none;
    text-align: center;
    cursor: pointer;
}
.act-left hr {
    margin-bottom: 10px;
    margin-top: 10px;
}
#save-pres-followup {
    line-height: 0px !important;
}
.card-header-followup {
    line-height: 1px !important;
}
.followup-alert {
    font-size: 14px;
    margin-top: 10px;
}
.followup-checkbox {
    text-align: center;
    vertical-align: middle !important;
    width: 40px;
}
/***** End helpers *****/
/**** Styles for System Subdivision ****/
.page-title-system {
    font-size: 18px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    display: block;
    text-align: left;
    font-family: "robotothin"
}
#ti-angle-double-down {
    font-size:14px
}
#system-container, #loop-by-system {
    border-right: 1px solid rgba(255,255,255,0.1)
}
.middle-container {
    margin-left: 0px; 
    margin-top: 10px;
    border-right: 1px solid rgba(255,255,255,0.1)
}
.button-container {
    border-right: 1px solid rgba(255,255,255,0.1); 
    margin-top:10px
}
.system-main-button {
    font-size: 12px !important;
    margin-top: 10px;
    width: 60px
}
.progr {
    margin:0; 
    background-color: rgba(0,0,0,0.2)!important
}

.custom-control-description{
    margin-top: 10px;
}
/***** End System Subdivision *****/




