﻿/* Colors */
.blue-background {
    background-color: rgba(54, 162, 235, 1.00);
}

.green-background {
    background-color: rgba(4, 110, 23, 1.00);
}

/* General CSS */
#dashboard_container {
    /*margin: -8px;*/
}

.dashboard-h6 {
    margin: 0;
    padding-bottom: 10px;
}

.dashboard-h6-simple {
    margin: 0;
}

.highcharts-credits {
    display: none
}

.progress-perc-val {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    text-align: center;
}

.progress-profile {
    text-align: center;
}

.ribbon {
    padding: 0;
    margin-top: 0
}

.user-menu-items .btn-group .btn {
    padding: 1em;
    padding-right: 20px;
}

.vertical-text {
    transform: rotate(-90deg);
    margin-top: 80px;
}
/* General CSS End */


/* CSS Progress Charts */
#progress-monthly {
    margin-top: 30px;
}
/* CSS Progress Charts End */


/* CSS Main Activities */
#main-activities-overall {
    margin-top: 30px;
}

#main-activities-overall-table {
    max-height: 205px;
    overflow-y: auto;
    margin: 0;
}
/* CSS Main Activities Start */


/* CSS Trends */
#kpis-card {
    height: 525px; 
}

#kpis-container-outer {
    min-width: 320px;
    min-height: 504px;
}

.kpis-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    margin: 0;
    padding: 1rem !important;
    padding-bottom: 0 !important;
}

.no-margin {
    margin: 0px;
}

#kpis-container-certified {
    padding: 1rem !important;
}
/* CSS Trends End */


/* CSS Outstandings */
#outstanding-container {
    margin-top: 30px;
}

#outstandings-chart {
    margin: 0px auto;
}

#outstanding-info {
    margin-top: 30px;
    margin-bottom: 0;
}

#outstanding-info-table {
    width: 100%;
}

.outstanding-table-flag {
    text-align: center;
    width: 40px;
}

.outstanding-table-desc {
    text-transform: uppercase;
}
/* CSS Outstandings End */
