﻿/* Containers and generals */
#tags-content {
    display: none;
}

.tab-content {
    min-height: 738px;
}

#loading {
    margin: auto;
    margin-top: 200px;
    overflow: hidden;
}

#civil-schemas-title {
    padding-right: 15px !important;
    padding-top: 7px !important;
}

.tabs-label {
    width: 250px;
    margin-top: 6px;
    margin-left: -15px;
}
/* End Containers*/


/* Tags Display Styles */
.tags-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 0px;
    position: relative;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6 {
    display: block;
    padding: 3px;
    color: #999;
    height: 400px;
    overflow-y: auto
}

.tags-container .tab-content p,
.tags-container .tab-content h3 {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
}

.tags-container .tab-content h3 {
    text-align: center;
}

.tags-container [id^="tab"]:checked + label {
    background: #fff;
    box-shadow: inset 0 3px #0CE;
    margin-bottom: 5px;
}

.tags-container [id^="tab"]:checked + label .fa {
    color: #0CE;
}

@media only screen and (max-width: 768px) {
    .tags-container {
        width: 98%;
    }
}

.tags-container h5 {
    margin: 0px;
}

.tags-container [id^="tab"]:checked + label {
    background: #252d47;
    color: white;
}
/* END Tags Display Styles */


/* Custom Controls */
input, section {
    clear: both;
    padding-top: 10px;
    display: none;
    margin-top: 0px !important
}

label {
    font-size: 14px;
    display: block;
    float: left;
    width: 10%;
    padding: 3px;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
}

label.custom-checkbox, label.custom-radio {
    background: transparent;
    margin: 0;
    width: auto
}

span.custom-control-description {
    color: white;
    padding-left: 5px
}

label .fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 930px) {
    label span {
        font-size: 14px;
    }

    label .fa {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    label span {
        display: none;
    }

    label .fa {
        font-size: 16px;
    }
}

.img-thumbnail {
    background-color: darkcyan;
    border: 0px;
}

.schemas {
    width: 250px;
    border: 2px solid white;
}

.custom-control-indicator {
    left: 7px !important;
    top: 0.35rem;
}
.pdf-book {
    padding-right: 15px;
    padding-top: 7px;
}

.ti-book {
    color: #fff !important;
    font-size: 22px !important;
}

*, *::before, *::after {
    box-sizing: inherit;
}
/* END Custom Controls */

/* Content Animation */
@keyframes fadeInScale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
/* END Content Animation */


/* Custom card behavior */
.card {
    display: inline-block !important;
    background-color: transparent;
    padding: 5px 0;
}

.card-title {
    text-align: left;
}

.card .card-header {
    border: 0;
    height: 40px;
}

.card-header {
    padding-left: 5px !important;
}

.card-block {
    padding: 5px
}

.card .card-header .card-title {
    font-size: 14px;
    line-height: normal;
}

.card-block {
    cursor: pointer !important;
}
/* END Custom card behavior */


/* Custom Modal Behavior */
.modal-header, .modal-footer {
    padding: 5px;
    background-color: #333;
}

.modal-footer {
    justify-content: space-between
}

.modal-dialog {
    max-width: 775px !important
}
/* END Custom Modal Behavior */
