﻿.notes {
    margin-bottom: 0 !important;
    padding: 5px !important
}

.notes-primary {
    background: #222 !important;
    color: white !important
}

.toolbar {
    float: left;
}
/*End ofStyles for body*/


/**********************************************************************/
/*Styles for dropdown-menu*/
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover {
    color: #ccc
}

.dropdown {
    background-color: transparent !important
}

.dropdown a {
    padding: 3px;
}

.dropdown-divider {
    margin: 1px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-menu {
    width: 200px;
    padding: 5px;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    width: 200px;
}

#menu .dropdown-item {
    font-size: 14px;
    padding: 5px;
}

/*End of Dropdown-menu*/
