﻿.first-td {
    padding-right: 10px;
    text-align: right;
    min-width: 115px;
}

.sec-td {
    width: 20px;
    border-right: 1px solid rgba(255,255,255,0.2);
}

.td-simple {
    padding-left: 10px;
}

.ti-star {
    font-size: 10px!important;
}

.table th, .table td {
    vertical-align: middle
}