/*General styles*/

.dotted-line {
    padding: 0px !important;
    padding-left: 15px !important;
    border-left: 2px dotted #999 !important;
}

.btn-group {
    padding-right: 15px;
}
/* End general styles */


/* Container style */
body {
    line-height: 1.4 !important;
}

.container {
    background-color: transparent !important;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    min-height: 100%;
    background: rgba(39, 47, 74, 0.5);
    padding-top: 30px !important;
    padding-bottom: 50px !important;
}

.wrapper-content {
    padding-top: 40px !important;
}

.container .wrapper-content {
    /*margin-left: 0px !important;*/
    padding-top: 12px !important;
    margin-left: 0px !important;
    height: auto !important;
}
/*End container style*/


/* Dropdown menu */
.dropdown-divider {
    margin: 1px
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item {
    /*padding-top: 10px;*/
    padding: 5px;
    font-size: 14px !important;
}

.dropdown-menu {
    width: 200px;
    padding: 5px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    width: 200px;
}

.dropdown-toggle pull-right {
    padding-top: 10px;
}
/* End dropdown menu */


/* Engineering Menu styles */
#align-rows {
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
    margin-top: 0px;
}

.container-card {
    height: 828px !important;
    overflow-y: auto !important;
    width: 100%;
}

#first-td-style {
    padding-right: 10px !important;
    font-family: 'robotothin' !important;
    font-size: 24px !important;
}

#menu {
    width: 100%;
    border: 0px;
}

#menu .dropdown-item {
    font-size: 12px;
    padding: 5px;
}

#second-td-style {
    padding: 0 5px !important;
    padding-right: 5px !important;
    padding-left: 15px !important;
    border-left: 2px dotted #999 !important;
}

#civil-td-style {
    padding: 0px;
    padding-left: 15px;
    border-left: 2px dotted #999;
}

#td-third-style {
    padding: 0px;
    padding-left: 15px;
    border-left: 2px dotted #999;
}

.card-title text-white {
    font-weight: bold;
}

#title-text, #card-title {
    font-weight: bold;
}
/*End Engineering Menu styles*/


/* Style For Grid Home */
.table-engineering {
    font-size: 12px;
    border: 1px solid #eceeef;
    width: 100%;
}

.table-text-size {
    font-size: 14px;
    text-align: left;
}

.table table-striped table-bordered {
    font-size: 12px;
    border: 1px solid #eceeef;
}

.tr-first-style {
    font-size: 14px;
    text-align: center;
}
/* End Style for Grid Home*/