﻿.ui-jqdialog-title {
    padding-top: 5px;
    padding-left: 10px !important
}

td.ui-search-clear {
    display: none
}

.ui-jqgrid .ui-jqgrid-htable thead th, .ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td {
    padding-right: 8px
}

.form-control {
    height: 24px
}

.EditTable .FormData td {
    height: 27px !important
}

.testo input[type="checkbox"] {
    line-height: 1;
    min-height: 1px !important;
    display: inline
}

.testo td {
    line-height: 1 !important
}

#list_cb {
    text-align: center
}

#uploadFile {
    height: 25px;
    width: 250px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.bar {
    background-color: #6c8bef;
}

/*******************Styles which were inline*****************/
/*styles for id*/
#choose-file {
    height: 60px;
}

#importResults, #importProcessing {
    display: none;
}

#progress_div {
    display: none;
}

#switch-check {
    margin: 0;
}

#uploadFile {
    display: inline-block;
}

/*styles form classes*/
.can-toggle demo-rebrand-2 small {
   padding-top: 5px;
   padding-bottom: 5px;
}

.can-toggle__label-text {
    max-width: 50px !important;
}

.fileUpload .btn .btn-primary .btn-sm {
    margin: 0px !important;
}

.percent, #upload {
    display: inline;
}

.tbl-import {
    width : 100%;
    border:0 px;
    
}



