﻿/***** General styles (helpers) ******/
body {
    font-family: 'light';
}

.max-35-px {
    max-width: 35px;
}

.left-bordered {
    border-left: 1px solid rgba(255,255,255,0.2);
}
/***** End helpers *****/

/* From prototype */
.custom-control {
    margin: 0;
    margin-left: 5px;
}

.nav-link {
    line-height: 1.2 !important
}

.progressprofile {
    padding: 5px;
}

.card-footer {
    padding: 0.3rem 1.25rem
}

.act_left, .act_right {
    padding: 5px;
    height: auto;
    min-height: 790px;
}

.act_left hr {
    margin-bottom: 10px;
    margin-top: 10px
}

.act_left td:first-child {
    border-right: none
}

.act_right hr {
    margin-bottom: 10px;
    margin-top: 10px
}

.notes-new-kpi {
    border: 1px solid rgba(127,3,5,1.00) !important;
    border-radius: 5px;
    border-left: 30px solid rgba(127,3,5,1.00) !important;
    padding: 5px;
    background-color: transparent;
    margin-top: 0px;
    height: 40px
}

.notes-new-info {
    border: 1px solid rgba(0,128,190,1.00) !important;
    border-radius: 5px;
    border-left: 30px solid rgba(0,128,190,1.00) !important;
    padding: 5px;
    background-color: transparent;
    margin-top: 0px;
    height: 40px
}

.b_right {
    border-right: 1px solid rgba(255,255,255,0.2);
}

.blocco {
    background-color: rgba(0,0,0,0.2);
    color: white;
    margin-right: 15px;
    padding: 10px;
    min-height: 160px;
    max-height: 160px
}

#sys_list tbody tr.selected {
    background-color: rgba(11,131,142,1.00) !important;
    cursor: pointer
}

#subc_list tbody tr.selected {
    background-color: rgba(11,131,142,1.00) !important;
    cursor: pointer
}

#sys_list_fup tbody tr.selected {
    background-color: rgba(11,131,142,1.00) !important;
    cursor: pointer
}

#table_sys_filter {
    display: flex !important
}

.dataTables_wrapper .dataTable td, .dataTables_wrapper .dataTable th {
    padding: 3px 3px 3px 3px !important;
}

.card .card-header .btn {
    line-height: normal !important
}

.page-title {
    padding: 3px !important;
    font-size: 18px;
}

.activity-block {
    margin: 0;
    padding: 5px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.1);
}

.page_subtitle {
    font-weight: bold;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px
}

#conf_ftc {
    -webkit-transition: display 2s; /* Safari */
    transition: display 2s;
}
/* END From prototype*/


/* Home page */
.left-header, .right-header {
    line-height: 1;
}

.left-block {
    background-color: rgba(0,0,0,0.2);
}

.right-block {
    background-color: rgba(0,0,0,0.2);
    overflow-y: auto;
}

.left-block .container-fluid {
    position: absolute;
    display: none;
    overflow-y: auto;
    top: 0px;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #666;
}

.left-menu {
    margin-left: 0px;
    margin-top: 10px;
}

.left-menu .notes {
    cursor: pointer;
}

.favorites-icon {
    font-size: 18px;
    margin-left: -40px;
}

.favorites-text {
    font-size: 16px;
}

.favorites-circle {
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 16px;
    cursor: pointer;
}

.left-menu-table {
    width: 100%;
    margin-top: 10px;
}

.left-menu-table tr {
    height: 40px;
    cursor: pointer;
}

.left-menu-table tr td {
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
    padding: 2px 5px !important;
}

.kpi-block {
    max-height: 154px;
}

.progress_profile_code {
    width: 30px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
}

.progress_profile_code.warn {
    background-color: rgba(168,99,0,1.00);
}

.progress_profile_code.done {
    background-color: rgba(3,94,28,1.00);
}

.progress_profile_code.none {
    background-color: rgba(107,2,3,1.00);
}

.progress_profile_description {
    padding: 0;
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.kpi-details-table {
    font-size: 12px;
}

.kpi-details-table tr:first-child {
    vertical-align: bottom;
}

.kpi-details-table tr:last-child {
    vertical-align: top;
}

.progressprofile .percent {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
}

.configurator-title {
    color: white;
    text-align: left;
    font-size: 18px;
    background-color: rgba(0,0,0,0.5);
    margin-top: 10px;
}

.configurator-block {
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.3);
}

.configurator-block .media-body {
    background-color: rgba(0,0,0,0.2);
    padding-left: 5px;
}

.configurator-block .media-body table {
    width: 100%;
    color: white;
    text-align: left;
}

.configurator-block .toggle-container {
    padding-top: 5px;
    padding-bottom: 5px;
}
/* END Home page*/

/* Completion Overview */
.card-margined{
    margin-left: 0px;
    padding-right: 0px;
}

.progress-percent-display {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
}

#pl-status-chart{
    width: 100%;
    display: block;
}

.completion-bolded-subtitle {
    font-weight: bold;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}

#construction-chart{
    padding: 10px;
}

.completion-card-chart{
    height: 395px;
}

.completion-card-chart .activity-block{
    height: 50%;
}
/* END Completion Overview*/

/*SubContractor Performance Indicators page styles*/
#completion-subcontractor {
    padding-left: 0;
    padding-right: 0px;
}

#sub-activities-subcontractor {
    height: 200px;
}

.card-header {
    line-height: 1 !important;
}

.subcontractors-subactivities {
    font-size: 18px;
}

.subcontractor-sow {
    font-size: 18px;
    padding: 3px !important;
}

#subcontractor {
    background-color: rgba(0,0,0,0.2);
    overflow-y: auto;
}

#subc-sow {
    margin-left: 0px;
    margin-top: 10px;
}

#completion-sow {
    padding-right: 10px;
    margin-top: 10px;
}

#left-panel {
    padding-left: 0;
}

#right-align {
    padding-right: 0px;
}

#promisdt-kpi-sow tbody tr.selected {
    background-color: rgba(11,131,142,1.00)
}

.completion-right-side {
    height: 200px;
}

.performance-title {
    font-size: 18px;
}

#btn-subcontractor-act {
    font-size: 14px;
    padding: 5px;
    height: 30px !important;
}

#tit_sa {
    font-size: 16px;
}

#subcontractor-progress {
    font-size: 18px;
    padding: 3px !important;
}

.subc-perform {
    background-color: rgba(0,0,0,0.2);
    overflow-y: auto;
}

.chart-div-area {
    padding: 5px;
    padding-top: 0;
}

#chart-progress-sow {
    display: block;
    width: 1059px;
    height: 300px;
}

.data-analysis {
    height: 280px;
}

.white-cells {
    color: white;
}

#chart-progress-sow-week {
    display: block;
    width: 1059px;
    height: 300px;
}
/* END SubContractor Performance Indicators*/


/* Milestones */
#save-button {
    margin-left: 0px;
    font-size: 12px;
    color: #222;
    width: 70px;
    cursor: pointer;
}

.left-block .milestones-table-container {
    margin-left: 0px;
    background-color: transparent;
}

.milestones-table-container .promisdt tbody tr.selected {
    background-color: rgba(11, 131, 142, 1.00) !important;
    cursor: pointer !important;
    color: #fff !important;
}

.milestones-table-container .card{
    background-color: transparent;
}

.editable-card {
    margin-bottom: 5px;
    border: 1px solid rgba(255,255,255,0.2);
}

.milestones-td-title {
    white-space: nowrap;
    padding: 5px;
    text-align: right;
}

.milestones-td-input {
    max-height: 25px;
    max-width: 90px;
}

.milestones-pdf-container {
    height: 100%;
    border: 1px solid rgba(255,255,255,0.2);
}

.milestones-pdf-container .card-block {
    padding: 5px;
    height: 100%;
}

.milestones-pdf-container .col-md-16 {
    padding: 5px;
    height: 100%;
}

.milestones-pdf-container iframe {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    overflow-y: auto;
}
/* END Milestones */