﻿.background {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

#login-btn {
    cursor: pointer;
    min-width: 100%;
}

#logo-image {
    margin-top: 50px;
    width: 90%;
}

.side_signing_full {
    position: absolute;
    text-indent: inherit;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ddd;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #ddd;
}

.form-control:-ms-input-placeholder { /* IE 10+ */
    color: #ddd;
}

.form-control:-moz-placeholder { /* Firefox 18- */
    color: #ddd;
}