﻿#country {
    height: auto !important;
    padding-left: 0.25rem !important;
}

#interface-language-row {
   margin-top: 3px;
}

#social-profile {
    text-align :center; 
    height: auto;
}

#social-profile-img {
    margin: 0;
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px
}

/*classes for styles*/

.custom-control {
    margin: 0
}

.img-h {
    height: 150px !important;
}

/* end of classes fpr styles*/
