﻿/***** General styles (helpers) ******/
.card-header {
    line-height: 1px!important;
}

.pull-right {
    margin-right: 10px!important;
}

.act_left, .act_right {
    padding: 5px;
}

.card-block {
    background-color: rgba(0,0,0,0.2) !important;
}

.col-md-16 {
    margin-left: 0px !important;
    /*margin-top: 10px!important;*/
}
/***** End helpers **********/


/*********Styles for Layout*************/
#align-rows {
    height: 50px;
    border-bottom: 1px solid #999;
}

#title-height {
    font-size: 24px !important;
}

.title-text {
    padding: 3px !important;
}

.pull-right {
    padding: 5px !important;
}

.nav-item {
    margin-bottom: 5px !important
}

/*******End of Styles for layout*******/



/*********Style for Job Planning Overview page********/
#preservation-act {
    font-size: 18px;
}

#job-plan {
    font-size: 18px;
}

.card.act_left {
    min-height: 798px !important; /*was 200*/
    height: auto;
}

.act_left hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

.card.act_right {
    min-height: 798px !important; /*was 200*/
    height: auto;
}

#job-plan-action {
    overflow-y: auto !important;
}

                    /******Styles for Preservation Actions - right Part of the Planning Overview*/

#pres-actions {
    width: 100%;
    border: 1px solid rgba(255,255,255,0.2);
}

.first-row {
    background-color: rgba(0,0,0,0.2);
}

.td-style {
    padding: 10px;
    text-align: center;
}

.padding-style {
    padding: 5px;
}

.background-style {
    background-color: rgba(0,0,0,0.2);
    padding: 5px;
}

.badge-style {
    padding: 10px;
    font-size: 16px;
    color: #222;
    width: 36px;
}

#job-plan-actions {
    overflow-y: auto;
    height: 698px;
}

/******Styles for Preservation Actions - right Part of the Planning Overview*/


/*******************************End of Job Planning Overview styles area****************************/
/****** Style for  Job Assignment page********/
#assignment {
    font-size: 18px;
    display: inline-block
}

.background-ja-dates {

    border: 1px solid rgba(200, 212, 249, 0.2) !important;
    background-color: transparent !important;
    color: #c8d4f9 !important;
}

#tag-location {
    height: auto;
    background-color: rgba(0,0,0,0.2);
    color: white;
}

.options-tag-loc {
    background-color: #fff;
    color: #464a4c;
} 

.ddl-option {
    background-color: #fff;
    color: #464a4c;
} 

.row-margin {
    margin-top: 15px;
}

#maintain-date {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 25px;
}

.col-md-8 {
    display: flex!important;
}

.restoration {
    padding-right: 5px;
}

#restor-date {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 25px;
}

#row-height {
    height: 50px;
}

/*#pres-plan-info {
    display: none!important;
    
}*/

#pres-info-corner {
    margin-left: -40px !important;
    padding: 10px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    color: white !important;
}

#preservation-plan {
    font-size: 14px;
    margin: 5px;
    padding-left: 15px;
    color: white;
}

#pres-code-btn {
    font-size: 12px;
    width: 100px;
    text-align: center;
    background-color: rgba(0,128,190,1.00) !important;
    cursor: pointer;
}

.pres-frequency {
    padding-right: 50px !important; /*insted of 40px*/
    margin-top: 5px !important;
}

#pres-frequency {
    font-size: 16px;
    padding-top: 5px;
    padding-right: 10px !important;
    /*margin-top: 25px !important;*/
}

.title-font {
    font-size: 18px !important;
}

.cols-margin {
    margin-left: 0px !important;
    margin-top: 15px !important;
}
/*added content 8 Janury 2018*/

.notes-new-info {
    border: 1px solid rgba(0,128,190,1.00) !important;
    border-radius: 5px;
    border-left: 30px solid rgba(0,128,190,1.00) !important;
    padding: 10px;
    background-color: transparent;
    margin-top: 10px;
    height: 50px
}
.badge-number {
    top:30px!important;
    right:55px!important;
}

.badge-number:after {
    width: 20px !important;
    height: 20px !important;
    margin-top: 2px !important;
}


.promisdt tbody tr.selected {
    background-color: rgba(11, 131, 142, 1.00)!important;
    cursor: pointer!important;
    color:#fff!important;
}

.card .card-header .btn {
    line-height: 0px !important
}

.margin-pull {
   margin-right: 10px;
}

#save-btn {
    font-size: 11px;
}

#tline {
    background-color: rgba(0,0,0,0.2);
}

.init-week-container{
    margin-top: 8px;
}

#actions-follow-up {
    overflow-y: auto !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    height: auto;
}
/*End of styles for Follow up page*/


