﻿/*REGION: Progress Status */

#home {
    min-width: 1280px;
}

.card-header .row{
    padding-top: 2px;
}

.bordered-column-right {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.bordered-column-right-3 {
    border-right: 1px solid #333;
}

.bordered-column-left {
    border-left: 1px solid rgba(255,255,255,0.1);
}

.bordered-column-bottom {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.title-case{
    padding: 15px 0;
    margin: 0;
    display: block;
    text-align: left;
    font-family: 'robotothin';
    font-size: 24px;
}

.title-case-sm{
    font-size: 20px !important;
}

.updated-at{
    font-size: 16px;
    padding: 0px !important;
}

.updated-at .ti-angle-double-right{
    font-size: 12px;
}

.current-datetime {
    padding-left: 0px;
}

.current-datetime .pull-left{
    font-family: light;
    font-size: 16px;
    color: aqua;
}

.activities-container {
    margin-left: 0px;
    margin-top: 0px;
    border-right: 1px solid rgba(255,255,255,0.1);
}

#chart-progress-all{
    height: 300px;
}

#chart-progress-month {
    height: 300px;
}

#progress-table-container{
    /*visibility: hidden;*/
    min-height: 187px;
    text-align: center;
    align-items: center;
}

#progress-table-container .table-sm {
    margin: auto;
    margin-top: 50px;
    font-size: 11px;
}

.table-bordered th, .table-bordered td {
    border: 1px solid rgba(255,255,255,0.1);
}

#table-header-hidden {
    width: 150px;
    text-align: right;
    border-top: hidden;
    border-left: hidden;
}

.table-progress-cell {
    background-color: transparent;
    width: 40px;
    min-width: 40px;
    height: 28px;
    text-align: center;
}

.table-progress-cell-current {
    background-color: rgba(207,144,8,1.00) !important;
    color: #000 !important;
    font-weight: 600;
}

.table-progress-row {
    text-align: right;
    height: 30px;
}

.table-progress-row td {
    padding-right: 2px;
}

#table-progress-lastrow {
    text-align: center;
    height: 30px;
    border-bottom: hidden;
    border-left: hidden;
    font-size: 14px;
}

#table-progress-lastrow td {
    border-right: hidden;
}

.progress-info{
    display: none;
}

#table-progress-hand {
    font-size: 18px;
}

#table-progress-delayfull {
    color: #fff;
    background-color: #900;
}

#table-progress-delaysmall {
    color: #fff;
    background-color: rgba(3,86,12,0.5);
}

#table-progress-completed {
    color: #fff;
    background-color: rgba(3,86,12,1.00);
}

#table-progress-otherx {
    color: #fff;
    background-color: rgba(3,86,12,1.00);
}
/*END REGION*/


/* REGION: Quantities */
.table-bordered th, .table-bordered td {
    border: 1px solid rgba(255,255,255,0.1);
}

.dataTables_wrapper .dataTable td, .dataTables_wrapper .dataTable th {
    padding: 3px 3px 3px 3px !important;
}

#card-quantities-container{
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

#card-quantities-container .card-header {
    padding-bottom: 0;
    padding-top: 0px;
}

.discrepancy-bordered {
    border: 1px solid #fff;
}

.discrepancy-low-color {
    background-color: #ffcc00;
}

.discrepancy-high-color {
    background-color: rgba(55,1,2,1.00);
}

#q-dropdown-button{
    font-size: 10px;
}

#quantities-container{
    min-height: 777px;
    height: auto;
}

#promisdt-quantities {
    width: 100% !important;
    border: 1px solid rgba(255,255,255,0.3);
}

#promisdt-quantities-header tr {
    background-color: rgba(0,0,0,0.2);
    text-align: center;
}

.activity-row {
    color: #fff;
    font-weight: bold;
}

.activity-row td:first-child {
    padding-left:5px !important;
}

.activity-row td:last-child {
    text-align: center;
}

.subactivity-row td:first-child {
    padding-left: 10px !important;
}

.budget-input {
    width: 90px;
    padding: 1px;
    margin: 0px;
    margin-top: 5px !important;
    text-align: center;
}

.budget-mhrs{
    margin: 0px auto;
}

.dashed-row {
    color: #fff;
    font-weight: bold;
}

.dashed-row td:not(:last-child) {
    border-top: 1px #fff dashed;
}

.dashed-row td:last-child {
    text-align: center;
}
/* END REGION*/

/* REGION: Follow-UP */
#umid {
    padding: 5px;
    color: white;
    background-color: rgba(255, 255, 255, 0.10);
}

.chart-titles {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    text-align: center;
}

#followup-container-card{
    min-height: 790px;
    height: auto;
}

#followup-container-card .hitd {
    background-color: rgba(0,0,0,0.2);
}

#promisdt-followup{
    font-size: 12px;
}

#promisdt-followup .header-row {
    background-color: #ccc;
    color: #000;
    text-align: center;
}

#promisdt-followup .cell {
    border-right: 1px solid #222;
}

#promisdt-followup .cell-large {
    width: 250px;
}

#promisdt-followup .cell-medium {
    width: 60px;
}

#promisdt-followup .cell-medium-small {
    width: 50px;
}

#promisdt-followup .cell-small {
    width: 45px;
}

#followup-table-rows-container{
    width: 100%;
    min-height: 400px;
    overflow-y: auto;
}

#followup-table-rows-container table{
    width: 100%;
    font-size: 12px;
}

#promisdt-followup .card-footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.page-changer-span {
    font-size: 16px;
}

#followup-paginator{
    vertical-align: middle;
    width: 50px;
}

#page-text {
    width: 250px;
    height: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.editable-input {
    width: 100%;
    padding: 1px;
    margin: 0px;
    text-align: center;
}
/* END REGION */

/* REGION Progress */
.no-big-margins{
    margin-top: 9px !important;
}

.no-big-cardheader{
    padding: 0.2rem 15px;
}

#left-dynamic-menu td:first-child {
    border-right: none;
    color: #fff;
}

#left-dynamic-menu tr:first-child td, #left-dynamic-menu tr:nth-child(2) td {
    border-bottom: 1px solid #999;
    color: #fff;
}

#left-dynamic-menu td:last-child {
    border-left: 1px solid #999;
    color: #fff;
}

.blue-colored {
    background-color: rgba(108,139,239,0.7);
}

.red-colored {
    background-color: darkred;
}

.green-colored {
    background-color: darkgreen;
}

#right-display hr {
    margin-bottom: 9px !important;
    margin-top: 9px !important;
}

#docs-iframe {
    height: 100%;
    width: 100%;
    background-color: rgba(200, 212, 249, 0.1);
    display: none;
    overflow-y: auto;
    min-height: 450px;
    min-width: 350px;
}
/* the rest of them are on project.css */
/* END REGION*/

/* REGION Planning Overview */
.overview-row{
    height: auto;
    min-height: 790px;
}

.overview-table {
    margin-left: 10px;
    background-color: rgba(0,0,0,0.2);
    font-size: 12px !important;
    width: auto;
}

.overview-table thead tr {
    background-color: rgba(0,0,0,0.2);
    color: #aaa;
    height: 30px;
}

.overview-table thead tr th:first-child {
    width: 60px;
    text-align: center;
}

.overview-table thead tr th:nth-child(2) {
    width: 250px;
    padding-left: 0.3rem;
}

.mhrs-header {
    font-size: 10px;
    text-align: center;
}

.mhrs-header.upper-header {
    width: 40px;
    min-width: 40px;
    padding: 0px !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
}

.fixed-dimensions-cell {
    width: 40px;
    min-width: 40px;
    height: 28px;
    min-height: 28px;
    text-align: center;
}
.fixed-dimensions-cell.padded {
    padding-left: 0.3rem;
    text-align: left;
}
/* END Region */

