﻿/***** General styles (helpers) ******/
body {
    font-family: 'light';
}

.max-35-px{
    max-width: 35px;
}

.left-bordered {
    border-left: 1px solid rgba(255,255,255,0.2);
}
/***** End helpers *****/

.blob-style{
    padding-left: 0!important;
    padding-top: 15px!important;
}

.block_user_inspector_type td, .block_user_inspector_type th {
    padding: 3px;
    line-height: 24px
}
.button-width{
    width: 20px;
}

.calendar table.month th.month-title {
    font-size: 18px !important;
    padding-bottom: 5px;
    font-weight: normal !important
}

.calendar table.month tr td .day-content {
    font-size: 12px !important;
}

.card-second-head{
    display: flex !important;
    width: 100% !important;
}

body.menuclose .fullscreen {
    margin-left: 0px !important;
    padding-right: 0px !important;
}

.custom-control {
    margin: 0;
}

.cutoff {
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    color: rgb(0, 0, 0);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 0.25em 0.25em;
    border-radius: 0.25rem;
    width: 25px;
}

.div-card{
    padding: 5px;
    margin-top: 40px;
    text-align: center;
}

.div-margin {
    margin: 0;
}

.div-margin-top-sm {
    margin-top: 10px;
}

.div-overflow-simple {
    overflow-y: auto;
}

.form-style{
    height: auto;
}

.fullscreen {
    top: 59px !important;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px !important;
    margin: 0 270px !important;
    padding-right: 270px !important;
    transition: 0.5s ease all !important;
}

.fullscreen-btn{
    padding: 0px !important;
}

.fullscreen-btn .fa{
    vertical-align: 0%;
}

.lat {
    font-size: 12px;
}

.lon {
    font-size: 12px;
}

.main-activity {
    height: auto;
    margin-bottom: 7px;
}

.mydate {
    text-align: center
}


.card .btn-primary.active {
    background-color: #0a30ab
}

.card-cont {
    height: 700px;
}

#logo-display{
    max-height: 150px;
}

.logo-style {
    background-color: white;
    padding: 2px;
    height: 40px;
}

.paragraph-style{
    margin: 0;
    padding: 10px 12px;
}

.progress {
    width: 100%;
    display: inline-flex;
    background: #6c8bef;
    position: relative;
    overflow: visible;
    margin-bottom: 10px
}

.progress .progress-bar {
    height: 7px;
}


.progress .progress-bar .trackerball {
    height: 10px;
    width: 10px;
    float: right;
    position: relative;
    top: -2px;
    right: -2px;
    background: #ffffff;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-shadow: 0 0px 6px 0px white;
    -moz-box-shadow: 0 0px 6px 0px white;
    -ms-box-shadow: 0 0px 6px 0px white;
    box-shadow: 0 0px 6px 0px white;
}

.progress .progress-bar .trackerball2 {
    height: 10px;
    width: 10px;
    float: left;
    position: relative;
    top: -2px;
    left: -2px;
    background: #ffffff;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-shadow: 0 0px 6px 0px white;
    -moz-box-shadow: 0 0px 6px 0px white;
    -ms-box-shadow: 0 0px 6px 0px white;
    box-shadow: 0 0px 6px 0px white;
}	

.span-style{
    margin-right: 10px;
}
.submit-button {
    margin-top: 2px;
}
.table-width{
    width: 100%;
}
.users-sel {
    width: 300px;
}

/*****End of Styles for classes******/

/*Style for ids */
#button-style {
    font-size: 10px;
}


#div-margin-top{
    margin-top: 15px;
}

#div-max-width{
    max-width: 100%;
}


#div-overflow {
    overflow-y: auto;
    margin: 0;
}

#div-overflow-margin-left {
    overflow-y: auto;
    margin-left: 10px;
}

#div-pad-rebrand {
    padding-top: 5px;
    padding-bottom: 5px;
}

#div-pad-top{
    padding-top: 15px;
}

#div-rebrand-style{
   padding-top: 5px;
   padding-bottom: 5px;
}

#first-form{
    width: 100%;
    margin: 0;
}

.first-td{
    width : 50%;
}

#floating-panel{
    display: flex !important;
}

#i-style{
    line-height: 1;
}

#input-text-style{
    width: 60px;
    text-align: right;
}

#label-style {
    margin: 0;
}

#logo-new {
    height: auto !important;
    width: 100% !important;
}

#reload-chart {
    padding: 3px 8px;
    line-height: 1;
}

#table-margin-left {
    margin-left: 10px;
}

#td-display{
    display: flex;
}

#td-style {
    font-size: 10px;
    width:40px;
}

#ul-margin-left{
    margin-left: 15px;
}

.validate-style {
    width: 60px;
    text-align: right;
}

/*End of Styles for ids*/


/* Style for Certification page*/
.dropdown-item{
    cursor: pointer;
}

.bordered-right {
    border-right: 1px solid rgba(255,255,255,0.1);
}

#main-activities-container {
    margin-left: 0px;
    border-right: 1px solid rgba(255,255,255,0.1);
}

#related-activities {
    margin-bottom: 5px;
}

.table-legend {
    font-size: 11px;
}

.table-legend:after {
    background-color: rgba(0,0,0,0.2);
    content: " ";
    position: absolute;
    left: 0px;
    right: 5px;
    bottom: 0px;
    top: 0px;
}

.table-legend table {
    width: 100%;
    margin-bottom: 0px;
}

.table-legend-cell {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.table-container {
    margin-top: -30px;
}

/* End Style for Certification page*/


/* Style for Planning page*/
#planning-header {
    padding: 5px;
    margin-top: 40px;
    text-align: center;
}

#planning-header table{
    width: 100%;
    margin-bottom: 7px;
}

#left-outmost-container{
    width: 335px !important;
    max-width: 335px;
}

#main-activities-menucell {
    width: 80%;
}

#main-activities {
    height: auto;
    margin-bottom: 7px;
}

#actions-button {
    font-size: 10px;
    height: 23px !important;
    margin-bottom: 5px;
}

#left-dynamic-menu {
    overflow-y: auto;
    padding-bottom: 25px !important;
}

.activity-title{
    color: orange !important;
}

#left-dynamic-menu, #right-display {
    min-height: 30px;
}

#left-dynamic-menu, #right-display {
    padding: 5px;
}

#left-dynamic-menu td {
    padding: 2px 5px;
    font-size: 12px;
}

#left-dynamic-menu td:not(:first-child) {
    color: white;
}

#left-dynamic-menu td:first-child {
    border-right: 1px solid #999;
    color: #fff;
}

#left-dynamic-menu hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

#left-dynamic-menu table{
    width: 100%;
}

#left-dynamic-menu table:last-child {
    margin-bottom: 10px !important;
}

.left-menu-startcell {
    width: 20%;
    color: #fff;
    font-size: 14px;
}

.fixed-height-cell{
    overflow: hidden;
    max-height: 22px;
}

.left-menu-buttonscell{
    width: 13%;
    padding-top: 5px !important;
}

.mydate{
    max-width: 103px;
}

#mhrs-container {
    margin: 0;
    padding: 20px 12px;
    padding-top: 0px;
    height: 40px;
}

#mhrs-container table {
    font-size: 14px;
    color: white;
    display: none;
}

#mhrs-container .mhrs-budget {
    background-color: #43b4d7;
    padding: 0 5px;
    width: 60px;
    text-align: center;
}

#mhrs-container .mhrs-title {
    padding-left:30px;
    text-align: right;
}

#planning-table-container{
    overflow-x: auto;
}

#planning-table-container .card-header {
    padding: 5px;
    overflow-x: auto;
}

#mhrs-header{
    margin-top: -4px;
    margin-bottom: 5px;
}

.mhrs-header {
    font-size: 10px;
    text-align: center;
}

.mhrs-header.upper-header{
    width: 40px;
    min-width: 40px;
    padding: 0px !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
}

.mhrs-header.lower-header {
    width: 40px;
    min-width: 40px;
    height: 28px;
    min-height: 28px;
}

.fixed-dimensions-cell {
    width: 40px;
    min-width: 40px;
    height: 28px;
    min-height: 28px;
    text-align: center;
}

#right-display {
    overflow-y: auto;
    overflow-x: auto;
    margin-left: 10px;
}

#right-display hr {
    margin-bottom: 10px;
    margin-top: 10px
}

#right-display td {
    padding: 0;
    font-size: 12px;
}

#right-display input {
    padding: 0;
    line-height: 25px;
    border-radius: 0;
    text-align: center;
}

#right-display table:last-child {
    margin-bottom: 17px;
}

.progress-tracker-container{
    height: 49.5px !important;
}

.progress-baseline {
    margin-top: 5px;
}

.progress-planned {
    display: flex;
    margin-top: 3px;
    /*margin-bottom: 11px;*/
}

.progress-bar-full-width{
    width: 100%;
}

.row-planning{
    height: 30px;
}

.hr-replacement {
    width: 40px;
    min-width: 40px;
    border: none !important;
}


/* End Style for Planning page*/


/* Style for cutoff page*/
#language-changer-container {
    display: flex !important;
}

#language-changer-container .language-changer {
    height: 22px !important;
    cursor: pointer;
}

#language-changer-container .language-changer img{
    width: 20px;
    vertical-align: middle;
}

.cat{
    height: 100%;
    min-height: 783px;
}
/*End of Style for cutoff page*/


/* Style for user page*/
.ex_users .card-header{
    display: flex;
    height: 35px;
}

#selected-user-autocomplete {
    width: 300px !important;
}

#personal-info-title {
    margin: 0;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}

.hr-line-style {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.social-profile-cover {
    height: auto;
}

#interface-language-row{
    margin-top: 5px;
}

.modules-container {
    overflow-y: auto !important;
    margin-top: 10px;
}

.modules-container table {
    font-size: 14px;
}

.modules-container table thead tr {
    text-transform: uppercase;
    font-size: 12px;
    background-color: rgba(0,0,0,0.3);
    line-height: 24px;
}

.module-description {
    margin: 0;
    margin-left: 10px;
    line-height: 24px;
}

#user-type-container {
    display: flex; 
    margin-top: 15px; 
    margin-bottom: 30px;
}

.semi-title-h6 {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    background-color: rgba(0,0,0,0.3);
    line-height: 24px;
}

#subcontractors-select {
    max-width: 200px;
    height: auto;
    margin-left: 5px;
}

#user-activities-container{
    padding-left: 0px;
    padding-right: 0px;
}

/* End style for user page*/