﻿@using Promis.NET.MCV.Extensions
@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@using Promis.NET.Roles
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Certification.CertificationAssignSOWViewModel

@{ 
    var isAdmin = User.IsInRole(LocalRoles.ResponsabilityAdmin);
    var isWriter = isAdmin || User.IsInRole(LocalRoles.ModuleWriteCertificationManagement); 
}

<div class="tab-pane active" id="sow" role="tabpanel">
    <div class="row">
        <div class="col-md-4">
            <div class="card sow">
                <div class="card-header" id="sow-header">
                    <div class="col-md-16">
                        @LocalResources.Subcontractor&nbsp;
                        <select class="form-control" id="subconstractors" name="subconstractors">
                            <option></option>
                            @for (int i = 0; i < Model.Subcontractors.Count; i++)
                            {
                                <option value="@Html.Raw(Model.Subcontractors[i].Code)">@Model.Subcontractors[i].Description</option>
                            }
                        </select>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-info dropdown-toggle sow-assign" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@LocalResources.Actions</button>
                            <div class="dropdown-menu">
                                @if (isWriter)
                                {
                                    <a class="dropdown-item" id="save-activities" href="#">@LocalResources.SaveActivitiesBySubcontractor</a>
                                    <div class="dropdown-divider"></div>
                                }
                                <a class="dropdown-item" id="export-certification-data" href="#">@LocalResources.ExportDataToExcel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-block act_left">
                    <div class="row">
                        <div class="col-md-16">
                            <div class="card">
                                <div class="card-header">
                                    <p class="text-white text-center sow-mhr">@LocalResources.MhrsDistribution</p>
                                </div>
                                <div class="card-block" id="sow-mhrs-area">
                                    <table class="table-sm" id="main-activity">
                                        <tr class="main-activity-header">
                                            <td class="main-activity-tbl-cell" align"center">@LocalResources.MainActivity.ToUpper()</td>
                                            <td>
                                                <span class="pull-left">0</span>
                                                <span class="pull-right">50%</span>
                                            </td>
                                        </tr>
                                        @foreach (var item in Model.ActivitiesMhrs)
                                        {
                                            <tr>
                                                <td class="main-activity-description" align="right">@item.Key</td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped progress-sow" role="progressbar" style="width: @Html.Raw(item.Value + "%");" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="50"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card sow">
                <table id="sow-assignment">
                    <tr>
                        <td style="vertical-align: top;">
                            @{ Html.RenderAction("GetSubcontractorsAccordion", new { projectId = User.Identity.GetProjectId() }); }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/helpers/import-export.js"></script>
<script>
    GLOBAL_DATA.TRANSLATIONS = {

        @Model.GetPropertyName(() => LocalResources.FirstSelectASubcontractorToAssignTo): @LocalResources.FirstSelectASubcontractorToAssignTo.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.SelectDeselect): @LocalResources.SelectDeselect.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ChooseASubcontractorFirst): @LocalResources.ChooseASubcontractorFirst.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.NoDataModified): @LocalResources.NoDataModified.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.SubcontractorSowUpdated): @LocalResources.SubcontractorSowUpdated.ToHtmlJson()
    };

</script>
<script src="~/assets/js/pages/certification-subcontractors.js"></script>

