﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@using Promis.NET.Roles
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Certification.CertificationAssignPlanViewModel

@{
    var isAdmin = User.IsInRole(LocalRoles.ResponsabilityAdmin);
    var isWriter = isAdmin || User.IsInRole(LocalRoles.ModuleWriteCertificationManagement);
}

<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">

<div class="tab-pane active" id="certification-plan-to-tags">
    <div class="row">
        <div class="col-md-16">
            <div class="card act-right">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-5 right-bordered">
                            <span class="text-white page_title font-size-20">@LocalResources.AssignCertificationPlanToTag</span>
                            <h5 class="card-subtitle mb-2 text-muted">@LocalResources.EachTagMustBeLinkedToASpecificCertificationPlan </h5>
                            <div class="form-group row m-0">
                                <label for="sub-act" class="text-left ">@LocalResources.SubActivity</label>
                                <div class="col-md-12">
                                    <select class="form-control" id="sub-act"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 right-bordered main-activities-container">
                            <div class="form-group row">
                                <label for="main_activities" class="col-md-4 text-right">@LocalResources.MainActivity</label>
                                <div class="col-md-12">
                                    <select class="form-control" id="main-activities">
                                        <option value=""></option>
                                        @for (var i = 0; i < Model.MainActivities.Count; i++)
                                        {
                                            <option value="@Model.MainActivities[i].Code">@Html.Raw(Model.MainActivities[i].Description)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="datatable-activities" class="col-md-4 text-right">@LocalResources.Datatable</label>
                                <div class="col-md-12">
                                    <select class="form-control" id="datatable-selector"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="typecode-selector" class="col-md-4 text-right">@LocalResources.Typecode</label>
                                <div class="col-md-12">
                                    <select class="form-control" id="typecode-selector"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 right-bordered">
                            <label class="custom-control custom-radio">
                                <input id="all-tags" name="view-tags" type="radio" value="all" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span>
                                    @LocalResources.ViewAllTags
                                </span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="na-tags" name="view-tags" type="radio" value="na" class="custom-control-input" checked="checked">
                                <span class="custom-control-indicator"></span>
                                <span>
                                    @LocalResources.ViewNotAssigned
                                </span>
                            </label>
                            @*<%if instr(session("user_modules"),"$PR_W")>0 or session("user_resp")="A" then dis="" else dis="disabled"%> rolles *@
                            <button type="button" id="select-all" class="pull-left btn btn-primary btn-xs btn_control assign-inspection-main-button margin-left-0">@LocalResources.Select @LocalResources.All</button>
                            <button type="button" id="deselect-all" class="pull-right btn btn-primary btn-xs btn_control assign-inspection-main-button margin-left-5">@LocalResources.Deselect @LocalResources.All</button>
                            @if (isWriter)
                            {
                                <button type="button" id="save-btn" class="pull-left btn btn-success btn-xs btn_control assign-inspection-main-button margin-left-0 color-222"> @LocalResources.Save</button>
                                <button type="button" id="delete-btn" class="pull-right btn btn-warning btn-xs btn_control assign-inspection-main-button margin-left-5 color-222"> @LocalResources.Remove</button>
                            }
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="card-block" id="table-data-container"></div>
            </div>
        </div>
    </div>
</div>

<!--Datatable scrips -->
<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>
<script src="~/assets/js/helpers/data-table.js"></script>
<script>
    GLOBAL_DATA.TRANSLATIONS = {

        @Model.GetPropertyName(() => LocalResources.AnActivityMustBeSelectedInOrderToContinue): @LocalResources.AnActivityMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ADatatableMustBeSelectedInOrderToContinue): @LocalResources.ADatatableMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ATypecodeMustBeSelectedInOrderToLoadTheTableForIt): @LocalResources.ATypecodeMustBeSelectedInOrderToLoadTheTableForIt.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ASubactivityMustBeSelectedInOrderToContinue): @LocalResources.ASubactivityMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.NoRowsChecked): @LocalResources.NoRowsChecked.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.SuccessfullyDeleted): @LocalResources.SuccessfullyDeleted.ToHtmlJson()
    };
</script>
<script src="~/assets/js/pages/certification-plan-to-tags.js"></script>
