﻿
@using Promis.NET.Localization
@using Promis.NET.MCV.ViewModels
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Certification.CertificationMainActivitiesViewModel

<table class='table-sm activity-table'>
    <thead>
        <tr class="activity-table-header">
            <th class="activity-header">&nbsp;</th>
            <th class="activity-header">@LocalResources.Activity</th>
            <th>@LocalResources.Activity @LocalResources.Description</th>
            <th class="activity-head">@LocalResources.BudgetMhrs</th>
            <th class="activity-head">@LocalResources.Productivity</th>
            <th class="activity-head">@LocalResources.AssignedTo</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.MainActivitiesDetails.Count; i++)
        {
            var activity = Model.MainActivitiesDetails[i];
            var isChecked = string.IsNullOrWhiteSpace(activity.SubcontractorCode) ? "N" : "Y";
            var checkedStr = isChecked == "Y" ? "checked" : "";
            <tr>
                <td>
                    <div class='col-sm-16 can-toggle demo-rebrand-2 small sub-act-area'>
                        <input id="@Html.Raw("ck_" + Model.MainActivitiesDetails[i].SubActivities)" data-activity="@activity.SubActivities" name='@Html.Raw("ck_" + Model.MainActivitiesDetails[i].SubActivities)' type='checkbox' class="check-input clickable" data-initialval="@isChecked" @checkedStr>
                        <label for='@Html.Raw("ck_" + Model.MainActivitiesDetails[i].SubActivities)' class="sub-activity">
                            <div class='can-toggle__switch' data-checked='On' data-unchecked='Off'></div>
                        </label>
                    </div>
                </td>
                <td>@Model.MainActivitiesDetails[i].SubActivities</td>
                <td>@Model.MainActivitiesDetails[i].SubActivitiesDescription</td>
                <td align="center">@String.Format("{0:N0}", Model.MainActivitiesDetails[i].BudgetMHRS)</td>
                <td align="center">@Model.MainActivitiesDetails[i].Productivity </td>
                <td align="center" data-code="@Model.MainActivitiesDetails[i].SubcontractorCode">@Model.MainActivitiesDetails[i].AssignedSubcontractor</td>
            </tr>
        }
    </tbody>
</table>
