﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@using Promis.NET.Roles
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Certification.CertificationSummaryViewModel

@{
    var isAdmin = User.IsInRole(LocalRoles.ResponsabilityAdmin);
    var isWriter = isAdmin || User.IsInRole(LocalRoles.ModuleWriteCertificationManagement);
}

<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/libraries/dropdown.css" type="text/css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">

<div class="tab-pane active" role="tabpanel">
    <form id="form3" name="form3">
        <div class="row">
            <div class="col-md-16">
                <div class="card act-right">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3 right-bordered">
                                <span class="text-white page_title font-size-20">@LocalResources.CertificationStatus </span>
                                <h5 class="card-subtitle mb-2 text-muted">@LocalResources.DigitalSignaturesStatusRelevantToEachTagAssignedToAMainSubActivityAndInOperation </h5>

                            </div>
                            <div class="col-md-5 align-self-center main-activities-container">
                                <div class="form-group row">
                                    <label for="main_act" class="col-md-4 text-right">@LocalResources.MainActivity</label>
                                    <div class="col-md-12">
                                        <select class="form-control" id="main-act">
                                            <option value=""></option>
                                            @for (var i = 0; i < Model.MainActivities.Count; i++)
                                            {
                                                <option value="@Model.MainActivities[i].Code">@Html.Raw(Model.MainActivities[i].Description)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="dt_act" class="col-md-4 text-right">@LocalResources.Datatable</label>
                                    <div class="col-md-12">
                                        <select class="form-control" id="dt-act">
                                            <option value=" "></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 table-legend">
                                @if (Model.Modules.Count > 0)
                                {
                                    <table class="table-sm font-size-11">
                                        @for (var i = 0; i < (Model.Modules.Count + 1) / 2; i++)
                                        {
                                            <tr>
                                                <td class="table-legend-cell">
                                                    @Model.Modules[i].Code
                                                </td>
                                                <td>
                                                    @Model.Modules[i].Description
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                            </div>
                            <div class="col-md-3 table-legend main-activities-container">
                                @if (Model.Modules.Count > 1)
                                {
                                    <table class="table-sm font-size-11">
                                        @for (var i = (Model.Modules.Count + 1) / 2; i < Model.Modules.Count; i++)
                                        {
                                            <tr>
                                                <td class="table-legend-cell">
                                                    @Model.Modules[i].Code
                                                </td>
                                                <td>
                                                    @Model.Modules[i].Description
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                            </div>
                            <div class="col-md-2 right-bordered">
                            </div>
                        </div>
                    </div>
                    <div class="card-block cert-pdf-container">
                        <div class="row">
                            <div class="col-md-8 height-200" id="tags-table"></div>
                            <div class="col-md-8 card act-right right-container">
                                <div class="active" id="steps-table"></div>
                                <iframe id="docs-iframe" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>
<script src="~/assets/js/helpers/data-table.js"></script>
<script>
    GLOBAL_DATA.TRANSLATIONS = {

        @Model.GetPropertyName(() => LocalResources.ADatatableMustBeSelectedInOrderToLoadTheTableForIt): @LocalResources.ADatatableMustBeSelectedInOrderToLoadTheTableForIt.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.FunctionalityNotAvailable): @LocalResources.FunctionalityNotAvailable.ToHtmlJson()
    };
    var isWriter = @isWriter.ToHtmlJson();
</script>
<script src="~/assets/js/pages/certification-summary.js"></script>
