﻿@using Promis.NET.Localization
@model Promis.NET.MCV.ViewModels.Certification.CertificationSummaryStepsViewModel

<div class="table-container" id="promisdt-steps-container">
    <div class="notes notes-primary followup-alert" id="subactivity-holder" role="alert">@Model.Subactivity - @Model.S_Description</div>
    <table id="promisdt-steps" data-subactivity="@Model.Subactivity" class="table table-hover table-bordered font-size-12" cellspacing=0>
        <thead id="promisdt-steps-header">
            <tr>
                <th>@LocalResources.Certification @LocalResources.Step @LocalResources.Description</th>
                <th width=120 style='text-align: center'>@LocalResources.Subcontractor</th>
                <th width=120 style='text-align: center'>@LocalResources.Contractor</th>
                <th width=120 style='text-align: center'>@LocalResources.Client</th>
            </tr>
        </thead>
        <tbody id="promisdt-subdivision-body" style='color:#fff'>
            @foreach (var item in Model.Status)
            {
                if (item.FileText.Equals(string.Empty))
                {
                    <tr style='text-align: center; height: 38px'>
                        <td style='text-align: left; padding: 0 0 0 5px;'>@item.Description</td>
                        <td style='padding: 0 0 0 5px;'>@item.Subcontractor1.Key<br>@item.Subcontractor1.Value</td>

                        @if (string.IsNullOrEmpty(item.Ord))
                        {
                            <td style='padding: 0 0 0 5px;'>@item.Contractor.Key<br>@item.Contractor.Value</td>}
                        else
                        {
                            <td style='padding: 0 0 0 5px;'>
                                <select class='form-control user-selector' data-container="@item.Ord" id="@item.Ord" style='padding:0px;font-size:10px!important;'>
                                    <option value=''></option>"
                                    @foreach (var contractor in @item.UsersList)
                                    {
                                        if (contractor.Equals(item.Contractor.Key))
                                        {
                                            <option value=@contractor selected>@contractor</option>}
                                        else
                                        {
                                            <option value=@contractor>@contractor</option>}
                                    }
                                </select>
                                @item.Contractor.Value
                            </td>}
                        <td style='padding: 0 0 0 5px;'>@item.Client.Key<br>@item.Client.Value</td>
                    </tr>
                }
                else
                {
                    <tr style='text-align: center; height: 40px;' class='notes notes-primary'>
                        <td colspan='4' id="folder-row">
                            @item.FileText<span class='pull-right' style='padding-right:20px'>
                                <a href="#" id="docs-iframe-toggle" data-subactivity="@Model.Subactivity"><img src='assets/img/folder.png' style='width: 50px; height: 50px' /></a>
                            </span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
