﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Certification.CertificationTagsAssignmentViewModel
<!-- Required for datatables -->
<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">

<div class="tab-pane active" id="certification-status" role="tabpanel">
    <div class="row">
        <div class="col-md-16">
            <div class="card act_right" id="status-actions">
                <div class="card-block">
                    <div class="row">
                        @for (int i = 0; i < Model.TagsStatusInfo.Count; i++)
                        {
                            <div class="col-md-8 col-lg-8 col-xl-4">
                                <div class="activity-block">
                                    <div class="media">
                                        <div class="media-body">
                                            <p class="page_subtitle tag-subtitle">@Model.TagsStatusInfo.Keys.ElementAt(i)</p>
                                            <div class="row">
                                                <div class="col text-right">@LocalResources.TagsAssigned</div>
                                                <div class="col">
                                                    <button type="button" class="btn btn-sm btn-success tags-assigned">@String.Format("{0:N0}", Model.TagsStatusInfo.Values.ElementAt(i).TagsAssigned)</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col text-right">@LocalResources.TagsToBeAssigned</div>
                                                <div class="col">
                                                    <button type="button" class="btn btn-sm btn-danger tags-not-assigned" id=@Html.Raw("status-tag-" + i) code-data=@Html.Raw(Model.TagsStatusInfo.Values.ElementAt(i).Datatable)>@String.Format("{0:N0}", Model.TagsStatusInfo.Values.ElementAt(i).TagsNotAssigned)</button>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col text-right">@LocalResources.TagsInFollowup</div>
                                                <div class="col tags-followup">@Html.Raw(Model.TagsStatusInfo.Values.ElementAt(i).Progress + "%")</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style='width: @Html.Raw(Model.TagsStatusInfo.Values.ElementAt(i).Progress + "%;")'>
                                                <span class="trackerball"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Required for datatables -->
<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>
<script src="~/assets/js/helpers/data-table.js"></script>
<script>
    GLOBAL_DATA.TRANSLATIONS = {

        @Model.GetPropertyName(() => LocalResources.TagsNotAssigned): @LocalResources.TagsNotAssigned.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.TheDatatableCannotBeNull): @LocalResources.TheDatatableCannotBeNull.ToHtmlJson()        
    };

</script>
<script src="~/assets/js/pages/certification-tags-assignment.js"></script>



