﻿@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model  Promis.NET.MCV.ViewModels.Engineering.EngineeringMenuViewModel

<div class="row align-items-center justify-content-between" id="align-rows">
    <div class="col-15 col-sm-16">
        <div class="pull-left">
            <table id="menu" cellpadding="0" cellspacing="0">
                <tr>
                    <td id="first-td-style">@LocalResources.ProjectDatabase</td>
                    <td id="second-td-style">
                        <div class="btn-group ">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> @LocalResources.ProjectLists </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item dd-item" href="#" data-table-name="unit" data-title="@LocalResources.UnitList">@LocalResources.Unit</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="area" data-title="@LocalResources.AreaList">@LocalResources.Area</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="sup" data-title="@LocalResources.StartupPackages">@LocalResources.StartupPackages.ToUpper()</li>

                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="dwg" data-title="@LocalResources.Drawings">@LocalResources.Drawings.ToUpper()</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="pid" data-title="@LocalResources.ProcessInstrumentationDiagram">@Html.Raw(LocalResources.Pampid)</li>

                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="um" data-title="@LocalResources.UnitOfMeasure">@LocalResources.UnitOfMeasure.ToUpper()</li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="subcontractors" data-title="@LocalResources.Subcontractors">@LocalResources.Subcontractors.ToUpper()</li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="systems" data-title="@LocalResources.SystemsSubsystems">@LocalResources.Systems</li>
                            </ul>
                        </div>
                        <div class="btn-group ">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> @LocalResources.Typecodes </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item dd-item" href="#" data-table-name="piles_type" data-title="@LocalResources.PilesTypecodes">@LocalResources.Piles</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="concrete_type" data-title="@LocalResources.ConcreteObjectsTypecodes">@LocalResources.ConcreteObjects</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="Underground_type" data-title="@LocalResources.UndergroundTypecodes">@LocalResources.UndergroundConcrete</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="Underground_type" data-title="@LocalResources.UndergroundTypecodes">@LocalResources.UndergroundPiping</li>

                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="Structure_type" data-title="@LocalResources.StructureTypecodes">@LocalResources.SteelStructure</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="Buildings_type" data-title="@LocalResources.BuildingsTypecodes">@LocalResources.Buildings</li>

                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="Equipment_type" data-title="@LocalResources.EquipmentTypecodes">@LocalResources.Equipment</li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="Motors_type" data-title="@LocalResources.MotorsTypecodes">@LocalResources.Motors</li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="Instrumentation_type" data-title="@LocalResources.InstrumentationTypecodes">@LocalResources.Instrumentation</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="In_cable_type" data-title="@LocalResources.InstrumentCablesTypecodes">@LocalResources.InstrumentCable</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="Electrical_type" data-title="@LocalResources.ElectricalTypecodes">@LocalResources.ElectricalObjects</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="El_cable_type" data-title="@LocalResources.ElectricalCablesTypecodes">@LocalResources.ElectricalCable</li>

                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="AG_pclass" data-title="@LocalResources.PipingFluids">@LocalResources.PipingClass.ToUpper()</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="AG_fluids" data-title="@LocalResources.PipingFluids">@LocalResources.PipingFluids.ToUpper()</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="AG_destination" data-title="@LocalResources.PipingDestination">@LocalResources.PipingDestinations</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="AG_area" data-title="@LocalResources.PipingAreas">@LocalResources.PipingAreas.ToUpper()</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="AG_material" data-title="@LocalResources.PipingMaterials">@LocalResources.PipingMaterials.ToUpper()</li>
                            </ul>
                        </div>
                        <div class="btn-group ">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> @LocalResources.Certifications </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item dd-item" href="#" data-table-name="act_plan" data-title="@LocalResources.ActivityPlans">@LocalResources.ActivityPlans.ToUpper()</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="act_form" data-title="@LocalResources.ActivityForms">@LocalResources.InspectionForms.ToUpper()</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="act_actions" data-title="@LocalResources.InspectionActions">@LocalResources.InspectionActions.ToUpper()</li>
                                @*<li class="dropdown-divider"></li>
                                    <li class="dropdown-item dd-item" href="#" data-table-name="WORK_DEF" data-title="Certification Steps by Activity">CERTIFICATION STEPS by ACTIVITY</li>*@
                            </ul>
                        </div>
                    </td>
                    <td id="civil-td-style">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> @LocalResources.CivilDatabases </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" id="create-tags-button" href="#">@LocalResources.CreateTagsUsingSchemas</a></li> @*verify the responsibility*@
                                <li class="dropdown-divider"></li>
                                @for (int i = 0; i < Model.Base.CivilDataBaseData.Count; i++)
                                {
                                    var menuItem = Model.Base.CivilDataBaseData.ElementAt(i);

                                    if (i > 0)
                                    {
                                        <li class="dropdown-divider"></li>
                                    }
                                    if (menuItem.Value.Count == 0)
                                    {
                                        <li class="dropdown-item dd-item">@menuItem.Key.ToUpper()</li>
                                    }
                                    else if (menuItem.Value.Count == 1)
                                    {
                                        <li class="dropdown-item dd-item" data-table-name="@menuItem.Value.ElementAt(0).Value" data-title="@menuItem.Value.ElementAt(0).Value">@menuItem.Value.ElementAt(0).Key.ToUpper()</li>
                                    }
                                    else if (menuItem.Value.Count > 0)
                                    {
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item test" href="#">@menuItem.Key<span class="dropdown-toggle pull-right"></span></a>
                                            <ul class="dropdown-menu">
                                                @foreach (var menuSubItem in menuItem.Value)
                                                {
                                                    <li class="dropdown-item dd-item" href="#" data-table-name="@menuSubItem.Value" data-title="@menuSubItem.Key">@menuSubItem.Key</li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </td>
                    <td id="td-third-style">
                        <div class="btn-group ">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> @LocalResources.EngineeringDatabases </button>
                            <ul class="dropdown-menu">
                                @for (int i = 0; i < Model.Base.EngineeringData.Count; i++)
                                {
                                    var menuItem = Model.Base.EngineeringData.ElementAt(i);

                                    if (i > 0)
                                    {
                                        <li class="dropdown-divider"></li>
                                    }

                                    if (menuItem.Value.Count == 0)
                                    {
                                        <li class="dropdown-item dd-item">@menuItem.Key.ToUpper()</li>
                                    }
                                    else if (menuItem.Value.Count == 1)
                                    {
                                        <li class="dropdown-item dd-item" href="#" data-table-name="@menuItem.Value.ElementAt(0).Value" data-title="@menuItem.Value.ElementAt(0).Key.ToUpper()">@menuItem.Value.ElementAt(0).Key.ToUpper()</li>
                                    }
                                    else
                                    {
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item test" href="#">@menuItem.Key<span class="dropdown-toggle pull-right"></span></a>
                                            <ul class="dropdown-menu">
                                                @foreach (var menuSubItem in menuItem.Value)
                                                {
                                                    <li class="dropdown-item dd-item" href="#" data-table-name="@menuSubItem.Value" data-title="@menuSubItem.Key">@menuSubItem.Key</li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </td>

                    <td id="td-third-style">
                        <div class="btn-group ">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@LocalResources.SiteActivities</button>
                            <ul class="dropdown-menu">
                                @*<li class="dropdown-item" id="item-size" href="#" data-table-name="pl_disci" data-title=trad("Punchlist Discipline")>PUNCHLIST DISCIPLINE</li>*@ @*all labeles need to be translated*@
                                <li class="dropdown-item dd-item" id="item-size" href="#" data-table-name="pl_disci" data-title="@LocalResources.PunchlistDiscipline">@LocalResources.PunchlistDiscipline.ToUpper()</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="pl_status" data-title="@LocalResources.PunchItemStatus">@LocalResources.PunchItemStatus.ToUpper()</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="pl_category" data-title="@LocalResources.PunchItemCategories">@LocalResources.PunchItemCategories.ToUpper()</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="pl_actionby" data-title="@LocalResources.ReferenceCompanies">@LocalResources.ReferenceCompanies.ToUpper()</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="pl_orig" data-title="@LocalResources.PunchItemOriginators">@LocalResources.PunchItemOriginators.ToUpper()</li>
                                <li class="dropdown-item dd-item" href="#" data-table-name="pl_closer" data-title="@LocalResources.PunchItemClosers">@LocalResources.PunchItemClosers.ToUpper()</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>



