﻿@using Promis.NET.MCV.Extensions;
@using Promis.NET.Utilities.Extensions
@using Promis.NET.Localization
@{
    ViewBag.PageVersion = "F004.V1.0.0.1";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section Styles{

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/libraries/bootstrap-datepicker.css" type="text/css">

    <!-- File Upload -->
    <link href="~/assets/css/libraries/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/libraries/easy-autocomplete.css" media="all" rel="stylesheet" type="text/css" />

    <!-- Required for datatables -->
    <link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/assets/css/libraries/dropdown.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/helpers/data-table.css">

    <!-- Construction and Enginnering Database -->
    <link rel="stylesheet" href="~/assets/css/pages/engineering.css">
    <link rel="stylesheet" href="~/assets/css/pages/engineering-grid.css">

    @RenderSection("styles", required: false)
}

<div class="container">

    @{ Html.RenderAction("GetEngineeringMenu", new { projectDb = User.Identity.GetProjectDatabaseName() }); }
    <div id="engin-content">
        @RenderBody()
    </div>
</div>

@section Scripts{
    <!-- Upload -->
    <script href="~/assets/js/libraries/fileinput.js"></script>
    <script src="~/assets/js/libraries/circle-progress.min.js"></script>
    <script src="~/assets/js/libraries/jquery.easy-autocomplete.min.js"></script>

    <!-- Required for datatables -->
    <script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
    <script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
    <script src="~/assets/js/libraries/dropdown.js"></script>
    <script src="~/assets/js/helpers/data-table.js"></script>
    <!-- Page Project-List -->
    <script src="~/assets/js/helpers/virtual-loader.js"></script>
    <script src="~/assets/js/helpers/import-export.js"></script>
    <script src="~/assets/js/helpers/advanced-filters.js"></script>
    <script>
        @{var engineeringProp = "";}
        GLOBAL_DATA.TRANSLATIONS = {
            @engineeringProp.GetPropertyName(() => LocalResources.ThereWasNoRowSelectedyouNeedToChooseOne): @LocalResources.ThereWasNoRowSelectedyouNeedToChooseOne.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.Error): @LocalResources.Error.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.CannotAddARowSimilarToThisRow): @LocalResources.CannotAddARowSimilarToThisRow.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.AddSimilarRecord): @LocalResources.AddSimilarRecord.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.AddRecord): @LocalResources.AddRecord.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.CannotUpdateThisRow): @LocalResources.CannotUpdateThisRow.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.UpdateRecord): @LocalResources.UpdateRecord.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.DeleteRecord): @LocalResources.DeleteRecord.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.DeleteSelectedRecordbrbrareYouSure): @LocalResources.DeleteSelectedRecordbrbrareYouSure.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.Confirm): @LocalResources.Confirm.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.RecordSuccessfullyDeleted): @LocalResources.RecordSuccessfullyDeleted.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.ThereIsNoDataForThisSelection): @LocalResources.ThereIsNoDataForThisSelection.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.MandatoryFields): @LocalResources.MandatoryFields.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.SomeRequiredFieldsAreEmpty): @LocalResources.SomeRequiredFieldsAreEmpty.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.NewRecordAdded): @LocalResources.NewRecordAdded.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.RecordSuccessfullyUpdated): @LocalResources.RecordSuccessfullyUpdated.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.CannotDeleteThisRow): @LocalResources.CannotDeleteThisRow.ToHtmlJson(),
            @engineeringProp.GetPropertyName(() => LocalResources.RecordSuccessfullyDeleted): @LocalResources.RecordSuccessfullyDeleted.ToHtmlJson(),

            operations: [{
                Key: "Insert",
                Value:  @LocalResources.Insert.ToHtmlJson()
            },
            {
                Key: "Insert Similar",
                Value: @LocalResources.InsertSimilar.ToHtmlJson()
            },
            {
                Key: "Update",
                Value: @LocalResources.Update.ToHtmlJson()
            },
            {
                Key: "Delete",
                Value: @LocalResources.Delete.ToHtmlJson()
            }
            ]
        };

    </script>
    <script src="~/assets/js/pages/engineering-grid.js"></script>
    <script src="~/assets/js/pages/engineering.js"></script>

    @RenderSection("scripts", required: false)
}
