﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model  Promis.NET.MCV.ViewModels.Engineering.EngineeringTableMetadataViewModel

<!--Table Display page CSS styles-->
<link rel="stylesheet" href="~/assets/css/helpers/advanced-filters.css">


<form id='filters' name='filters'>
    <input type='hidden' value='@Model.TableName' name='@Model.TableName'>
    <input type='hidden' value='' name='tableTitle'><!--table title???-->
    <table class='table table-bordered' id='tableflt'>
        <thead>
            <tr id="head-row">
                <th>&nbsp;</th>
                <th>@LocalResources.FieldName</th>
                <th>@LocalResources.Operators</th>
                <th>@LocalResources.FilterValue</th>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ColumnMetadatas.Count(); i++)
            {
                var columnName = Model.ColumnMetadatas[i].ColumnName;
                <tr data-for="@columnName.ToLower()">
                    <td class="check-cell">
                        <label class='custom-control custom-checkbox'>
                            <input id='@Html.Raw("adv-ck-" + columnName.ToLower())' class='custom-control-input' type='checkbox' value='@columnName.ToLower()'>
                            <span class='custom-control-indicator'></span>
                        </label>
                    </td>
                    <td>@columnName</td>
                    <td class="filters">
                        <div class='btn-group' data-toggle='buttons'>
                            <label class='btn btn-sm btn-primary active focus' aria-pressed="true"><input type='radio' name='@Html.Raw("adv-options-" + columnName.ToLower())' value='eq' checked>@LocalResources.EqualTo</label>
                            <label class='btn btn-sm btn-primary' aria-pressed='true'><input type='radio' name='@Html.Raw("adv-options-" + columnName.ToLower())' value='neq'>@LocalResources.NotEqualTo</label>
                            <label class='btn btn-sm btn-primary' aria-pressed='true'><input type='radio' name='@Html.Raw("adv-options-" + columnName.ToLower())' value='inc'>@LocalResources.Includes</label>
                        </div>
                    </td>

                    @if (@Model.ColumnMetadatas[i].DefaultValues.Count > 0)
                    {
                        <td style='padding:5px'>
                            <select id='@Html.Raw("adv-" + columnName.ToLower())' class='form-control'>
                                <option value=""></option>
                                @foreach (var dict in @Model.ColumnMetadatas[i].DefaultValues)
                                {

                                    if (new string[] { "type", "wbs" }.Contains(columnName.ToLower()))
                                    {
                                        <option value='@dict.Key'>@dict.Value</option>

                                    }
                                    else if (new string[] { "um", "system", "activity" }.Contains(columnName.ToLower()))
                                    {
                                        <option value='@dict.Key'>@dict.Value.ToUpper()</option>

                                    }
                                }
                            </select>
                        </td>
                    }
                    else
                    {
                        <td class="filters"><input id='@Html.Raw("adv-" + columnName.ToLower())' name='@Html.Raw("adv-" + columnName.ToLower())' class='form-control' type='text'></td>
                    }

                </tr>

            }
        </tbody>
    </table>
</form>
<!--Filter Display page javascript script-->
<script>
    //console.log(this);// see where am at
    var columnsKeeperArray = {};
    columnsKeeperArray[@Model.TableName.ToLower().ToHtmlJson()] = @Model.ColumnMetadatas.Select(x => new { ColumnName = x.ColumnName.ToLower(), x.Description, x.IsRequired }).Where(c => c.ColumnName.ToLower() != "id").ToHtmlJson();
</script>
