﻿@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

<link rel="stylesheet" href="~/assets/css/pages/engineering-import.css">

<div id="fileSelectDiv">
    <FORM class="form-horizontal">
        <table cellspacing="0" class="testo tbl-import">
            <tr>
                <td id="choose-file" align="left" colspan="2">
                    <div class="form-group">
                        <input id="uploadFile" placeholder="@LocalResources.ChooseFile" class="form-control" disabled="disabled" />
                        <div class="fileUpload btn btn-primary btn-sm">
                            <span>&nbsp;...&nbsp;</span>
                            <input name="blob" id="uploadBtn" type="file" accept=".xls,.xlsx" class="upload testo" />
                        </div>
                        <a href="#"><span id="exec_btn" class="btn btn-primary btn-sm disabled">@LocalResources.Execute</span></a>
                    </div>
                </td>
            </tr>
        </table>
        <table cellspacing="0" class="testo tbl-import" id="table_down">
            <tr>
                <td align="center" class="t_pag">
                    <div class="can-toggle demo-rebrand-2 small">
                        <input id="metodo_importa" name="metodo_importa" type="checkbox">
                        <label id="switch-check" for="metodo_importa">
                            <div id="overWrite" class="can-toggle__switch" data-checked="on" data-unchecked="off"></div>
                            <div class="can-toggle__label-text">@LocalResources.Overwrite</div>
                        </label>
                    </div>
                </td>

            </tr>
        </table>
        <div class="load-wrapper2" style="display:none;">
            <div class="sk-three-bounce">
                <div class="sk-child sk-bounce1"></div>
                <div class="sk-child sk-bounce2"></div>
                <div class="sk-child sk-bounce3"></div>
            </div>
        </div>

        <div id="progress_div">
            <div id="upload">@LocalResources.Uploading: </div>
            <div class="percent">0%</div>
            <div id="importProcessing">@LocalResources.Processing</div>
        </div>

    </FORM>
    <div id="importResults"></div>
</div>
