﻿@using System.Linq
@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model  Promis.NET.MCV.ViewModels.Engineering.EngineeringTableMetadataViewModel

@using System.Globalization;
<!--Table Display page CSS styles-->
<link rel="stylesheet" href="~/assets/css/pages/engineering-table.css">

<form id='form1'>
    <table id="tableLoad">
        @for (int i = 0; i < Model.ColumnMetadatas.Count(); i++)
        {
            var textinfo = new CultureInfo(Culture, false).TextInfo;
            var cols = @Model.ColumnMetadatas[i];
            var descr = @Model.ColumnMetadatas[i].Description;
            var input = descr == null || descr == "" ? cols.ColumnName.Replace("_", " ") : descr;

            var output = textinfo.ToTitleCase(input.ToLower());

            var require = @Model.ColumnMetadatas[i].IsRequired ? "req" : "";
            var star = @Model.ColumnMetadatas[i].IsRequired ? "<span class='ti-star'></span>" : "";
            var colNameLower = Model.ColumnMetadatas[i].ColumnName.ToLower();
            if ((colNameLower == "activity" || colNameLower == "system" || colNameLower == "subsystem") && Model.TableName.ToLower() != "systems")
                continue;
            if (colNameLower == "wbs")
                output = "Area";

            <tr>
                <td class="first-td">@output</td>
                <td class="sec-td">
                    @Html.Raw(star)
                </td>
                <td class="td-simple">
                    @if (@Model.ColumnMetadatas[i].DefaultValues.Count == 0)
                    {
                        <input type='text' id='@Model.ColumnMetadatas[i].ColumnName.ToLower()' class='form-control @require' value=''>
                    }
                    else
                    {
                        <select name='@Model.ColumnMetadatas[i].Description' id='@Model.ColumnMetadatas[i].ColumnName.ToLower()' class='form-control @require'>
                            <option value=''></option>
                            @foreach (var dict in @Model.ColumnMetadatas[i].DefaultValues)
                            {
                                <option value='@dict.Key'>@dict.Value</option>
                            }
                        </select>
                    }
                </td>
            </tr>
        }
    </table>
    <input type='hidden' name='@Model.TableName' id="@Model.TableName" value='@Model.TableName'>
</form>

<!--Table Display page javascript script-->
<script>
    var operationType = @Model.OperationType.ToHtmlJson();
</script>
<script src="~/assets/js/pages/engineering-table.js"></script>