﻿@using Newtonsoft.Json
@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization

@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model  Promis.NET.MCV.ViewModels.Engineering.GridDataViewModel

<div class="row pad-top-ten">
    <div class="col-md-16">
        <div class="card">
            @if (Model.HasOperations || Model.HasImportExportActions)
            {
                <div class="card-header">
                    <div class="card-title row">
                        <div class="col-md-8 font-size-20">@Model.TableTitle</div>
                        <div class="col-md-8 table-right-menu">
                            <div class="pull-right">
                                @if (Model.HasOperations)
                                {
                                    <button type="button" class="btn btn-info table-action-button" id='add-@Model.TableName.ToLower()'>
                                        <span class='ti-plus'></span>&nbsp; @LocalResources.AddNewRecord.ToCamelCase(true, false)
                                    </button>
                                    <button type="button" class="btn btn-info table-action-button" id='adds-@Model.TableName.ToLower()'>
                                        <span class='ti-layers'></span>&nbsp; @LocalResources.AddSimilar
                                    </button>
                                    <button type="button" class="btn btn-info table-action-button" id='edit-@Model.TableName.ToLower()'>
                                        <span class='ti-pencil-alt'></span>&nbsp; @LocalResources.EditSelected
                                    </button>
                                    <button type="button" class="btn btn-info table-action-button" id='canc-@Model.TableName.ToLower()'>
                                        <span class='ti-trash'></span>&nbsp;  @LocalResources.DeleteSelected
                                    </button>
                                }
                                @if (Model.HasImportExportActions)
                                {
                                    <button type="button" class="btn btn-info table-action-button dropdown-toggle" data-toggle="dropdown" id="acts" aria-haspopup="true" aria-expanded="false">
                                        @LocalResources.Actions.ToCamelCase(true, false)
                                    </button>
                                    <ul class="dropdown-menu">
                                        @if (Model.HasImportRole)
                                        {
                                            <li><a class="dropdown-item" data-table="@Model.TableName.ToLower()" href="#" id="importExcel-@Model.TableName.ToLower()">@LocalResources.ImportExcelData</a></li>
                                            <li role="separator" class="divider"></li>
                                        }
                                        <li><a class="dropdown-item" data-table="@Model.TableName.ToLower()" href="#" id="exportExcelTemplate-@Model.TableName.ToLower()">@LocalResources.ExportEmptyTemplate</a></li>
                                        <li><a class="dropdown-item" data-table="@Model.TableName.ToLower()" href="#" id="exportExcel-@Model.TableName.ToLower()">@LocalResources.ExportDataToExcel</a></li>
                                    </ul>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            @{ var columnList = Model.Base.Columns.Where(c => c.ColumnName.ToLower() != "id").Select(c => new
                {
                    ColumnName = c.ColumnName.ToUpper(),
                    Value = c.Value
                });
            }
            <div class="card-block table-container" id="promisdt-@Model.TableName.ToLower()-container">
                <table class='table table-hover table-bordered display nowrap dataTable no-footer promisdt' cellspacing=0 id='promisdt-@Model.TableName.ToLower()' data-tablename="@Model.TableName.ToLower()" data-columnlist="@JsonConvert.SerializeObject(columnList)">
                    <thead>
                        <tr class="first-row">
                            @if (Model.Base.Columns.Count == 0)
                            {
                                <th></th>
                            }
                            else
                            {

                                for (int i = 0; i < Model.Base.Columns.Count; i++)
                                {
                                    //do not include id column
                                    if (Model.Base.Columns[i].ColumnName.ToLower().ToString() != "id")
                                    {
                                        <th title="@Model.Base.Columns[i].ColumnName">@Html.Raw(i < Model.AlternativeColumnNames.Count && !string.IsNullOrWhiteSpace(Model.AlternativeColumnNames[i]) ? Model.AlternativeColumnNames[i] : Model.Base.Columns[i].ColumnName)</th>
                                    }

                                }
                            }
                        </tr>
                    </thead>
                    <tbody id="promisdt-@Model.TableName.ToLower()-body">
                        @foreach (var currentRow in Model.Base.Rows)//add rows if available
                        {
                            <tr>
                                @for (var j = 0; j < currentRow.Count; j++)
                                {
                                    <td title="@currentRow[j].ColumnName">@currentRow[j].Value</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var tableTitle = @Model.TableTitle.ToHtmlJson();
</script>