﻿@using Promis.NET.Localization
@model  Promis.NET.MCV.ViewModels.Engineering.EngineeringTagsViewModel

@{
    ViewBag.Title = "Create Tags Using Schemas";
    Layout = "~/Views/Engineering/_EngineeringLayout.cshtml";
}


@section Styles{
    <link rel="stylesheet" href="~/assets/css/pages/engineering-tags.css">
}

<div class="row peview pad-top-ten">
    <div class="col-md-16" id="tags-content">
        <div class="tags-container">
            <h5 id="civil-schemas-title" class="pull-left">@LocalResources.CivilSchemas&nbsp;<span class="ti ti-angle-double-right"></span>&nbsp;</h5>

            @for (int i = 0; i < Model.Tags.Count; i++)
            {
                <input id="@Html.Raw("tab" + (i + 1))" type="radio" name="tabs" @Html.Raw(i == 0 ? "checked" : "")>//select by default the first tab
                <label class="tabs-label" for="@Html.Raw("tab" + (i + 1))"><span>@Model.Tags[i]</span></label>
            }

            @for (int i = 0; i < Model.Tags.Count; i++)
            {
                <section id="@Html.Raw("content" + (i + 1))" class="tab-content" align="center">
                    <div class="col">
                        @{var tags = Model.TagsData.Where(t => t.Code.ToLower() == Model.Tags[i].ToLower()).ToList(); }
                        @for (int j = 0; j < tags.Count; j++)
                        {
                            var tag = tags[j];
                            <div class="card">
                                <div class="card-header">
                                    @if (@Model.TagsData[i].FileExists)
                                    {
                                        <a class="pull-left pdf-book" type="pdf" href="@Url.Action("Download", "Content", new {type = "pdf/schemas", filePath = tag.PdfName })" target="_blank">
                                            <span class="ti-book"></span>
                                        </a>
                                    }

                                    <h5 class="card-title pull-left">@Html.Raw(tag.Title)</h5>
                                </div>
                                <div class="card-block tags-clickable" data-tags="@tag.Data">
                                    <img class="schemas" type="image" src="@Url.Action("Download", "Content", new {type = "image/schemas", filePath = tag.ImageName })" />
                                </div>
                            </div>

                        }
                    </div>
                </section>
                            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/assets/js/pages/engineering-tags.js"></script>
}
