﻿@using Promis.NET.Localization
@model  Promis.NET.MCV.ViewModels.Engineering.EngineeringHomeViewModel

@{
    ViewBag.Title = "Engineering Databases Home";
    Layout = "~/Views/Engineering/_EngineeringLayout.cshtml";
}


<div class="row peview pad-top-ten">
    <div class="col-sm-8">
        @*<div class="card" id="container-card">*@
        <div class="card container-card" id="civil-data-container">
            <div class="card-block">
                <h4 class="card-title text-white" id="title-text">@LocalResources.CivilDatabases</h4>
                <table class="table table-striped table-bordered table-engineering" id="tbl-civil">
                    <tr class="tr-first-style">
                        @if (Model.EngineeringHeaders.Count == 0)
                        {
                            <td>@LocalResources.NoData</td>
                        }
                        else
                        {
                            for (int i = 0; i < Model.EngineeringHeaders.Count; i++)
                            {
                                var value = Model.EngineeringHeaders.ElementAt(i);
                                <td width="100">@Html.Raw(value)</td>
                            }
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        @*<div class="card container-card" id="container-card">*@
        <div class="card container-card" id="engineering-data-container">
            <div class="card-block">
                <h4 class="card-title text-white" id="card-title">@LocalResources.EngineeringDatabases</h4>
                <table class="table table-striped table-bordered table-engineering" id="tbl-engineering">
                    <tr class="tr-first-style">
                        @if (Model.EngineeringHeaders.Count == 0)
                        {
                        <td>@LocalResources.NoData</td>
                        }
                        else
                        {
                            for (int i = 0; i < Model.EngineeringHeaders.Count; i++)
                            {
                                var value = Model.EngineeringHeaders.ElementAt(i);
                                <td width="100">@Html.Raw(value)</td>
                            }
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/assets/js/pages/engineering-home.js"></script>
}

