﻿@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Kpi.CompletionLoadedKpisViewModel


<div id="right-subtitle" class='page-title text-white d-flex justify-content-center'></div>
<div class='row d-flex justify-content-center'>
    @foreach (var kpi in Model.Kpis)
    {
        var colorCode = "warn";
        var classString = "progress_profile_onw";
        if (kpi.Percent == 100)
        {
            colorCode = "done";
            classString = "progress_profile_done";
        }
        else if (kpi.Percent == 0)
        {
            colorCode = "none";
            classString = "progress_profile_na";
        }
        var percentString = String.Format("{0:0.0}%", Math.Round(kpi.Percent, 1));

        <div class='col-md-3 p-1'>
            <div class='activity-block kpi-block text-white'>
                <div class='media'>
                    <div class='media-body' style='padding-left: 5px'>
                        <table class='table-sm text-white full-width'>
                            <tr>
                                <td class="progress_profile_code @colorCode">@kpi.Code</td>
                                <td class="progress_profile_description">@kpi.Description</td>
                            </tr>
                        </table>
                        <table class='table-sm full-width kpi-details-table'>
                            <tr>
                                <td align='right'>@LocalResources.Tags.ToUpper() </td>
                                <td>@kpi.TotalCount</td>
                                <td rowspan='2'>
                                    <div class='progressprofile col'>
                                        <div class='@classString' data-value='@Math.Round(kpi.Percent / 100, 2)' data-size='70' data-thickness='5' data-animation-start-value='0' data-reverse='false'></div>
                                        <div class="percent">
                                            <b>@percentString</b>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>@LocalResources.Completed.ToUpper() </td>
                                <td>@kpi.ClosedCount</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>