﻿@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Kpi.CompletionLoadedKpisViewModel

<div class='page-title text-white configurator-title'>
     @LocalResources.KpisConfigurator
    <button id="favorites-save-button" class='btn btn-sm btn-success pull-right' type='button'>@LocalResources.Save</button>
</div>
<hr />
@{ var oldCategory = ""; }
<div class="row d-flex">
    @for (var i = 0; i < Model.Kpis.Count; i++)
    {
        var currentKpi = Model.Kpis[i];
        var currentCategory = currentKpi.CategoryCode;
        var isNew = oldCategory != currentCategory;
        var isLast = (i >= Model.Kpis.Count - 1) || (currentCategory != Model.Kpis[i + 1].CategoryCode);
        var checkedString = currentKpi.IsFavorite ? "checked" : "";
        var initialString = currentKpi.IsFavorite ? "T" : "N";
        if (isNew)
        {
            oldCategory = currentCategory;
            <text>
                <div class='col-16 p-1'>
                    <div class="bolded">@currentKpi.CategoryDescription</div>
                    <div class='configurator-block activity-block text-white'>
                        <div class='media'>
                            <div class='media-body'>
                                <table class='table-sm'>
            </text>
        }
        <tr>
            <td>
                <div class='toggle-container col-md-16 can-toggle demo-rebrand-2 small'>
                    <input id="kpi_@currentKpi.Code" class="favorite-toggle" type="checkbox" @checkedString data-initial="@initialString" data-code="@currentKpi.Code">
                    <label for="kpi_@currentKpi.Code" class="no-margin">
                        <div class='can-toggle__switch' data-checked='On' data-unchecked='Off'></div>
                        <div class='can-toggle__label-text'>@currentKpi.Description</div>
                    </label>
                </div>
            </td>
        </tr>

        if (isLast)
        {
            @Html.Raw(@" </table>
                </div>
            </div>
        </div>
    </div>");
        }
    }
</div>
