﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@using Promis.NET.Roles
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Kpi.CompletionKpiViewModel

@{
    var isAdmin = User.IsInRole(LocalRoles.ResponsabilityAdmin);
    var isWriter = isAdmin || User.IsInRole(LocalRoles.ModuleWriteProjectCompletionKpis);
}

<div class="tab-pane active" id="home" role="tabpanel">
    <div class="row">
        <div class="col-md-3">
            <div class="card act_left">
                <div class="card-header left-header">
                    <div class="row">
                        <div class="col-md-16">
                            <span class="text-white page-title">@LocalResources.CompletionActivities</span>
                        </div>
                    </div>
                </div>
                <div class="card-block left-block">
                    <div id="favorites-container" class="container-fluid"></div>
                    <div class="row">
                        <div class="col-md-16 left-menu">
                            @if (isWriter)
                            {
                                <div id="favorites-button" class="notes notes-new-kpi" role="alert">
                                    <div class="row m-0 align-self-center">
                                        <div class="text-center align-self-center hidden-md-down">
                                            <span><i class="ti-settings favorites-icon"></i></span>
                                        </div>
                                        <div>
                                            <p class="m-0 font-weight-bold hidden-md-down favorites-text">@LocalResources.FavoritesKpiConfiguration</p>
                                        </div>
                                        <span class="pull-right ti-arrow-circle-right favorites-circle"></span>
                                    </div>
                                </div>
                            }
                            <div id="favorites-view-button" data-title="@LocalResources.KpiInEvidence" class="notes notes-new-info spento" role="alert">
                                <div class="row m-0 align-self-center">
                                    <div class="text-center align-self-center hidden-md-down">
                                        <span><i class="ti-bookmark-alt favorites-icon"></i></span>
                                    </div>
                                    <div>
                                        <p class="m-0 font-weight-bold hidden-md-down favorites-text">@LocalResources.KpiInEvidence</p>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-hover left-menu-table">
                                @foreach (var category in Model.Categories)
                                {
                                    <tr data-id="@category.Code" data-title="@category.Description" class="spento left-clickable">
                                        <td>
                                            <button class="btn btn-info btn-sm btn-round" type="button">&nbsp;@category.Code&nbsp;</button>
                                        </td>
                                        <td>@category.Description</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-13">
            <div class="row">
                <div class="col-md-16">
                    <div class="card act_right">
                        <div class="card-header right-header">
                            <span class="text-white page-title">@LocalResources.CompletionIndicators</span>
                        </div>
                        <div class="card-block right-block">
                            <div id="kpis-container" class="container-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/libraries/circle-progress.min.js"></script>
<script>
    GLOBAL_DATA.TRANSLATIONS = {
        @Model.GetPropertyName(() => LocalResources.NoChangesMade): @LocalResources.NoChangesMade.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.DataSaved): @LocalResources.DataSaved.ToHtmlJson()
    };

</script>
<script src="~/assets/js/pages/kpi-home.js"></script>