﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@using Promis.NET.Roles
@using Promis.NET.MCV.Extensions

@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@{
    var isAdmin = User.IsInRole(LocalRoles.ResponsabilityAdmin);
    var isWriter = isAdmin || User.IsInRole(LocalRoles.ModuleWriteProjectCompletionKpis);
}

<!-- Required for datatables -->
<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/libraries/dropdown.css" type="text/css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">
<link rel="stylesheet" href="~/assets/css/libraries/bootstrap-datepicker.css" />

<div class="tab-pane active" id="milestones" role="tabpanel">
    <div class="row">
        <div class="col-md-5">
            <div class="card act_left">
                <div class="card-header left-header">
                    <div class="row">
                        <div class="col-md-16">
                            <span class="text-white page-title">@LocalResources.SystemsList</span>
                        </div>
                    </div>
                </div>
                <div class="card-block left-block">
                    <div class="row">
                        <div class="col-md-16 milestones-table-container">
                            @{ Html.RenderAction("MilestonesTablePartial", new { projectId = Request.GetOwinContext().Request.User.Identity.GetProjectId() });
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-16">
                    <div class="card act_right">
                        <div class="card-header right-header">
                            <div class="text-white page-title">
                                @LocalResources.SystemMilestonesFollowup
                                <span class="pull-right">
                                    @if (isWriter)
                                    {
                                        <button id="save-button" type="button" class="btn btn-success btn-xs btn_control"> @LocalResources.Save </button>
                                    }
                                </span>
                            </div>
                        </div>
                        <div class="card-block right-block">
                            <div id="div_fup">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card editable-card">
                                            <div class="card-header right-header">
                                                <span class="text-white page-title">@LocalResources.ConstructionPhase.ToCamelCase(true, false)</span>
                                            </div>
                                            <div class="card-block">
                                                <div class="col-md-16">
                                                    <table class="table-sm full-width">
                                                        <tr>
                                                            <td class="milestones-td-title">@LocalResources.MechanicalCompletionSent</td>
                                                            <td><input id="MechanicalSent" type="text" class="input-sm form-control sys_date empty milestones-td-input" value="" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="milestones-td-title">@LocalResources.MechanicalCompletionSigned</td>
                                                            <td><input id="MechanicalSigned" type="text" class="input-sm form-control sys_date empty milestones-td-input" value="" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card editable-card">
                                            <div class="card-header right-header">
                                                <span class="text-white page-title">@LocalResources.PrecommissioningPhase.ToCamelCase(true, false)</span>
                                            </div>
                                            <div class="card-block">
                                                <div class="col-md-16">
                                                    <table class="table-sm full-width">
                                                        <tr>
                                                            <td class="milestones-td-title">@LocalResources.PrecommissioningCompletionSent</td>
                                                            <td><input id="PrecomSent" type="text" class="input-sm form-control sys_date empty milestones-td-input" value="" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="milestones-td-title">@LocalResources.PrecommissioningCompletionSigned</td>
                                                            <td><input id="PrecomSigned" type="text" class="input-sm form-control sys_date empty milestones-td-input" value="" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card editable-card">
                                            <div class="card-header right-header">
                                                <span class="text-white page-title">@LocalResources.CommissioningPhase.ToCamelCase(true, false)</span>
                                            </div>
                                            <div class="card-block">
                                                <div class="col-md-16">
                                                    <table class="table-sm full-width">
                                                        <tr>
                                                            <td class="milestones-td-title">@LocalResources.CommissioningCompletionSent</td>
                                                            <td><input id="ComSent" type="text" class="input-sm form-control sys_date empty milestones-td-input" value="" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="milestones-td-title">@LocalResources.CommissioningCompletionSigned</td>
                                                            <td><input id="ComSigned" type="text" class="input-sm form-control sys_date empty milestones-td-input" value="" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="milestones-td-title">@LocalResources.ReadyForStartupSent</td>
                                                            <td><input id="ReadyStartupSent" type="text" class="input-sm form-control sys_date empty milestones-td-input" value="" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="milestones-td-title">@LocalResources.ReadyForStartupSigned</td>
                                                            <td><input id="ReadyStartupSigned" type="text" class="input-sm form-control sys_date empty milestones-td-input" value="" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card editable-card">
                                            <div class="card-header right-header">
                                                <span class="text-white page-title">@LocalResources.StartupPhase</span>
                                            </div>
                                            <div class="card-block">
                                                <div class="col-md-16">
                                                    <table class="table-sm full-width">
                                                        <tr>
                                                            <td class="milestones-td-title">@LocalResources.TestRunProtocolStarted</td>
                                                            <td><input id="TestRunSent" type="text" class="input-sm form-control sys_date_down empty milestones-td-input" value="" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="milestones-td-title">@LocalResources.TestRunProtocolCompleted</td>
                                                            <td><input id="TestRunSigned" type="text" class="input-sm form-control sys_date_down empty milestones-td-input" value="" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="milestones-td-title">@LocalResources.GuaranteeTestProtocolSent </td>
                                                            <td><input id="GuaranteeSent" type="text" class="input-sm form-control sys_date_down empty milestones-td-input" value="" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="milestones-td-title">@LocalResources.GuaranteeTestProtocolSigned</td>
                                                            <td><input id="GuaranteeSigned" type="text" class="input-sm form-control sys_date_down empty milestones-td-input" value="" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="milestones-td-title">@LocalResources.PacProtocolSignedIfRequired</td>
                                                            <td><input id="PacSigned" type="text" class="input-sm form-control sys_date_down empty milestones-td-input" value="" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-11">
                                        <div class="card milestones-pdf-container">
                                            <div class="card-header right-header">
                                                <span class="text-white page-title">@LocalResources.SystemComponentList</span>
                                            </div>
                                            <div class="card-block">
                                                <div class="col-md-16">
                                                    <iframe id="docs" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Required for datatables -->
<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>
<script src="~/assets/js/helpers/data-table.js"></script>
<script src="~/assets/js/libraries/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.es.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.fr.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.it.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.ru.js"></script>
<script>
    @{var prop = ""; }
    GLOBAL_DATA.USER_LANGUAGE = @Request.GetOwinContext().Request.User.Identity.GetUserLanguage().ToHtmlJson();
    GLOBAL_DATA.TRANSLATIONS = {
        @prop.GetPropertyName(() => LocalResources.NoDataFound): @LocalResources.NoDataFound.ToHtmlJson(),
        @prop.GetPropertyName(() => LocalResources.ThePdfShownIsJustForTestingPurposesCurrentlyThePdfGenerationMechanismIsNotImplemented): @LocalResources.ThePdfShownIsJustForTestingPurposesCurrentlyThePdfGenerationMechanismIsNotImplemented.ToHtmlJson(),
        @prop.GetPropertyName(() => LocalResources.PleaseFirstSelectASystem): @LocalResources.PleaseFirstSelectASystem.ToHtmlJson(),
        @prop.GetPropertyName(() => LocalResources.ViewPdf): @LocalResources.ViewPdf.ToHtmlJson(),
        @prop.GetPropertyName(() => LocalResources.SuccessfullyUpdated): @LocalResources.SuccessfullyUpdated.ToHtmlJson()
    };
</script>
<script src="~/assets/js/pages/kpi-milestones.js"></script>