﻿@using Promis.NET.Localization
@using Newtonsoft.Json
@using Promis.NET.MCV.Extensions
@using Promis.NET.MCV.ViewModels
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Kpi.CompletionOverviewViewModel

<div class="row">
    <div class="col-md-3 card-margined">
        <div class="activity-block">
            <div class="media">
                <div class="media-body">
                    <p class="page_subtitle">@LocalResources.Construction.ToUpper()</p>
                    <div class="row">
                        <div class="progressprofile col">
                            <div class="progress_profile1" data-value="@Html.Raw(Model.PercentConstruction / 100)" data-size="110" data-thickness="10" data-animation-start-value="0" data-reverse="false"></div>
                            <div class="progress-percent-display"><h4><b>@Model.PercentConstruction%</b></h4></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 card-margined">
        <div class="activity-block">
            <div class="media">
                <div class="media-body">
                    <p class="page_subtitle">@LocalResources.Precommissioning.ToUpper()</p>
                    <div class="row">
                        <div class="progressprofile col">
                            <div class="progress_profile1" data-value="@Html.Raw(Model.PercentPreCommissioning / 100)" data-size="110" data-thickness="10" data-animation-start-value="0" data-reverse="false"></div>
                            <div class="progress-percent-display"><h4><b>@Model.PercentPreCommissioning%</b></h4></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 card-margined">
        <div class="activity-block">
            <div class="media">
                <div class="media-body">
                    <p class="page_subtitle">@LocalResources.Commissioning.ToUpper()</p>
                    <div class="row">
                        <div class="progressprofile col">
                            <div class="progress_profile1" data-value="@Html.Raw(Model.PercentCommissioning / 100)" data-size="110" data-thickness="10" data-animation-start-value="0" data-reverse="false"></div>
                            <div class="progress-percent-display"><h4><b>@Model.PercentCommissioning%</b></h4></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 card-margined">
        <div class="activity-block">
            <div class="media">
                <div class="media-body">
                    <p class="page_subtitle">@LocalResources.PunchlistStatus.ToUpper()</p>
                    <div class="row">
                        <canvas id="pl-status-chart" data-labels="@JsonConvert.SerializeObject(Model.PunchlistLabels)" data-values="@JsonConvert.SerializeObject(Model.PunchlistValues)" height="125"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 card-margined">
        <div class="activity-block">
            <div class="media">
                <div class="media-body">
                    <p class="page_subtitle">@LocalResources.LoopTests.ToUpper()</p>
                    <div class="row">
                        <div class="progressprofile col">
                            <div class="progress_profile1" data-value="@Html.Raw(Model.PercentLoopTests / 100)" data-size="110" data-thickness="10" data-animation-start-value="0" data-reverse="false"></div>
                            <div class="progress-percent-display"><h4><b>@Model.PercentLoopTests%</b></h4></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row margin-top-10">
    <div class="col-md-8 card-margined">
        <div class="activity-block">
            <div class="media">
                <div class="media-body">
                    <p class="page_subtitle completion-bolded-subtitle">@LocalResources.ConstructionPhase.ToUpper()</p>
                    <div class="row">
                        <canvas id="construction-chart" height="362" data-labels="@JsonConvert.SerializeObject(Model.ConstructionLabels)" data-values="@JsonConvert.SerializeObject(Model.ConstructionValues)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 card-margined completion-card-chart">
        <div class="activity-block">
            <div class="media">
                <div class="media-body">
                    <p class="page_subtitle completion-bolded-subtitle">@LocalResources.PrecommissioningPhase.ToUpper()</p>
                    <div class="row">
                        <canvas id="precommissioning-chart" data-labels="@JsonConvert.SerializeObject(Model.PreCommissioningLabels)" data-values="@JsonConvert.SerializeObject(Model.PreCommissioningValues)"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="activity-block">
            <div class="media">
                <div class="media-body">
                    <p class="page_subtitle completion-bolded-subtitle">@LocalResources.CommissioningPhase.ToUpper()</p>
                    <div class="row">
                        <canvas id="commissioning-chart" data-labels="@JsonConvert.SerializeObject(Model.CommissioningLabels)" data-values="@JsonConvert.SerializeObject(Model.CommissioningValues)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
