﻿@using Promis.NET.Localization
@using Promis.NET.MCV.Extensions
@using Promis.NET.MCV.ViewModels
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

<!-- Required for datatables -->
<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/libraries/dropdown.css" type="text/css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">
<!-- Charts -->
<link rel="stylesheet" href="~/assets/css/libraries/chart.css">

<div class="tab-pane active" id="overview" role="tabpanel">
    <div class="row">
        <div class="col-md-5">
            <div class="card act_left">
                <div class="card-header left-header">
                    <div class="row">
                        <div class="col-md-16">
                            <span class="text-white page-title">@LocalResources.SystemsList</span>
                        </div>
                    </div>
                </div>
                <div class="card-block left-block">
                    <div class="row">
                        <div class="col-md-16 milestones-table-container" id="system-list">
                            @{ Html.RenderAction("MilestonesTablePartial", new { projectId = Request.GetOwinContext().Request.User.Identity.GetProjectId() });
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-16">
                    <div class="card act_right">
                        <div class="card-header right-header">
                            <span class="text-white page-title">@LocalResources.SystemProgressAmpPerformanceIndicators</span>
                        </div>
                        <div class="card-block right-block">
                            <div id="kpi-charts"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Required for datatables -->
<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>
<script src="~/assets/js/helpers/data-table.js"></script>

<!-- Charts -->
<script src="~/assets/js/libraries/chart.js"></script>
<script src="~/assets/js/libraries/circle-progress.min.js"></script>

<script src="~/assets/js/pages/kpi-overview.js"></script>