﻿@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@using Promis.NET.Utilities.Extensions
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Kpi.CompletionSubcontractorPerformanceViewModel

<div class="row">
    <div class="col-md-13 chart-div-area">
        <div class="activity-block">
            <div class="media">
                <div class="media-body chart-progress">
                    <p class="page_subtitle">@LocalResources.CumulatedEarnedQuantity</p>
                    <div class="row">
                        @if (!String.IsNullOrWhiteSpace(Model.AnalysisData.PlannedStart))
                        {
                            <canvas id="chart-progress-sow"></canvas>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 chart-div-area">
        <div class="activity-block">
            <div class="media">
                <div class="media-body charts">
                    <p class="page_subtitle">@LocalResources.DataAnalysis</p>
                    <hr>
                    <div class="data-analysis">
                        @if (!String.IsNullOrWhiteSpace(Model.AnalysisData.PlannedStart))
                        {
                            <table class="table-sm text-right">
                                <tbody>
                                    <tr>
                                        <td class="b_right">@LocalResources.EarnedQuantity</td>
                                        <td class="white-cells">@String.Format("{0:#,0.00}", Model.AnalysisData.TotalQty)</td>
                                    </tr>
                                    <tr>
                                        <td class="b_right">@LocalResources.BudgetQty.ToCamelCase(true, false)</td>
                                        <td class="white-cells">@String.Format("{0:#,0.00}", Model.AnalysisData.LastQty)</td>
                                    </tr>
                                    <tr>
                                        <td class="b_right">@LocalResources.AchievedProgress</td>
                                        <td class="white-cells">@Html.Raw(String.Format("{0:#,0.00}", Model.AnalysisData.AchievedProgress) + " %")</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <hr>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="b_right">@LocalResources.PlannedStart</td>
                                        <td class="white-cells">@Model.AnalysisData.PlannedStart</td>
                                    </tr>
                                    <tr>
                                        <td class="b_right">@LocalResources.PlannedEnd</td>
                                        <td class="white-cells">@Model.AnalysisData.PlannedEnd</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><hr></td>
                                    </tr>
                                    <tr>
                                        <td class="b_right">@LocalResources.DelayedProgress</td>
                                        <td class="white-cells">@Model.AnalysisData.DelayedProgress</td>
                                    </tr>
                                    <tr>
                                        <td class="b_right">@LocalResources.DelayedCompletion</td>
                                        <td class="white-cells">@Model.AnalysisData.DelayedCompletion</td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><div class="row">
    <div class="col-md-13 chart-div-area">
        <div class="activity-block">
            <div class="media">
                <div class="media-body charts chart-progress">
                    <p class="page_subtitle">@LocalResources.WeeklyEarnedQuantity.ToUpper()</p>

                    @if (!String.IsNullOrWhiteSpace(Model.AnalysisData.PlannedStart))
                    {
                        <div class="row">
                            <canvas id="chart-progress-sow-week" height="300" width="1059"></canvas>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3  chart-div-area">
        <div class="activity-block">
            <div class="media">
                <div class="media-body">
                    <p class="page_subtitle">@LocalResources.ForecastAnalysis</p><hr>
                    <div class="data-analysis">
                        <table class="table-sm text-right">
                            <tbody>
                                <tr>
                                    <td class="b_right">@LocalResources.WeeklyQuantity</td>
                                    <td class="white-cells">@Model.AnalysisData.WeeklyQuantity</td>
                                </tr>
                                <tr>
                                    <td class="b_right">@LocalResources.PlannedProductivity</td>
                                    <td class="white-cells">@Model.AnalysisData.PlannedProductivity</td>
                                </tr>
                                <tr>
                                    <td class="b_right">@LocalResources.CurrentProductivity</td>
                                    <td class="white-cells">@Model.AnalysisData.ActualProductivity</td>
                                </tr>
                                <tr>
                                    <td class="b_right">@LocalResources.AdditionalDelay</td>
                                    <td class="white-cells">@Model.AnalysisData.AditionalDelay</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
