﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Kpi.CompletionKPISubContractorViewModel

<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/libraries/chart.css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">


<div class="tab-pane active" id="sub" role="tabpanel">
    <div class="row">
        <div class="panel_sx col-md-5" id="completion-subcontractor">
            <div class="card act_left" id="sub-activities-subcontractor">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-16">
                            <span class="text-white page_title subcontractor-sow">@LocalResources.SubcontractorListAmpSow</span>
                        </div>
                    </div>
                </div>
                <div class="card-block" id="subcontractor">
                    <div class="row">
                        <div class="col-md-16" id="subc-sow">
                            <div class="form-group row">
                                <label for="subc_list" class="col-md-4 text-right">@LocalResources.Subcontractor</label>
                                <div class="col-md-12">
                                    <select class="form-control" id="subcontractors-list" name="subc">
                                        <option value=""></option>
                                        @for (int i = 0; i < Model.Subcontractors.Count; i++)
                                        {
                                            <option value="@Model.Subcontractors.ElementAt(i).Code">@Model.Subcontractors.ElementAt(i).Description</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-16" id="completion-sow">
                            <div id="div-sow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-11 panel_dx " id="left-panel">
            <div class="row">
                <div class="col-md-16" style="padding-right: 0px">
                    <div class="card act_right" style="height: 535px;">
                        <div class="card-header" style="line-height: 1">
                            <span class="text-white page_title" id="subcontractor-progress">@Html.Raw(LocalResources.SubcontractorProgressAmpPerformanceIndicators)</span>
                        </div>
                        <div class="card-block" style="background-color: rgba(0,0,0,0.2); overflow-y: auto ">
                            <div id="div-subc">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>
<script src="~/assets/js/helpers/data-table.js"></script>
<script src="~/assets/js/libraries/chart.js"></script>
<script src="~/assets/js/libraries/highcharts.src.js"></script>
<script src="~/assets/js/libraries/Chart.bundle.min.js"></script>
<script>
    GLOBAL_DATA.TRANSLATIONS = {

        @Model.GetPropertyName(() => LocalResources.InOrderToSeeTheSowTableYouMustSelectASubcontractor): @LocalResources.InOrderToSeeTheSowTableYouMustSelectASubcontractor.ToHtmlJson()
    };

</script>
<script src="~/assets/js/pages/kpi-subcontractors.js"></script>