﻿@using Promis.NET.MCV.ViewModels
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.AccordionViewModel

<div class="card accordion-card">
    <div class="card-header">
        <span class="text-white accordion-title">@Model.Title</span>
        <h5 class="card-subtitle mb-2 text-muted">@Model.Description</h5>
    </div>

    <div id="@Model.Identifier" role="tablist" aria-multiselectable="true" class="accordion">
        @foreach (var kvp in Model.Elements)
        {
            var containerId = Model.Identifier + "-" + kvp.Key;
            var headerId = "h" + containerId;
            <div class="card">
                <div id="@headerId" class="card-header accordion-element-title" role="tab">
                    <p class="mb-0 pull-left">
                        <a class="in text-white accordion-trigger" data-code="@kvp.Key" data-toggle="collapse" data-parent="#@Model.Identifier" href="#@containerId" aria-expanded="true" aria-controls="@containerId">
                            <i class="fa fa-angle-down fa-lg mr-2"></i>@kvp.Value
                        </a>
                    </p>
                </div>
                <div id="@containerId" class="collapsed in collapse" role="tabpanel" aria-labelledby="@headerId" aria-expanded="true">
                    <div class="card-block text-white accordion-element-container">
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $("#@Html.Raw(Model.Identifier + " .accordion-trigger")").click(function () {
        var contentId = $(this).attr("href");
        var innerContentId = contentId + " .accordion-element-container";
        var isDisplayed = $(contentId).hasClass("show");
        if (isDisplayed) {
            //$(contentId).removeClass("show"); done auto
            $(innerContentId).html("");
            return;
        }

        // call server to get data
        var url = GLOBAL_DATA.APP_ROOT + "/" + "@Model.PathToRetrieveElements" + "?code=" + $(this).attr("data-code");
        callServer(url, {
            elementsToAddLoading: [contentId],
            removeLoaderIfFail: true,
            successFunc: function (viewHtml) {
                $(innerContentId).html(viewHtml);
                $(contentId).addClass("show");
                @{ 
                    if(!string.IsNullOrWhiteSpace(Model.MethodToInvoke))
                    {
                        Html.Raw(Model.MethodToInvoke + "()");
                    }
                }
            }
        });
    });
</script>