﻿@using Microsoft.AspNet.Identity
@using Promis.NET.Roles
@using Promis.NET.MCV.ViewModels
@using Promis.NET.MCV.Extensions
@using Promis.NET.Utilities.Extensions
@using Promis.NET.Localization

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <!-- Import the main CSS of the site-->
    <link rel="stylesheet" href="~/assets/css/libraries/weather.css">
    <link rel="stylesheet" href="~/assets/css/main.css" type="text/css">

    @RenderSection("styles", required: false)
}

<script>
    GLOBAL_DATA.USER_ID = @Request.GetOwinContext().Request.User.Identity.GetUserId();
    GLOBAL_DATA.USER_THEME = @Request.GetOwinContext().Request.User.Identity.GetUserTheme().ToHtmlJson();
    GLOBAL_DATA.USER_LANGUAGE = @Request.GetOwinContext().Request.User.Identity.GetUserLanguage().ToHtmlJson();
    GLOBAL_DATA.PROJECT_DATABASE = @Request.GetOwinContext().Request.User.Identity.GetProjectDatabaseName().ToHtmlJson();
    GLOBAL_DATA.PROJECT_ID = @Request.GetOwinContext().Request.User.Identity.GetProjectId().ToHtmlJson();
</script>

@{
    var userIsAdmin = User.IsInRole(LocalRoles.ResponsabilityAdmin);
    var userCanSeeProjectSetup = userIsAdmin;
    var userCanSeeProjectDatabase = userIsAdmin || User.IsInRole(LocalRoles.ModuleReadConstructionEngineeringDatabase);
    var userCanSeeCertification = userIsAdmin || User.IsInRole(LocalRoles.ModuleReadCertificationManagement);
    var userCanSeePreservation = userIsAdmin || User.IsInRole(LocalRoles.ModuleReadPreservationPlanning);
    var userCanSeeSite = userIsAdmin || User.IsInRole(LocalRoles.ModuleReadSiteActivities);
    var userCanSeePlanning = userIsAdmin || User.IsInRole(LocalRoles.ModuleReadPlanningProgress);
    var userCanSeeCommissioning = userIsAdmin || User.IsInRole(LocalRoles.ModuleReadPrecommInspections);
    var userCanSeeKPIs = userIsAdmin || User.IsInRole(LocalRoles.ModuleReadProjectCompletionKpis);
    var userCanSeeMobile = userIsAdmin || User.IsInRole(LocalRoles.ModuleReadMobileSuite);
}
<div id="main_overlay"></div>
<header class="navbar-fixed">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
        <!-- Left part of the menubar -->
        <div class="sidebar-left">
            <a id="page_logo_link" class="navbar-brand pull-left" href="@Url.Action("Index", "Home")">
                <img id="logo" alt="PROMIS" class="hidden-sm-down" src="~/assets/img/promis_w.svg" />
            </a>
            <button class="btn btn-link icon-header mr-sm-2 pull-right menu-collapse">
                <span class="ti-menu"></span>
            </button>
        </div>
        <form class="form-inline mr-sm-2 pull-left search-header hidden-md-down">
            <input class="form-control" type="text" placeholder="Search" id="search_header">
            <button class="btn btn-link icon-header" type="submit">
                <span class="fa fa-search"></span>
            </button>
        </form>
        <!-- Container for the loaded company Details Data-->
        <div class="project-details-container">
            @{ Html.RenderAction("GetProjectData", "Project", new { id = Request.GetOwinContext().Request.User.Identity.GetProjectId() }); }
        </div>

        <div class="d-flex mr-auto">&nbsp;</div>

        <!-- Right part of the menubar -->
        <div class="sidebar-right pull-right">
            <ul class="navbar-nav justify-content-end">
                <li>
                    <a href="#" id="user-profile-info" class="btn btn-outline-primary btn-round icon-header btn-sm">
                        <span class="ti-user"></span>
                    </a>
                </li>

                <li class="nav-item">
                    <button class="btn btn-outline-primary btn-round icon-header  btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="ti-settings"></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item theme-changer" data-theme="dark_blue" data-logo="promis_w.svg" href="#">@LocalResources.DarkBlueTheme</a>
                        <a class="dropdown-item theme-changer" data-theme="dark_purple" data-logo="promis_w.svg" href="#">@LocalResources.DarkPurpleTheme</a>
                        <a class="dropdown-item theme-changer" data-theme="dark_red" data-logo="promis_w.svg" href="#">@LocalResources.DarkRedTheme</a>
                        <a class="dropdown-item theme-changer" data-theme="dark_grey" data-logo="promis_w.svg" href="#">@LocalResources.DarkGreyTheme</a>
                        <a class="dropdown-item theme-changer" data-theme="dark_green" data-logo="promis_b.svg" href="#">@LocalResources.DarkGreenTheme</a>
                        <a class="dropdown-item theme-changer" data-theme="dark_brown" data-logo="promis_w.svg" href="#">@LocalResources.DarkBrownTheme</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item theme-changer" data-theme="light" data-logo="promis_b.svg" href="#">@LocalResources.LightTheme</a>
                    </div>
                </li>
                <li>
                    <a id="logout-btn" href="#" class="btn btn-outline-primary btn-round icon-header btn-sm">
                        <span class="ti-close"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- The User Menu -->
<div class="sidebar-left">
    <!-- Upper profile data -->
    <div class="user-menu-items">
        <div class="list-unstyled btn-group">
            <div class="media btn btn-link">
                <div id="user-details-container" class="row">
                    @{
                        var userId = Request.GetOwinContext().Request.User.Identity.GetUserId();
                        Html.RenderAction("GetUserDataById", "Account", new { userId = userId });
                    }
                </div>
                @if (userIsAdmin)
                {
                    <a href="@Url.Action("Index", "Project").ToLower()">
                        <span id="profile-badge" class="ti-id-badge"></span>
                    </a>
                }
            </div>
        </div>
    </div>
    <!-- User menu - Modules List -->
    <ul class="modules" id="ul-modules">
        <li>
            <a href="@Url.Action("Index", "Home").ToLower()">
                <span class="ti-dashboard myicon" title="@LocalResources.ProjectStatus"></span>
                <p class="mytitle">@LocalResources.Project<br />@LocalResources.Status</p>
            </a>
        </li>
        <li @Html.Raw(userCanSeeProjectDatabase ? "" : "class='greyed-out'")>
            <a href="@Html.Raw(userCanSeeProjectDatabase ? Url.Action("Index", "Engineering").ToLower() : "#")">
                <span class="ti-server myicon" title="@LocalResources.ProjectDatabase"></span>
                <p class="mytitle">@LocalResources.Project<br />@LocalResources.Database</p>
            </a>
        </li>
        <li @Html.Raw(userCanSeeCertification ? "" : "class='greyed-out'")>
            <a href="@Html.Raw(userCanSeeCertification ? Url.Action("Index", "Certification").ToLower() : "#")">
                <span class="ti-bookmark-alt myicon" title=" @LocalResources.CertificationManagement"></span>
                <p class="mytitle">@LocalResources.Certification<br />@LocalResources.Management</p>
            </a>

        </li>
        <li @Html.Raw(userCanSeePreservation ? "" : "class='greyed-out'")>
            <a href="@Html.Raw(userCanSeePreservation ? Url.Action("Index", "Preservation").ToLower() : "#")">
                <span class="ti-shield myicon" title="@LocalResources.MaterialPreservation"></span>
                <p class="mytitle">@LocalResources.Material<br />@LocalResources.Preservation</p>
            </a>
        </li>
        <li @Html.Raw(userCanSeeSite ? "" : "class='greyed-out'")>
            <a href="@Html.Raw(userCanSeeSite ? Url.Action("Index", "Activities").ToLower() : "#")">
                <span class="ti-layout-grid3 myicon" title="@LocalResources.SiteActivities"></span>
                <p class="mytitle">@LocalResources.Site<br />@LocalResources.Activities</p>
            </a>
        </li>
        <li @Html.Raw(userCanSeePlanning ? "" : "class='greyed-out'")>
            <a href="@Html.Raw(userCanSeePlanning ? Url.Action("Index", "Progress").ToLower() : "#")">
                <span class="ti-stats-up myicon" title="@LocalResources.PlanningAmpProgress"></span>
                <p class="mytitle">@LocalResources.Planning &amp;<br />@LocalResources.Progress</p>
            </a>
        </li>
        <li class="modules-li @Html.Raw(userCanSeeCommissioning ? "" : "greyed-out")">
            <a href="@Html.Raw(userCanSeeCommissioning ? Url.Action("Index", "Commissioning").ToLower() : "#")">
                <span class="ti-panel myicon" title="@LocalResources.PrecommissioningInspections"></span>
                <p class="mytitle">@LocalResources.Precomm<br />@LocalResources.Inspections</p>
            </a>
        </li>
        <li class="modules-li @Html.Raw(userCanSeeKPIs ? "" : "greyed-out")">
            <a href="@Html.Raw(userCanSeeKPIs ? Url.Action("Index", "Kpi").ToLower() : "#")">
                <span class="ti-flag myicon" title=" @LocalResources.ProjectCompletionKpis"></span>
                <p class="mytitle">@Html.Raw(LocalResources.CompletionKpis.Replace(" ", "<br />"))</p>
            </a>
        </li>
        <li class="modules-li @Html.Raw(userCanSeeMobile ? "" : "greyed-out")">
            <a href="#">
                <span class="ti-mobile myicon" title=" @LocalResources.MobileApplications"></span>
                <p class="mytitle">@Html.Raw(LocalResources.MobileApplications.Replace(" ", "<br />"))</p>
            </a>
        </li>
    </ul>
</div>

<!-- Inner Content start -->
<div class="wrapper-content">
    <div class="container-fluid" style="padding:0">
        @RenderBody()
    </div>
</div>
<!-- Inner Content end -->

<footer class="footer-content">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-md-8 col-lg-6 text-left">Copyright ©@DateTime.Now.Year - PROMIS</div>
            <div id="page-version-container" class="col-md-8 col-lg-4 text-right"><small id="outer-page-version">@Html.Raw((ViewBag.PageVersion != null ? ViewBag.PageVersion : "V1.0.0.0"))</small></div>
            <div class="col-lg-6 hidden-md-down text-right">
                <a href="#" target="_blank" class="">@LocalResources.SiteMap</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#" target="_blank" class="">@LocalResources.TermsOfUse</a>
            </div>
        </div>
    </div>
</footer>

<!-- Placeholder -->
<div id="execlay"></div>

@section Scripts{
    <script src="~/assets/js/libraries/jquery.simpleWeather.min.js"></script>
    <script src="~/assets/js/promis.js"></script>

    <script>
        switch_theme_without_css(GLOBAL_DATA.USER_THEME);
        @{ var layoutProp = "";}

        var GLOBAL_TRANSLATIONS = {

            @layoutProp.GetPropertyName(() => LocalResources.ErrorTableNameNotSpecifiedWhenInitializingTable): @LocalResources.ErrorTableNameNotSpecifiedWhenInitializingTable.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.CannotSetNewColumnListNotAValidArray): @LocalResources.CannotSetNewColumnListNotAValidArray.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.AdvancedDataFilterForEachAttributesAndMode): @LocalResources.AdvancedDataFilterForEachAttributesAndMode.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.ApplyFilters): @LocalResources.ApplyFilters.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.ResetFilters): @LocalResources.ResetFilters.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.FromTheArray): @LocalResources.FromTheArray.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.TheListOfColumnsSpecifiedIsInvalidCannotInitializeTheAdvancedFiltersPlugin): @LocalResources.TheListOfColumnsSpecifiedIsInvalidCannotInitializeTheAdvancedFiltersPlugin.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.TryingToSetInvalidFilters): @LocalResources.TryingToSetInvalidFilters.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.NoTableAvailableToExecuteTheExportOn): @LocalResources.NoTableAvailableToExecuteTheExportOn.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.NoTableAvailableToExecuteTheExportTemplateOn): @LocalResources.NoTableAvailableToExecuteTheExportTemplateOn.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.NoTableAvailableToExecuteTheImportOn): @LocalResources.NoTableAvailableToExecuteTheImportOn.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.ImportExcelDataFor): @LocalResources.ImportExcelDataFor.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.ExportTemplate): @LocalResources.ExportTemplate.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.ExportData): @LocalResources.ExportData.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.ClickOnIconToDownload): @LocalResources.ClickOnIconToDownload.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.ThisBrowserDoesntSupportHtml5FileUploads): @LocalResources.ThisBrowserDoesntSupportHtml5FileUploads.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.WrongFileExtensionPleaseSelectXlsOrXlsxFiles): @LocalResources.WrongFileExtensionPleaseSelectXlsOrXlsxFiles.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.PleaseSelectAFileToImport): @LocalResources.PleaseSelectAFileToImport.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.FileHasBeenImportedWithSuccesReloadingTableInSeconds): @LocalResources.FileHasBeenImportedWithSuccesReloadingTableInSeconds.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.PersonalInformation): @LocalResources.PersonalInformation.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.SiteMeteo): @LocalResources.SiteMeteo.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.CantLoadbrweather): @LocalResources.CantLoadbrweather.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.TodaysHigh): @LocalResources.TodaysHigh.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.Wind): @LocalResources.Wind.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.Humidity): @LocalResources.Humidity.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.Low): @LocalResources.Low.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.Currently): @LocalResources.Currently.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.Chill): @LocalResources.Chill.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.Visibility): @LocalResources.Visibility.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.Sunset): @LocalResources.Sunset.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.Sunrise): @LocalResources.Sunrise.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.ForecastNextDays): @LocalResources.ForecastNextDays.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.ProjectSiteMeteoConditions): @LocalResources.ProjectSiteMeteoConditions.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.MeteoStationNotFound): @LocalResources.MeteoStationNotFound.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.AnErrorHasBeenReportedByDatatables): @LocalResources.AnErrorHasBeenReportedByDatatables.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.CannotDisplayTableColumnsMustBeSpecifiedToLoadDataWithAjaxSpecifyOptionscolumn): @LocalResources.CannotDisplayTableColumnsMustBeSpecifiedToLoadDataWithAjaxSpecifyOptionscolumn.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.AdvancedDataFilter): @LocalResources.AdvancedDataFilter.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.ClickOnBupdateProfilebToMakeTheChangeEffective): @LocalResources.ClickOnBupdateProfilebToMakeTheChangeEffective.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.DataUpdatedSuccessfully): @LocalResources.DataUpdatedSuccessfully.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.UpdateProfile): @LocalResources.UpdateProfile.ToHtmlJson(),
            @layoutProp.GetPropertyName(() => LocalResources.Welcome): @LocalResources.Welcome.ToHtmlJson()
    };
    </script>
    <script src="~/assets/js/pages/layout.js"></script>
    @{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

    @RenderSection("scripts", required: false)
}
