﻿@using Promis.NET.Utilities.Extensions
@model Promis.NET.MCV.ViewModels.Envelope

@{ 
    var isValid = Model != null && Model.errors != null;
    var isArray = isValid && (Model.errors.GetType().IsArray || Model.errors.GetType() == typeof(List<string>)) && Model.errors.Count > 0;
    var isPromisError = isValid && Model.errors.GetType() == typeof(Promis.NET.Utilities.Exceptions.ErrorDetails);
}
@if (isArray || isPromisError)
{
    <script>
        validateEnvelopeError(@ObjectExtensions.ToHtmlJson(@Model));
    </script>
}
