﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.Extensions
@using Promis.NET.Localization

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <!-- Specify to the browser we are responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Icon -->
    <link rel="icon" href="~/favicon.ico">

    <!-- Title -->
    <title>@ViewBag.Title | Promis</title>

    <!-- Font Awesome Icons CSS -->
    <link rel="stylesheet" href="~/assets/css/libraries/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/libraries/themify-icons.css" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/libraries/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/libraries/roboto.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/libraries/spinkit.css" type="text/css">

    <!-- Addons -->
    <link rel="stylesheet" href="~/assets/css/addons.css" type="text/css" />

    <script src="~/assets/js/global.js"></script>

    <!-- Themes -->
    <link id="theme" rel="stylesheet" href="@Html.Raw("/assets/css/themes/" + Request.GetOwinContext().Request.User.Identity.GetUserTheme() + ".css")" type="text/css">

    <!-- CHILD STYLES START -->
    @RenderSection("styles", required: false)
    <!-- CHILD STYLES END -->
</head>

<body class="menuclose menuclose-right">

    <!-- CONTENT START -->
    @RenderBody()

    <!--Modal-->
    <div class="modal dark_bg fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header row" id="modal-head">
                    <h6 class="pull-left modal-title" id="modal-label">&nbsp;</h6>
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <div id="modal-footer-versioning" class="col-md-4 left left-align"><small id="modal-version">F004.M001.V1.0.0.0</small></div>
                    <div id="modal-footer-content"></div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Modal-->
    <!-- CONTENT END -->
    <!-- SCRIPTS START -->
    <!-- jQuery first (header), then Tether, then Bootstrap JS. -->
    <script src="~/assets/js/libraries/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/libraries/tether.min.js"></script>

    <script src="~/assets/js/libraries/bootstrap.min.js"></script>
    <script src="~/assets/js/libraries/notify.js"></script>
    <script src="~/assets/js/libraries/lodash.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    @if (Request.Browser.Browser == "IE" && Request.Browser.MajorVersion < 9)
    {
        <script src="~/assets/js/libraries/html5shiv.min.js"></script>
        <script src="~/assets/js/libraries/respond.min.js"></script>
    }

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/assets/js/libraries/ie10-viewport-bug-workaround.js"></script>

    <!-- Utils -->
    <script>
        @{var propData = "";}
           var GLOBAL_TRANSLATIONS_FOR_LAYOUT = {
                @propData.GetPropertyName(() => LocalResources.ChartsNotAvailableToChangeTheme): @LocalResources.ChartsNotAvailableToChangeTheme.ToHtmlJson(),
                @propData.GetPropertyName(() => LocalResources.PageUnderConstruction): @LocalResources.PageUnderConstruction.ToHtmlJson(),
                @propData.GetPropertyName(() => LocalResources.Modal): @LocalResources.Modal.ToHtmlJson(),
                @propData.GetPropertyName(() => LocalResources.Creating): @LocalResources.Creating.ToHtmlJson(),

                @propData.GetPropertyName(() => LocalResources.AddRecord): @LocalResources.AddRecord.ToHtmlJson(),
                @propData.GetPropertyName(() => LocalResources.CannotUpdateThisRow): @LocalResources.CannotUpdateThisRow.ToHtmlJson(),
                @propData.GetPropertyName(() => LocalResources.UpdateRecord): @LocalResources.UpdateRecord.ToHtmlJson(),
                @propData.GetPropertyName(() => LocalResources.DeleteRecord): @LocalResources.DeleteRecord.ToHtmlJson(),
                @propData.GetPropertyName(() => LocalResources.DeleteSelectedRecordbrbrareYouSure): @LocalResources.DeleteSelectedRecordbrbrareYouSure.ToHtmlJson(),
                @propData.GetPropertyName(() => LocalResources.Confirm): @LocalResources.Confirm.ToHtmlJson(),
                @propData.GetPropertyName(() => LocalResources.ThereIsNoDataForThisSelection): @LocalResources.ThereIsNoDataForThisSelection.ToHtmlJson()
            };

    </script>
    <script src="~/assets/js/helpers/loader.js"></script>
    <script src="~/assets/js/addons.js"></script>

    <!-- CHILD SCRIPTS START -->
    @RenderSection("scripts", required: false)
    <!-- CHILD SCRIPTS END -->
    <!-- SCRIPTS END -->
</body>
</html>
