﻿@using Promis.NET.Utilities.Extensions
@model Promis.NET.MCV.ViewModels.ModuleLayoutViewModel

@{
    ViewBag.Title = Model.ModuleTitle;
    ViewBag.PageVersion = Model.ModuleVersion;
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/assets/css/helpers/module-layout.css">
    @foreach (var sheet in Model.StyleSheetsList)
    {
        <link rel="stylesheet" href="@Html.Raw("/assets/css" + sheet)">
    }
}

<div class="container">
    <div class="row align-items-center justify-content-between" id="align-rows">
        <div class="col-15 col-sm-16">
            <div class="pull-left">
                <p class="page_title" id="title-style">@Html.Raw(Model.ModuleTitle)</p>
            </div>
            <div class="pull-right" id="pull-right-div">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    @{ var finalDescriptors = new Dictionary<string, string>(); }
                    @foreach (var item in Model.PageDescriptorsContainer)
                    {
                        var isDropdown = Model.PageDescriptorsForDropdowns != null && Model.PageDescriptorsForDropdowns.ContainsKey(item.Key) && Model.PageDescriptorsForDropdowns[item.Key] != null && Model.PageDescriptorsForDropdowns[item.Key].Count() > 0;
                        <li class="nav-item @Html.Raw(isDropdown ? "dropdown" : "")">
                            @if(!isDropdown)
                            {
                                <a class="linkedin nav-link" data-toggle="tab" data-page="@Html.Raw(item.Key == "home" ? "" : item.Key)" href="#" role="tab">@item.Value</a>
                                finalDescriptors.Add(item.Key, item.Value);
                            }
                            else
                            {
                                <a class="nav-link linkedin2 dropdown-toggle nav-link-dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@item.Value</a>
                                <div class="dropdown-menu">
                                    @foreach(var subitem in Model.PageDescriptorsForDropdowns[item.Key])
                                    {
                                        <a class="linkedin dropdown-item" data-toggle="tab" data-page="@Html.Raw(subitem.Key == "home" ? "" : subitem.Key)" href="#">@subitem.Value</a>
                                        finalDescriptors.Add(subitem.Key, subitem.Value);
                                    }
                                </div>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content tab-content-style" id="@Model.ContentContainerId">
    </div>
</div>

@section Scripts{
    <script src="~/assets/js/helpers/virtual-loader.js"></script>
    <script src="~/assets/js/helpers/module-layout.js"></script>
    <script>
        var CurrentModule = new ModuleLayout({
            workingPath: @Model.WorkingPath.ToHtmlJson(),
            contentContainerId: @Model.ContentContainerId.ToHtmlJson(),
            pageDescriptors: @finalDescriptors.Select(c => new { id = c.Key, title = c.Value }).ToHtmlJson()
});
    </script>
    @foreach (var js in Model.ScriptsList)
    {
        <script src="@Html.Raw("/assets/js" + js)"></script>
    }
}
