﻿@using Promis.NET.Localization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@LocalResources.Error</title>
</head>
<body>
    <hgroup>
        <h1>@LocalResources.Error</h1>
        <h2>@LocalResources.AnErrorOccurredWhileProcessingYourRequest</h2>
    </hgroup>
</body>
</html>

