﻿@model Promis.NET.MCV.ViewModels.PdfViewerViewModel
@using Promis.NET.Localization

@{ var directDlLink = Url.Action("Download", "Content", new { type = "pdf", filePath = Model.DocUrl});
}
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>@LocalResources.Flip</title>
    <link type="text/css" href="~/assets/flip/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/fonts/themify-icons.css" type="text/css">

    <!-- add js code -->
    <script src="~/assets/flip/js/jquery.js"></script>
    <script src="~/assets/flip/js/turn.js"></script>
    <script src="~/assets/flip/js/wait.js"></script>
    <script src="~/assets/flip/js/jquery.fullscreen.js"></script>

    <script src="~/assets/flip/js/jquery.address-1.6.min.js"></script>
    <script src="~/assets/flip/js/compatibility.js"></script>
    <script src="~/assets/flip/js/pdf.js"></script>
    <script src="~/assets/flip/js/pdf.worker.js"></script>
    <script src="~/assets/flip/js/onload.js"></script>

    <style>
        html, body {
            margin: 0;
            padding: 0;
            overflow: auto !important;
        }
    </style>
</head>
<body>
    <!-- begin flipbook  -->
    <div id="fb5-ajax" data-cat="Promis" data-template="true">
        <!-- BACKGROUND FLIPBOOK -->
        <div class="fb5-bcg-book" style="background-image: none; background-color: transparent!important"></div>
        <!-- BEGIN STRUCTURE HTML FLIPBOOK -->
        <div class="fb5" id="fb5">
            <!-- CONFIGURATION BOOK -->
            <section id="config">
                <ul>
                    <li key="page_width">918</li>               <!-- width for page -->
                    <li key="page_height">1298</li>             <!-- height for page -->
                    <li key="gotopage_width">25</li>            <!-- width for field input goto page -->
                    <li key="zoom_double_click">1</li>          <!-- value zoom after double click -->
                    <li key="zoom_step">0.06</li>				<!-- zoom step ( if click icon zoomIn or zoomOut -->
                    <li key="toolbar_visible">true</li>			<!-- enabled/disabled toolbar -->
                    <li key="tooltip_visible">true</li>			<!-- enabled/disabled tooltip for icon -->
                    <li key="deeplinking_enabled">false</li>   	<!-- enabled/disabled deeplinking -->
                    <li key="lazy_loading_pages">false</li>		<!-- enabled/disabled lazy loading for pages in flipbook -->
                    <li key="lazy_loading_thumbs">false</li>	<!-- enabled/disabled lazdy loading for thumbs -->
                    <li key="double_click_enabled">true</li> 	<!-- enabled/disabled double click mouse for flipbook -->
                    <li key="rtl">false</li>					<!-- enabled/disabled 'right to left' for eastern countries -->
                    <li key="pdf_url">@directDlLink</li>		                <!-- pathway to a pdf file ( the file will be read live ) -->
                    <li key="pdf_scale">2</li>					<!-- to live a pdf file (if you want to have a strong zoom - increase the value) -->
                    <li key="page_mode">@Model.PageMode</li>               <!-- value to 'single', 'double', or 'auto' -->
                </ul>
            </section>
            <!-- BEGIN PRELOADER -->
            <div class="fb5-preloader"></div>
            <!-- END PRELOADER -->
            <!-- BEGIN CONTAINER BOOK -->
            <div id="fb5-container-book">
                <!-- BEGIN deep linking -->
                <section id="fb5-deeplinking">
                    <ul>
                        <li data-address="page1" data-page="1"></li>
                        <li data-address="page2-page3" data-page="2"></li>
                        <li data-address="page2-page3" data-page="3"></li>
                        <li data-address="page4-page5" data-page="4"></li>
                        <li data-address="page4-page5" data-page="5"></li>
                        <li data-address="page6-page7" data-page="6"></li>
                        <li data-address="page6-page7" data-page="7"></li>
                        <li data-address="page8-page9" data-page="8"></li>
                        <li data-address="page8-page9" data-page="9"></li>
                        <li data-address="page10-page11" data-page="10"></li>
                        <li data-address="page10-page11" data-page="11"></li>
                        <li data-address="page12" data-page="12"></li>
                    </ul>
                </section>
                <!-- END deep linking -->
                <!-- BEGIN ABOUT -->
                <section id="fb5-about"></section>
                <!-- END ABOUT -->
                <!-- BEGIN LINKS -->
                <section id="links"></section>
                <!-- END LINKS -->
                <!-- BEGIN PAGES -->
                <div id="fb5-book">
                </div>
                <!-- END PAGES -->
            </div>
            <!-- END CONTAINER BOOK -->
            <!-- BEGIN FOOTER -->
            <div id="fb5-footer">
                <div class="fb5-bcg-tools" style="height:40px!important;"></div>
                <h2 id="fb5-logo" style="font-size: 20px!important;color: white!important; padding-left: 20px; line-height: 45px!important">@Model.Title</h2>
                <div class="fb5-menu" id="fb5-center">
                    <ul>
                        <li>
                            <a title="show cover page" class="fb5-home"><span class="ti-control-skip-backward"></span></a>
                        </li>
                        <li>
                            <a title="prev page" class="fb5-arrow-left"><span class="ti-control-backward"></span></a>
                        </li>
                        <li>
                            <a title="next page" class="fb5-arrow-right"><span class="ti-control-forward"></span></a>
                        </li>
                        <li>
                            <a title="zoom in" class="fb5-zoom-in"><span class="ti-zoom-in"></span></a>
                        </li>
                        <li>
                            <a title="zoom out" class="fb5-zoom-out"><span class="ti-zoom-out"></span></a>
                        </li>
                        <li>
                            <a title="one page" onClick="pagina('single')"><span class="ti-file"></span></a>
                        </li>

                        <li>
                            <a title="double pages" onClick="pagina('double')"><span class="ti-files"></span></a>
                        </li>
                        <li>
                            <a title="download pdf" class="fb5-download" href="@directDlLink" download="@directDlLink"><span class="ti-download"></span></a>
                        </li>
                        <li>
                            <a title="full/normal screen" class="fb5-fullscreen"><span class="ti-layout-media-center-alt"></span></a>
                        </li>
                    </ul>
                </div>

                <div class="fb5-menu" id="fb5-right">
                    <ul>
                        <!-- icon page manager -->
                        <li class="fb5-goto">
                            <label for="fb5-page-number" id="fb5-label-page-number"></label>
                            <input type="text" id="fb5-page-number" style="width: 25px;">
                            <span id="fb5-page-number-two"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END FOOTER -->
            <!-- BEGIN ALL PAGES -->
            <div id="fb5-all-pages" class="fb5-overlay">
                <section class="fb5-container-pages">
                    <div id="fb5-menu-holder">
                        <ul id="fb5-slider">
                            <!-- thumb 1 -->
                            <li class="1">
                                <img alt="" data-src="pages/1_.jpg">
                            </li>
                            <!-- thumb 2 -->
                            <li class="2">
                                <img alt="" data-src="pages/2_.jpg">
                            </li>
                            <!-- thumb 3 -->
                            <li class="3">
                                <!-- img -->
                                <img alt="" data-src="pages/3_.jpg">
                            </li>
                            <!-- thumb 4 -->
                            <li class="4">
                                <!-- img -->
                                <img alt="" data-src="pages/4_.jpg">
                            </li>
                            <!-- thumb 5 -->
                            <li class="5">
                                <!-- img -->
                                <img alt="" data-src="pages/5_.jpg">
                            </li>
                            <!-- thumb 6 and 7 -->
                            <li class="6">
                                <!-- img -->
                                <img alt="" data-src="pages/6_7_.jpg">
                            </li>
                            <!-- thumb 8 and 9 -->
                            <li class="8">
                                <!-- img -->
                                <img alt="" data-src="pages/8_9_.jpg">
                            </li>
                            <!-- thumb 10 -->
                            <li class="10">
                                <!-- img -->
                                <img alt="" data-src="pages/10_.jpg">
                            </li>
                            <!-- thumb 11 -->
                            <li class="11">
                                <!-- img -->
                                <img alt="" data-src="pages/11_.jpg">
                            </li>
                            <!-- thumb 12 -->
                            <li class="12">
                                <!-- img -->
                                <img alt="" data-src="pages/12_.jpg">
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <!-- END ALL PAGES -->
            <!-- BEGIN CLOSE LIGHTBOX  -->
            <div id="fb5-close-lightbox">
                <i class="fa fa-times pull-right"></i>
            </div>
            <!-- END CLOSE LIGHTBOX -->
        </div>
        <!-- END STRUCTURE HTML FLIPBOOK -->
    </div>
    <!-- end flipbook -->

    <script>
        function pagina(type) {
            document.location = "content/pdf?document=" + encodeURIComponent("@Model.DocUrl")
                + "&pageMode=" + encodeURIComponent("@Model.PageMode")
                + "&title=" + encodeURIComponent("@Model.Title");
        }
    </script>
</body>
</html>