﻿
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@using Promis.NET.Utilities.Extensions

@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Account.UserDataViewModel

<span class="message_userpic">
    <figure class="user-login">
        <img id="user-details-picture" alt="@Model.Base.Name's Profile Picture" src="@Html.Raw(!string.IsNullOrWhiteSpace(Model.Base.ImageUrl) ? Model.Base.ImageUrl : "/assets/img/user-icon.png")" />
    </figure>
</span>
<span class="media-body">
    <span id="user-details-name" class="mt-0 mb-1 user">@LocalResources.Welcome <br /> @Model.Base.Name</span>
    <span class="h6" id="user-location">@Model.Base.Company</span>
</span>
