﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.Localization
@model Promis.NET.MCV.ViewModels.Account.UserDetailsViewModel

<!--Profile Information page CSS styles-->
<link rel="stylesheet" href="~/assets/css/pages/modal-user.css">

<form name="form_profile" id="form_profile">
    <div class="row" id="initial-div">
        <div class="col-sm-4 social-profile-cover" align="center" id="social-profile">
            <figure class="social-profile-pic" id="social-profile-img-modal">
                <div>
                    <img id="user-picture-modal" src="~/assets/img/user-icon.png" height="150" class="img-fluid">
                </div>
            </figure>
            <div class="input-file-container">
                <input id="profile-modal-image" class="input-file" type="file" accept="image/png,image/jpeg,image/gif">
                <label tabindex="0" for="profile-modal-image" class="input-file-trigger">@LocalResources.Upload</label>
            </div>
            <p class="file-return"></p>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <div class="col-8">
                    <label>@LocalResources.FirstName</label>
                    <input id="FirstNamemodal" type="text" class="form-control" value="">
                </div>
                <div class="col-8">
                    <label>@LocalResources.LastName</label>
                    <input id="LastNamemodal" type="text" class="form-control" value="">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8">
                    <label>@LocalResources.Username</label>
                    <input type="text" id="UserNamemodal" class="form-control" value="" disabled>
                </div>
                <div class="col-8">
                    <label>@LocalResources.Password</label>
                    <input id="Passwordmodal" type="password" class="form-control" value="">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8">
                    <label>@LocalResources.Email</label>
                    <input id="Emailmodal" type="email" class="form-control" value="">
                </div>
                <div class="col-8">
                    <label>@LocalResources.OfficeNumber</label>
                    <input id="OfficePhonemodal" type="tel" class="form-control" value="">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8">
                    <label>@LocalResources.Country</label>
                    <select id="Countrymodal" class="form-control" data-live-search="true" tabindex="-1" aria-hidden="true">
                        <option value=""></option>
                        @foreach (var country in Model.Countries)
                        {
                            <option value="@country.Code">@country.Name</option>
                        }
                    </select>
                </div>
                <div class="col-8">
                    <label>@LocalResources.MobileNumber</label>
                    <input id="MobilePhonemodal" type="tel" class="form-control" value="">
                </div>
            </div>
            <div class="form-group row" id="company-area">
                <div class="col-8">
                    <label>@LocalResources.Company</label>
                    <input id="Companymodal" type="text" class="form-control" value="">
                </div>
                <div class="col-8">&nbsp;</div>
            </div>
            <div class="form-group row">
                <div class="col-16">
                    <label>@LocalResources.InterfaceLanguage</label>
                    <div class="row" id="interface-language-row">
                        <div class="col">
                            <label class="custom-control custom-radio">
                                <input id="lang-enmodal" name="Languagemodal" type="radio" value="en" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="~/assets/img/flag/en.svg" class="img-fluid" /></span>
                            </label>
                        </div>
                        <div class="col">
                            <label class="custom-control custom-radio">
                                <input id="lang-frmodal" name="Languagemodal" type="radio" value="fr" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="~/assets/img/flag/fr.svg" class="img-fluid" /></span>
                            </label>
                        </div>
                        <div class="col">
                            <label class="custom-control custom-radio">
                                <input id="lang-esmodal" name="Languagemodal" type="radio" value="es" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="~/assets/img/flag/es.svg" class="img-fluid" /></span>
                            </label>
                        </div>
                        <div class="col">
                            <label class="custom-control custom-radio">
                                <input id="lang-itmodal" name="Languagemodal" type="radio" value="it" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="~/assets/img/flag/it.svg" class="img-fluid" /></span>
                            </label>
                        </div>
                        <div class="col">
                            <label class="custom-control custom-radio">
                                <input id="lang-rumodal" name="Languagemodal" type="radio" value="ru" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="~/assets/img/flag/ru.svg" class="img-fluid" /></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    GLOBAL_DATA.TRANSLATIONS = {

        @Model.GetPropertyName(() => LocalResources.ClickOnBupdateProfilebToMakeTheChangeEffective): @LocalResources.ClickOnBupdateProfilebToMakeTheChangeEffective.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.DataUpdatedSuccessfully): @LocalResources.DataUpdatedSuccessfully.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.UpdateProfile): @LocalResources.UpdateProfile.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.Welcome): @LocalResources.Welcome.ToHtmlJson()
    };
</script>
<script src="~/assets/js/pages/modal-user.js"></script>


