﻿@using Promis.NET.Localization
@using Promis.NET.Utilities.Extensions
@{
    ViewBag.Title = "Login";
    ViewBag.PageVersion = "F001.V1.0.0.0";
    ViewBag.DeVersion = "V1.5.010";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles{
    <!--Login page CSS styles-->
    <link rel="stylesheet" href="~/assets/css/pages/login.css">
}

<figure class="background" id="bg"></figure>
<div class="wrapper-content-sign-in pull-left">
    <div class="col-sm-7 offset-sm-9 col-lg-5 offset-lg-11 col-xl-3 offset-xl-13 text-left side_signing_full">
        <img src="~/assets/img/logo.png" id="logo-image">
        <form class="form-signin1 full_side text-white" id="loginform">
            <h2 class="mb-3">@LocalResources.Welcome</h2>
            <input type="text" class="form-control" id="Username" placeholder="@LocalResources.UserId.Replace(" ","")">
            <br>
            <input type="password" class="form-control" id="Password" placeholder="@LocalResources.Password">
            <button type="button" class="btn btn-sm btn-primary btn-round" id="login-btn">@LocalResources.Login</button>
        </form>
    </div>

    <footer class="footer-content">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-sm-16 col-md-8">@LocalResources.Copyright © @DateTime.Now.Year - PROMIS <small>(@ViewBag.DeVersion)</small></div>
                <div class="col-sm-16 col-md-8 text-right">
                    <small class="text-left">@Html.Raw((ViewBag.PageVersion != null ? ViewBag.PageVersion : "V1.0.0.0"))</small>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#" target="_blank" class="">@LocalResources.TermsOfUse</a>
                </div>
            </div>
        </div>
    </footer>
</div>
<div id="execlay"></div>

@section Scripts{
    <script>
        @{var prop = "";}
        GLOBAL_DATA.TRANSLATIONS = {

            @prop.GetPropertyName(() => LocalResources.UsernameRequired): @LocalResources.UsernameRequired.ToHtmlJson(),
            @prop.GetPropertyName(() => LocalResources.PasswordRequired): @LocalResources.PasswordRequired.ToHtmlJson(),
            @prop.GetPropertyName(() => LocalResources.LoadingProjectsFor): @LocalResources.LoadingProjectsFor.ToHtmlJson(),
            @prop.GetPropertyName(() => LocalResources.SelectAProject): @LocalResources.SelectAProject.ToHtmlJson(),
            @prop.GetPropertyName(() => LocalResources.InvalidProjectId): @LocalResources.InvalidProjectId.ToHtmlJson()
        };
    </script>
    <script src="~/assets/js/pages/login.js"></script>
}