.tab20{
	display: none
}
.tab19{
	display: block
}
.btn{
	cursor: pointer
}
.show_ipad{
	display: none!important
}
.menu-collapse{
	margin: 7px 12px
}
.mylabel{
	display: flex;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 992px)  {
	.form-control{
		font-size: 11px!important;
		padding: 0.25rem 0.25rem
	}
	.mylabel{
		display: table-column
	}	
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	.fit_c span{
		font-size: 13px
	}
	.navbar-brand{
		margin-top: 7px
	}
	.menu-collapse{
		border: 1px solid white!important
	}
	.menu-collapse span{
		font-size: 18px
	}	
	.info_proj{
		width: auto
	}
	header .navbar{
		align-items: center
	}
	.sidebar-right{
		padding-right: 15px
	}
	.page_title{
		font-size: 14px!important
	}
	.page-link{
		font-size: 12px
	}
	#tagstable_wrapper .row:first-child{
		display: none
	}
	.card-block{
		overflow-y: auto
	}
	.tab20{
		display: block;
		padding-top: 5px;
		padding-bottom: 5px
	}
	.tab20 .tab-content{
		margin-top: 5px;
		margin-bottom: 5px
	}
	.tab19{
		display: none
	}	
	footer .text-right{
		display: none
	}
	.nascondi_ipad{
		display: none!important
	}
	.show_ipad{
		display: block!important
	}
	.ricerca_info .form-control{
		max-width:100%;
		margin-bottom: 5px
	}
	.ricerca_info textarea{
		height: 100px
	}
}

