@font-face {
    font-family: 'light';
    src: url(../fonts/RobotoCondensed-Light-webfont.eot);
    src: url(../fonts/RobotoCondensed-Light-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/RobotoCondensed-Light-webfont.woff) format('woff'),
         url(../fonts/RobotoCondensed-Light-webfont.ttf) format('truetype'),
         url(../fonts/RobotoCondensed-Light-webfont.svg#light) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'regular';
    src: url(../fonts/RobotoCondensed-Regular-webfont.eot);
    src: url(../fonts/RobotoCondensed-Regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/RobotoCondensed-Regular-webfont.woff) format('woff'),
         url(../fonts/RobotoCondensed-Regular-webfont.ttf) format('truetype'),
         url(../fonts/RobotoCondensed-Regular-webfont.svg#regular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bold';
    src: url(../fonts/RobotoCondensed-Bold-webfont.eot);
    src: url(../fonts/RobotoCondensed-Bold-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/RobotoCondensed-Bold-webfont.woff) format('woff'),
         url(../fonts/RobotoCondensed-Bold-webfont.ttf) format('truetype'),
         url(../fonts/RobotoCondensed-Bold-webfont.svg#bold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url(../fonts/Roboto-Thin-webfont.eot);
    src: url(../fonts/Roboto-Thin-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Roboto-Thin-webfont.woff) format('woff'),
         url(../fonts/Roboto-Thin-webfont.ttf) format('truetype'),
         url(../fonts/Roboto-Thin-webfont.svg#robotothin) format('svg');
    font-weight: normal;
    font-style: normal;

}