﻿
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Utilities.Extensions
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Preservation.PlanningOverviewViewModel

<!-- Required for datatables -->
<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/libraries/dropdown.css" type="text/css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">

<div class="tab-pane active" id="JP" role="tabpanel">
    <form id="form_JP" name="form_JP">
        <div class="row">
            <div class="col-md-6">
                <div class="card act_left">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-16">
                                <span class="text-white page_title" id="job-plan">@LocalResources.JobPlansOverview</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-16">
                                <div class="form-group row">
                                    <label for="dt" class="col-xl-2 text-right">@LocalResources.Datatable</label>
                                    <div class="col-xl-7">
                                        <select class="form-control" id="data-table" name="dt">
                                            <option value=""></option>
                                            @for (int i = 0; i < Model.DataTableList.Count; i++)
                                            {
                                                <option value="@Model.DataTableList[i].ToUpper()">@Model.DataTableList[i].ToUpper()</option>
                                            }

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-16">
                                <div class="form-group row">
                                    <label for="dtype" class="col-md-2 text-right">@LocalResources.Typecode</label>
                                    <div class="col-md-14">
                                        <select class="form-control" id="table-typecodes" name="dtype"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-16" id="middle-col">
                                <div id="job-plans-overview"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card act_right">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-16">
                                <span class="text-white page_title" id="preservation-act">@LocalResources.PreservationActions</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div id="job-plan-actions"></div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

<script>
    GLOBAL_DATA.preservation = { preservation: {} };
</script>

<!-- Required for datatables -->
<script>
     GLOBAL_DATA.TRANSLATIONS = {
        @Model.GetPropertyName(() => LocalResources.ADatatableMustBeSelectedInOrderToContinue): @LocalResources.ADatatableMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ThereIsNoDataForThatSelection): @LocalResources.ThereIsNoDataForThatSelection.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ATypecodeMustBeSelectedInOrderToLoadTheTableForIt): @LocalResources.ATypecodeMustBeSelectedInOrderToLoadTheTableForIt.ToHtmlJson()
    };
</script>
<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>
<script src="~/assets/js/helpers/data-table.js"></script>
<script src="~/assets/js/pages/preservation-overview.js"></script>

