﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@using Promis.NET.Roles
@using Promis.NET.MCV.Extensions
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Preservation.JobAssignmentViewModel

@{
    var isAdmin = User.IsInRole(LocalRoles.ResponsabilityAdmin);
    var isWriter = isAdmin || User.IsInRole(LocalRoles.ModuleWritePreservationPlanning);
}

<!-- Required for datatables -->
<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/libraries/dropdown.css" type="text/css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">

<!--Job Plan Assignment to Tags  page CSS styles-->
<link rel="stylesheet" href="~/assets/css/helpers/advanced-filters.css" />
<link rel="stylesheet" href="~/assets/css/libraries/bootstrap-datepicker.css" />

<div class="tab-pane active" id="JA" role="tabpanel">
    <form id="form_JA" name="form_JA">
        <div class="row">
            <div class="col-md-6">
                <div class="card act_left">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-16">
                                <span class="text-white page_title" id="assignment">@LocalResources.JobPlanAssignmentToTags</span>
                                <span class="pull-right">
                                    @if(isWriter)
                                    {
                                        <button type="button" class="btn btn-success" id="save">@LocalResources.Save</button>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-16">
                                <div class="form-group row">
                                    <label for="dt" class="col-md-2 text-right">@LocalResources.Datatable</label>
                                    <div class="col-md-7">
                                        <select class="form-control" id="dt-job-assignment" name="dt-job-assignment">
                                            <option value=""></option>
                                            @for (int i = 0; i < Model.DataTableList.Count; i++)
                                            {
                                                <option value="@Model.DataTableList[i].ToUpper()">@Model.DataTableList[i].ToUpper()</option>
                                            }
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-16" style=" margin-left: 0px; margin-top: 10px;">
                                <div class="form-group row">
                                    <label for="dtype" class="col-md-2 text-right">@LocalResources.Typecode</label>
                                    <div class="col-md-14">
                                        <select class="form-control" id="typecodes-job-assignment" name="dtype-job-assignment">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row row-margin">
                            <div class="col-md-8">
                                <label class="restoration">@LocalResources.Initialization&nbsp;@LocalResources.Date</label>
                                <input id="init-date" name="init-date" type="text" class="input-sm form-control empty req background-ja-dates" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate">
                            </div>
                            <div class="col-md-8">
                                <label class="restoration">@LocalResources.Tag.ToCamelCase(true, false)&nbsp;@LocalResources.Location</label>
                                <select name="tag-location" id="tag-location" class="form-control" data-live-search="true" tabindex="-1" aria-hidden="true">
                                    <option value=""></option>
                                    @for (int j = 0; j < Model.PreservationLocations.Count; j++)
                                    {
                                        <option class="options-tag-loc" value="@Model.PreservationLocations[j].ToUpper()">@Model.PreservationLocations[j].ToUpper()</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row row-margin">
                            <div class="col-md-8">
                                <label class="restoration">@Html.Raw(LocalResources.MaintenanceFrom.Replace(" ", "&nbsp"))</label>
                                <input id="maintain-date" name="maintain-date" type="text" class="input-sm form-control empty req background-ja-dates" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate">
                            </div>
                            <div class="col-md-8">
                                <label class="restoration">@Html.Raw(LocalResources.RestorationDate.Replace(" ", "&nbsp"))</label>
                                <input id="restor-date" name="restor-date" type="text" class="input-sm form-control empty background-ja-dates" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate">
                            </div>
                        </div>
                        <div class="row" id="row-height">
                            <div class="col-md-16">
                                <div class="notes-new-info" id="pres-plan-info">
                                    <span class="ti-hand-point-up" id="pres-info-corner"></span>
                                    <span id="preservation-plan">
                                        @LocalResources.Preservation @LocalResources.Plan&nbsp;
                                        <button type="button" id="pres-code-btn" class="btn btn-sm btn-primary">
                                            <span id="pres-code">&nbsp;</span>
                                        </button>
                                    </span>
                                    <span class="pull-right pres-frequency">
                                        @LocalResources.MaintenanceFrequency&nbsp;@LocalResources.Wk&nbsp;
                                        <span id="pres-frequency" class="badge-number">&nbsp;&nbsp;</span>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-16 cols-margin">
                                <div id="job-assignment"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card act_right">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-16">
                                <span class="text-white page_title title-text title-font">Tags&nbsp;<span class="ti-angle-double-down"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div id="act-job-assignment"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/assets/js/libraries/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.es.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.fr.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.it.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.ru.js"></script>

<!-- Required for datatables -->
<script>
     GLOBAL_DATA.USER_LANGUAGE = @Request.GetOwinContext().Request.User.Identity.GetUserLanguage().ToHtmlJson();
     GLOBAL_DATA.TRANSLATIONS = {
        @Model.GetPropertyName(() => LocalResources.PleaseSelectARowFromTheTypecodesTableFirst): @LocalResources.PleaseSelectARowFromTheTypecodesTableFirst.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.PleaseSelectSomeDatesAtLeastForInitialisationAndMaintenanceDate): @LocalResources.PleaseSelectSomeDatesAtLeastForInitialisationAndMaintenanceDate.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.InOrderToSaveAtLeastOneTagFromTheRightTableMustBeChecked): @LocalResources.InOrderToSaveAtLeastOneTagFromTheRightTableMustBeChecked.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.JobAssignmentPlanSavedWithSuccess): @LocalResources.JobAssignmentPlanSavedWithSuccess.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ADatatableMustBeSelectedInOrderToContinue): @LocalResources.ADatatableMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ThereIsNoDataForThatSelection): @LocalResources.ThereIsNoDataForThatSelection.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ATypecodeMustBeSelectedInOrderToLoadTheTableForIt): @LocalResources.ATypecodeMustBeSelectedInOrderToLoadTheTableForIt.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.RecordsSuccessfullyDeleted): @LocalResources.RecordsSuccessfullyDeleted.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.PreservationActivityListFor): @LocalResources.PreservationActivityListFor.ToHtmlJson()
    };
    var isWriter = @isWriter.ToHtmlJson();
</script>
<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>
<script src="~/assets/js/helpers/data-table.js"></script>

<script src="~/assets/js/helpers/advanced-filters.js"></script>
<script src="~/assets/js/pages/preservation-assignment.js"></script>
