﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@using Promis.NET.Roles
@using Promis.NET.MCV.Extensions
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }
@model Promis.NET.MCV.ViewModels.Preservation.PreservationFollowUpViewModel

@{
    var isAdmin = User.IsInRole(LocalRoles.ResponsabilityAdmin);
    var isWriter = isAdmin || User.IsInRole(LocalRoles.ModuleWritePreservationPlanning);
}

<!--Preservation Follow Up page CSS styles-->
<!-- Required for datatables -->
<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/libraries/dropdown.css" type="text/css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">

<link rel="stylesheet" href="~/assets/css/libraries/timeline.css" />


<div class="tab-pane active" id="pfup" role="tabpanel">
    <form id="form_pfup" name="form_pfup">
        <div class="row">
            <div class="col-sm-6 nopadding_ipad">
                <div class="card act_left">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-16">
                                <span class="text-white page_title">@LocalResources.PreservationMaintenanceFollowup</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-16">
                                <div class="form-group row justify-content-start">
                                    <label for="dt" class="col-sm-3 col-xl-2 text-right">@LocalResources.Datatable</label>
                                    <div class="col-sm-9 col-xl-7">
                                        <select class="form-control" id="dt-pres-follow-up" name="dt-pres-follow-up">
                                            <option value=""></option>
                                            @for (int i = 0; i < Model.DataTableList.Count; i++)
                                            {
                                                <option value="@Model.DataTableList[i].ToUpper()">@Model.DataTableList[i].ToUpper()</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-16">
                                <div class="form-group row justify-content-start">
                                    <label for="typecode-pres-follow-up" class="col-sm-3 col-xl-2 text-right">@LocalResources.Typecode</label>
                                    <div class="col-sm-13 col-xl-14">
                                        <select class="form-control" id="typecode-pres-follow-up" name="typecode-pres-follow-up">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-16">
                                <div id="div-follow-up"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 nopadding_ipad">
                <div class="card act_right">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-14">
                                <span class="text-white page_title title-text">@LocalResources.PreservationActivitiesStatus&nbsp;<span class="ti-angle-double-down"></span></span>
                            </div>
                            <div class="col-md-2">
                                <span class="pull-right margin-pull">
                                    @if(isWriter)
                                    {
                                        <button type="button" class="btn btn-success" id="save-pres-followup">@LocalResources.Save </button>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-block" id="tline">
                        <div class="row" id="activities-status" style='padding:5px'>
                            <div class="col-sm-3 col-xl-2 init-week-container">
                                <i>@Html.Raw(LocalResources.InitializationDate.Replace(" ", "&nbsp;"))</i><br>
                                <button class='btn btn-sm btn-outline-info' id="init-week"></button>
                            </div>
                            <div class="col-sm-10 col-xl-12">
                                <div class="cd-horizontal-timeline" style="margin: 0!important">
                                    <div class="timeline">
                                        <div class="events-wrapper">
                                            <div class="events">
                                                <hr style="margin-top: 0px">
                                                <ul style="list-style-type:none" id="list-timeline-date"></ul>
                                                <span class="filling-line" aria-hidden="true"></span>
                                            </div> <!-- .events -->
                                        </div> <!-- .events-wrapper -->

                                        <ul class="cd-timeline-navigation" style="list-style-type:none">
                                            <li><a href="#0" class="prev inactive">@LocalResources.Prev</a></li>
                                            <li><a href="#0" class="next">@LocalResources.Next</a></li>
                                        </ul> <!-- .cd-timeline-navigation -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xl-2 restoration-week-container">
                                <i>@Html.Raw(LocalResources.RestorationDate.Replace(" ", "&nbsp;"))</i><br>
                                <button class='btn btn-sm btn-outline' id="rest-date"></button>
                            </div>
                        </div>
                        <div id="actions-follow-up"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
     GLOBAL_DATA.USER_LANGUAGE = @Request.GetOwinContext().Request.User.Identity.GetUserLanguage().ToHtmlJson();
     GLOBAL_DATA.TRANSLATIONS = {
        @Model.GetPropertyName(() => LocalResources.ADatatableMustBeSelectedInOrderToContinue): @LocalResources.ADatatableMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ATypecodeMustBeSelectedInOrderToLoadTheTableForIt): @LocalResources.ATypecodeMustBeSelectedInOrderToLoadTheTableForIt.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.JobFollowUpSavedWithSuccess): @LocalResources.JobFollowUpSavedWithSuccess.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.Week): @LocalResources.Week.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.NoDatebrtagNotRestored): @LocalResources.NoDatebrtagNotRestored.ToHtmlJson()
    };
</script>
<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>

<script src="~/assets/js/helpers/data-table.js"></script>
<script src="~/assets/js/helpers/advanced-filters.js"></script>
<script src="~/assets/js/pages/preservation-follow-up.js"></script>

