﻿
@using Promis.NET.MCV.ViewModels
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Preservation.PreservationFollowupActivitiesViewModel

<table class='table' id="actions-tbl" cellspacing=0 style='width:100%; border:1px solid rgba(255,255,255,0.2); font-size:12px; margin-top:15px'>
    @for (var i = 0; i < Model.PreservationActionsDetails.Count; i++)
    {
        var model = Model.PreservationActionsDetails;
        var dict = Model.PreservationActionsDetails.ElementAt(i);

        <tr style='background-color:rgba(0,0,0,0.2); font-size:14px; text-align:center; font-weight:bold'>
            <td colspan=3 style='padding:5px;'>@dict.Key.ToUpper()</td>
        </tr>
        foreach (var item in dict.Value)
        {
            <tr>
                <td style="padding: 5px">
                    <span class='badge badge-warning' style='padding:10px; font-size: 14px; color: #222; width: 30px'>@Html.Raw(item.Sequence)</span>
                </td>
                <td style='padding: 5px'>@Html.Raw(item.Activity)</td >
                    <td style='padding: 5px'>
                    <input class='form-control' style='width:80px; background-color:rgba(0,0,0,0.2); color:white;' id='@Html.Raw("seq"+item.Sequence)' name='@Html.Raw("seq"+item.Sequence)' value="@Html.Raw(item.Done)" readonly  type='text'>
                </td>
            </tr>
    }
       
    }
</table>
