﻿
@using Promis.NET.MCV.ViewModels
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Preservation.PreservationActionsDataViewModel

<table class='table' id='pres-actions' cellspacing=0>
    @for (var i = 0; i < Model.PreservationDetails.Count; i++)
    {
        var model = Model.PreservationDetails;
        var dict = Model.PreservationDetails.ElementAt(i);

        <tr class="first-row">
            <td class="td-style" colspan=2>@dict.Key.ToUpper()</td>
        </tr>
        foreach (var it in dict.Value)
        {
            <tr>
                <td class="padding-style">
                    @{var jobPlan = @it.JobPlan;}

                    @switch (jobPlan)
                    {
                        case "IN":
                            <span class="badge badge-primary badge-style">@Html.Raw(it.Sequence)</span>
                            break;
                        case "MP":
                            <span class="badge badge-warning badge-style">@Html.Raw(it.Sequence)</span>
                            break;
                        default:
                            <span class="badge badge-success badge-style">@Html.Raw(it.Sequence)</span>
                            break;
                    }
                </td>
                <td class="padding-style">@Html.Raw(it.Activity)</td>
            </tr>
        }
    }
    <tr>
        <td colspan=2>&nbsp;</td>
    </tr>
</table>
