﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Project.ProjectCertificationViewModel

<!-- Required for datatables -->
<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/libraries/dropdown.css" type="text/css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">

<div class="tab-pane active" id="certification" role="tabpanel">
    <div class="row">
        <div class="col-md-16">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-3 bordered-right">
                            <span class="text-white page_title font-size-20">
                                @LocalResources.CertificationPlansDefinition
                            </span>
                            <h5 class="card-subtitle mb-2 text-muted">
                                @LocalResources.EachSubActivityRelevantToASpecificCertificationPlanMustHaveTheSumOfWeightedStepsAt
                            </h5>
                        </div>
                        <div id="main-activities-container" class="col-md-6">
                            <div class="form-group row">
                                <label for="main-activities" class="col-md-3 text-right">@LocalResources.MainActivity</label>
                                <div class="col-md-7">
                                    <select id="main-activities" class="form-control" data-next="#related-activities" data-path="related">
                                        <option value="">&nbsp;</option>
                                        @for (var i = 0; i < Model.MainActivities.Count; i++)
                                        {
                                            <option value="@Model.MainActivities[i].Code">@Html.Raw(Model.MainActivities[i].Code + " - " + Model.MainActivities[i].Description)</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6"></div>
                                <label for="related-activities" class="col-md-3 text-right">@LocalResources.RelevantActivity</label>
                                <div class="col-md-12">
                                    <select id="related-activities" class="form-control" data-next="#sub-activities" data-path="sub"></select>
                                </div>
                                <label for="sub-activities" class="col-md-3 text-right">@LocalResources.SubActivity</label>
                                <div class="col-md-12">
                                    <select id="sub-activities" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 bordered-right">
                            <div class="btn-group">
                                <button id="actions-button" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@LocalResources.Actions</button>
                                <div class="dropdown-menu">
                                    <a id="button-import-excel" data-table="work_def" class="dropdown-item">
                                        @LocalResources.ImportStepsFromExcel
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a id="button-export-excel" data-table="work_def" class="dropdown-item">
                                        @LocalResources.ExportDataToExcel
                                    </a>
                                    <a id="button-export-template" data-table="work_def" class="dropdown-item">
                                        @LocalResources.ExportTemplate.ToCamelCase(true, false)
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 table-legend">
                            @if (Model.Modules.Count > 0)
                            {
                                <table class="table-sm">
                                    @for (var i = 0; i < (Model.Modules.Count + 1) / 2; i++)
                                    {
                                        <tr>
                                            <td class="table-legend-cell">
                                                @Model.Modules[i].Code
                                            </td>
                                            <td>
                                                @Model.Modules[i].Description
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }
                        </div>
                        <div class="col-md-3 table-legend">
                            @if (Model.Modules.Count > 1)
                            {
                                <table class="table-sm">
                                    @for (var i = (Model.Modules.Count + 1) / 2; i < Model.Modules.Count; i++)
                                    {
                                        <tr>
                                            <td class="table-legend-cell">
                                                @Model.Modules[i].Code
                                            </td>
                                            <td>
                                                @Model.Modules[i].Description
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-block" id="table-data-container">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    GLOBAL_DATA.setup = { certification: {} };
    GLOBAL_DATA.TRANSLATIONS = {
  
        @Model.GetPropertyName(() => LocalResources.AnActivityMustBeSelectedInOrderToContinue): @LocalResources.AnActivityMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ThereIsNoDataForThatSelection): @LocalResources.ThereIsNoDataForThatSelection.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.AnSubactivityMustBeSelectedInOrderToLoadTheTableForIt): @LocalResources.AnSubactivityMustBeSelectedInOrderToLoadTheTableForIt.ToHtmlJson()
    };
</script>
<!-- Required for datatables -->
<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>
<script src="~/assets/js/helpers/data-table.js"></script>

<script src="~/assets/js/helpers/import-export.js"></script>
<script src="~/assets/js/pages/project-certification.js"></script>