﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Project.ProjectCutoffViewModel

<link rel="stylesheet" href="~/assets/css/libraries/calendar.css">

<div class="tab-pane active" id="cutoff" role="tabpanel">
    <div class="row div-margin-top-sm">
        <div class="col-md-16">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title">@LocalResources.CutoffCalendar.ToUpper()</h5>
                        </div>
                        <div class="col-md-4">
                            <div id="language-changer-container" class="pull-right">
                                <button type="button" class="language-changer btn btn-outline-primary active" value="en"><img src="~/assets/img/flag/gb.svg"></button>
                                <button type="button" class="language-changer btn btn-outline-primary" value="fr"><img src="~/assets/img/flag/fr.svg"></button>
                                <button type="button" class="language-changer btn btn-outline-primary" value="es"><img src="~/assets/img/flag/es.svg"></button>
                                <button type="button" class="language-changer btn btn-outline-primary" value="it"><img src="~/assets/img/flag/it.svg"></button>
                                <button type="button" class="language-changer btn btn-outline-primary" value="ru"><img src="~/assets/img/flag/ru.svg"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-block cat sub-content"><div id="calendar" class="calendar"></div></div>
            </div>
        </div>
    </div>
</div>

<script>
    GLOBAL_DATA.setup = {
        cutoff: {
            firstDay: @Model.FirstDay.ToHtmlJson(),
            lastDay: @Model.LastDay.ToHtmlJson(),
            allDays: @Model.CutoffDays.ToHtmlJson()
        }
    };
     GLOBAL_DATA.TRANSLATIONS = {
        @Model.GetPropertyName(() => LocalResources.CutOffDate): @LocalResources.CutOffDate.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.Inserted): @LocalResources.Inserted.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.Deleted): @LocalResources.Deleted.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.WithSuccess): @LocalResources.WithSuccess.ToHtmlJson()

    };
</script>
<script src="~/assets/js/libraries/calendar/calendar.js"></script>
<script src="~/assets/js/libraries/calendar/languages/bootstrap-year-calendar.es.js"></script>
<script src="~/assets/js/libraries/calendar/languages/bootstrap-year-calendar.fr.js"></script>
<script src="~/assets/js/libraries/calendar/languages/bootstrap-year-calendar.it.js"></script>
<script src="~/assets/js/libraries/calendar/languages/bootstrap-year-calendar.ru.js"></script>
<script src="~/assets/js/libraries/calendar/languages/bootstrap-year-calendar.es.js"></script>
<script src="~/assets/js/libraries/calendar/languages/bootstrap-year-calendar.fr.js"></script>
<script src="~/assets/js/libraries/calendar/languages/bootstrap-year-calendar.it.js"></script>
<script src="~/assets/js/libraries/calendar/languages/bootstrap-year-calendar.ru.js"></script>
<script src="~/assets/js/pages/project-cutoff.js"></script>