﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@using Promis.NET.MCV.Extensions
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Project.ProjectViewModel

<link rel="stylesheet" href="~/assets/css/libraries/bootstrap-datepicker.css">

<div class="tab-pane active" id="info" role="tabpanel">
    <div>
        <!-- Project Details Configuration -->
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-cont">
                    <div class="card-header">
                        <h5 class="card-title pull-left">@LocalResources.GeneralInformations</h5>
                        <ul class="nav nav-pills card-header-pills pull-right">
                            <li class="nav-item">
                                <button type="button" class="btn btn-success" id="save-general">@LocalResources.Save </button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-block">
                        <form id="first-form">
                            <div class="form-group">
                                <label for="code">@LocalResources.Code</label>
                                <input type="text" class="form-control" id="Code" placeholder="@LocalResources.Code" value="@Model.Base.Code" disabled>
                            </div>
                            <div class="form-group">
                                <label for="descr">@LocalResources.Description</label>
                                <input type="text" class="form-control" id="Title" placeholder="@LocalResources.Description" value="@Model.Base.Title" disabled>
                            </div>
                            <div class="form-group">
                                <label for="client">@LocalResources.Client</label>
                                <input type="text" class="form-control" id="Client" placeholder="@LocalResources.Client" value="@Model.Base.Client" disabled>
                            </div>

                            <label for="StartDate">@LocalResources.ProjectLife</label>
                            <div class="form-group input-group" id="range">
                                <input type="text" class="input-sm form-control" id="StartDate" placeholder="@LocalResources.Start" value="@Model.Base.StartDate">
                                <span class="input-group-addon text-white ti-control-skip-forward"></span>
                                <input type="text" class="input-sm form-control" id="EndDate" placeholder="@LocalResources.End" value="@Model.Base.EndDate">
                                <a href="#" id="reload-chart"><i class="fa fa-gear" id="i-style"></i></a>
                            </div>
                            <br>
                            <canvas id="planned_pro" height="150"></canvas>
                            <br>
                            <div class="form-group">
                                <label for="FirstWorkingDay">@LocalResources.FirstWorkingDay</label>
                                <select class="form-control form-style" id="FirstWorkingDay">
                                    <option value="7" @Html.Raw(Model.Base.FirstWorkingDay == "7" ? "selected" : "")>@LocalResources.Sunday</option>
                                    <option value="1" @Html.Raw(Model.Base.FirstWorkingDay == "1" ? "selected" : "")>@LocalResources.Monday</option>
                                    <option value="2" @Html.Raw(Model.Base.FirstWorkingDay == "2" ? "selected" : "")>@LocalResources.Tuesday</option>
                                    <option value="3" @Html.Raw(Model.Base.FirstWorkingDay == "3" ? "selected" : "")>@LocalResources.Wednesday</option>
                                    <option value="4" @Html.Raw(Model.Base.FirstWorkingDay == "4" ? "selected" : "")>@LocalResources.Thursday</option>
                                    <option value="5" @Html.Raw(Model.Base.FirstWorkingDay == "5" ? "selected" : "")>@LocalResources.Friday</option>
                                    <option value="6" @Html.Raw(Model.Base.FirstWorkingDay == "6" ? "selected" : "")>@LocalResources.Saturday</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="CutOffDay">@LocalResources.CutoffDay</label>
                                <select class="form-control form-style" id="CutOffDay" name="c_off">
                                    <option value="7" @Html.Raw(Model.Base.CutOffDay == "7" ? "selected" : "")>@LocalResources.Sunday</option>
                                    <option value="1" @Html.Raw(Model.Base.CutOffDay == "1" ? "selected" : "")>@LocalResources.Monday</option>
                                    <option value="2" @Html.Raw(Model.Base.CutOffDay == "2" ? "selected" : "")>@LocalResources.Tuesday</option>
                                    <option value="3" @Html.Raw(Model.Base.CutOffDay == "3" ? "selected" : "")>@LocalResources.Wednesday</option>
                                    <option value="4" @Html.Raw(Model.Base.CutOffDay == "4" ? "selected" : "")>@LocalResources.Thursday</option>
                                    <option value="5" @Html.Raw(Model.Base.CutOffDay == "5" ? "selected" : "")>@LocalResources.Friday</option>
                                    <option value="6" @Html.Raw(Model.Base.CutOffDay == "6" ? "selected" : "")>@LocalResources.Saturday</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title pull-left">@LocalResources.OfficialDocumentLogo</h5>
                                <ul class="nav nav-pills card-header-pills pull-right">
                                    <li class="nav-item">
                                        <button type="button" class="btn btn-success" id="save-logo">@LocalResources.Save</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-block block_logo row">
                                <div class="col-sm-16" id="swaplogo">
                                    <img alt="@LocalResources.Logo" class="img-thumbnail" id="logo-display" src="~/assets/img/logo.jpg">
                                    <br />
                                    <input type="file" accept="image/png,image/jpeg,image/gif" id="logo-input" class="form-control-sm blob-style">
                                </div>
                                <div class="col-sm-16" id="div-pad-top">
                                    <span>@LocalResources.HomepageLogo</span>&nbsp;
                                    <i class="ti-angle-right"></i>
                                    &nbsp;&nbsp;<img alt="@LocalResources.Logo" id="logo-display-homepage" src="~/assets/img/logo.jpg" class="logo-style" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Main Activities -->
                    <div class="col-lg-10">
                        <div class="card" id="main-activities-container">
                            <div class="card-header">
                                <h5 class="card-title pull-left">@LocalResources.MainActivities</h5>
                                <ul class="nav nav-pills card-header-pills pull-right">
                                    <li class="nav-item">
                                        <button class="btn btn-success " id="save-activities">@LocalResources.Save </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-block block_disc row" id="div-overflow">
                                <table class="table-width">
                                    @for (int i = 0; i < Model.MainActivities.Count; i += 2)
                                    {
                                        var activity = Model.MainActivities[i];
                                        var activity2 = (i + 1) < Model.MainActivities.Count ? Model.MainActivities[i + 1] : null;

                                        <tr>
                                            <td class="first-td">
                                                <div class="col-sm-16 can-toggle demo-rebrand-2 small" id="div-rebrand-style">
                                                    <input id="disc_@activity.Code" type="checkbox" @Html.Raw(activity.Checked ? "checked" : "")>
                                                    <label for="disc_@activity.Code" class="custom-control">
                                                        <div class="can-toggle__switch" data-checked="On" data-unchecked="Off"></div>
                                                        <div class="can-toggle__label-text">@activity.Code&nbsp;&nbsp;&nbsp;&nbsp;@activity.Description</div>
                                                        <input type="text" onkeypress="validate(event)" class="form-control validate-style" id="mh_@activity.Code" value="@activity.Budget">
                                                    </label>
                                                </div>
                                            </td>
                                            @if (activity2 != null)
                                            {
                                                <td class="first-td">
                                                    <div class="col-sm-16 can-toggle demo-rebrand-2 small" id="div-rebrand-style">
                                                        <input id="disc_@activity2.Code" type="checkbox" @Html.Raw(activity2.Checked ? "checked" : "")>
                                                        <label for="disc_@activity2.Code" class="custom-control">
                                                            <div class="can-toggle__switch" data-checked="On" data-unchecked="Off"></div>
                                                            <div class="can-toggle__label-text">@activity2.Code&nbsp;&nbsp;&nbsp;&nbsp;@activity2.Description</div>
                                                            <input type="text" onkeypress="validate(event)" class="form-control validate-style" id="mh_@activity2.Code" value="@activity2.Budget">
                                                        </label>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>&nbsp;</td>
                                            }
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="div-margin-top">
                    <div class="col-lg-16">
                        <div id="div_map" class="card full-screen-container">
                            <div class="card-header card-second-head">
                                <table class="table-width">
                                    <tr>
                                        <td id="td-display">
                                            <h5 class="card-title pull-left">@LocalResources.Location.ToUpper()</h5>&nbsp;&nbsp;
                                            <div id="floating-panel">
                                                <input id="address" type="textbox" value="" class="input-sm form-control" placeholder="Enter a location" autocomplete="off">
                                                <input id="submit" type="button" class="btn btn-primary submit-button" value="@LocalResources.Search">
                                            </div>
                                        </td>
                                        <td><div id="weather"><h2>15°C</h2></div></td>
                                        <td class="right">
                                            <span class="lat span-style"></span>
                                            <span class="lon span-style"></span>
                                            <button type="button" class="btn btn-sm btn-link btn-round fullscreen-btn"><i class="fa fa-arrows-alt"></i></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="card-block" id="div-max-width">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/libraries/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.es.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.fr.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.it.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.ru.js"></script>
<script src="~/assets/js/libraries/Chart.bundle.min.js"></script>
<script>
    var projectData = {
        location: @Model.Base.Location.ToHtmlJson(),
        geolocation: @Model.Base.LocationCoordinates.ToHtmlJson(),
        latitude: @Model.Base.LocationCoordinates.Split(',')[0].ToHtmlJson(),
        longitude: @Model.Base.LocationCoordinates.Split(',')[1].ToHtmlJson(),
        months: getMonthsFromStartUntilEnd(@Model.Base.StartDate.ToHtmlJson(), @Model.Base.EndDate.ToHtmlJson())
    };
     GLOBAL_DATA.USER_LANGUAGE = @Request.GetOwinContext().Request.User.Identity.GetUserLanguage().ToHtmlJson();
     GLOBAL_DATA.TRANSLATIONS = {
        @Model.GetPropertyName(() => LocalResources.InvalidSelectedStartAndEndDates): @LocalResources.InvalidSelectedStartAndEndDates.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ProjectDetailsUpdatedWithSuccess): @LocalResources.ProjectDetailsUpdatedWithSuccess.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ProjectActivitiesUpdatedWithSuccess): @LocalResources.ProjectActivitiesUpdatedWithSuccess.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.Latitude): @LocalResources.Latitude.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.Longitude): @LocalResources.Longitude.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.GeocodeWasNotSuccessfulForTheFollowingReason): @LocalResources.GeocodeWasNotSuccessfulForTheFollowingReason.ToHtmlJson()
    };
</script>
<script src="~/assets/js/pages/project-home.js"></script>



