﻿
@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@using Promis.NET.MCV.Extensions
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Project.ProjectPlanningViewModel

<link rel="stylesheet" href="~/assets/css/libraries/bootstrap-datepicker.css" />

<div class="tab-pane active" id="planning" role="tabpanel">
    <div class="row">
        <div class="col" id="left-outmost-container">
            <div class="card">
                <div id="planning-header" class="card-header">
                    <table>
                        <tr>
                            <td id="main-activities-menucell">
                                <select id="main-activities" class="form-control">
                                    <option value="">&nbsp;</option>
                                    @for (var i = 0; i < Model.MainActivities.Count; i++)
                                    {
                                        <option value="@Model.MainActivities[i].Code">@Model.MainActivities[i].Description</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="btn-group pull-right">
                                    <button id="actions-button" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@LocalResources.Action</button>
                                    <div class="dropdown-menu">
                                        <a id="button-load-activities" class="dropdown-item" href="#">@LocalResources.ViewAllActivities</a>
                                        <a id="button-load-mhrs-activities" class="dropdown-item" href="#">@LocalResources.ViewActivitiesWithMhrs0</a>
                                        <div class="dropdown-divider"></div>
                                        <a id="button-import-excel" class="dropdown-item" data-table="planning" href="#">@LocalResources.BaselineplanningImportFromExcel</a>
                                        <a id="button-import-primavera" class="dropdown-item" href="#">@LocalResources.BaselineplanningImportFromPrimavera</a>
                                        <div class="dropdown-divider"></div>
                                        <a id="button-export-excel" class="dropdown-item" data-table="planning" href="#">@LocalResources.ExportActivityCurves</a>
                                        <a id="button-export-template" class="dropdown-item" data-table="planning" href="#">@LocalResources.ExportEmptyTemplate</a>
                                        <div class="dropdown-divider"></div>
                                        <a id="button-save" class="dropdown-item" href="#">@LocalResources.SaveChanges</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="left-dynamic-menu" class="card-block linked-scrollbar" data-scrolling="false"></div>
            </div>
        </div>

        <div class="col" id="right-outmost-container">
            <div id="planning-table-container" class="card mycard">
                <div class="card-header linked-horizontal-scrollbar" data-horizontal-scrolling="false">
                    <div id="mhrs-container">
                        <table>
                            <tr>
                                <td class="right-align">@LocalResources.ActivityBudgetMhrs&nbsp;</td>
                                <td id="data-mhrs-budget" class="mhrs-budget"></td>
                                <td class="mhrs-title">@LocalResources.ActivityPlannedMhrs&nbsp;&nbsp;</td>
                                <td id="data-mhrs-planned" class="mhrs-budget"></td>
                                <td class="mhrs-title">@LocalResources.Balance&nbsp;&nbsp;</td>
                                <td id="data-mhrs-balance" class="mhrs-budget"></td>
                            </tr>
                        </table>
                    </div>
                    <table id="mhrs-header" class="table-bordered table-sm margin-left-10">
                        <tr>
                            @for (int i = 0; i < Model.MonthsCount; i++)
                            {
                                var currentMonth = Model.StartMonth - 1 + i;//-1 is to have 0-based index
                                <td class="mhrs-header upper-header">@Model.MonthsName[currentMonth % 12]<br>@Html.Raw(Model.StartYear + (currentMonth / 12))</td>
                            }
                        </tr>
                    </table>
                </div>
                <div id="right-display" class="card-block linked-scrollbar linked-horizontal-scrollbar" data-scrolling="false" data-horizontal-scrolling="false"></div>
            </div>
        </div>
    </div>
</div>

<script>
    GLOBAL_DATA.setup = { planning: {} };
    GLOBAL_DATA.USER_LANGUAGE = @Request.GetOwinContext().Request.User.Identity.GetUserLanguage().ToHtmlJson();
    GLOBAL_DATA.TRANSLATIONS = {

        @Model.GetPropertyName(() => LocalResources.FunctionalityNotAvailable): @LocalResources.FunctionalityNotAvailable.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.AMainActivityMustBeSelectedInOrderToContinue): @LocalResources.AMainActivityMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ThereIsNoDataForThatSelection): @LocalResources.ThereIsNoDataForThatSelection.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.InvalidSelectedStartAndEndDates): @LocalResources.InvalidSelectedStartAndEndDates.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.EncounteredInvalidMhInserted): @LocalResources.EncounteredInvalidMhInserted.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.EncounteredInvalidSelectedStartAndEndDates): @LocalResources.EncounteredInvalidSelectedStartAndEndDates.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.EncounteredInvalidValuesForProgressDistribution): @LocalResources.EncounteredInvalidValuesForProgressDistribution.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.TheNumberOfProgressDistributionValuesDoesNotMatchTheSelectedTimeIntervalMakeSureYouClickTheShuffleButtonAfterEachDateChange): @LocalResources.TheNumberOfProgressDistributionValuesDoesNotMatchTheSelectedTimeIntervalMakeSureYouClickTheShuffleButtonAfterEachDateChange.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ErrorsOccuredPleaseFillInTheMarkedFieldsCorrectly): @LocalResources.ErrorsOccuredPleaseFillInTheMarkedFieldsCorrectly.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.SuccessfullySaved): @LocalResources.SuccessfullySaved.ToHtmlJson()
};
</script>
<script src="~/assets/js/libraries/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.es.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.fr.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.it.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.ru.js"></script>
<script src="~/assets/js/helpers/import-export.js"></script>
<script src="~/assets/js/pages/project-planning.js"></script>