﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.Utilities.Models
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Project.ProjectPlanningMenuViewModel

@{ var activitiesHTML = "";}

@for (var i = 0; i < Model.Activities.Count; i++)
{
    var activity = Model.Activities[i];

    // This is the part that builds the table HTML based on start/end of activity and it's progress values
    // compute cells (difference in months) from start of project to start of activity
    var diffFromProjectStartBaseline = activity.MonthsCountBaseline <= 0 ? 0 : Promis.NET.Utilities.Models.Global.DifferenceInMonths(activity.Project.StartMonth, activity.Project.StartYear, activity.StartMonthBaseline, activity.StartYearBaseline) - 1;
    var diffFromProjectStartPlanned = activity.MonthsCountPlanned <= 0 ? 0 : Promis.NET.Utilities.Models.Global.DifferenceInMonths(activity.Project.StartMonth, activity.Project.StartYear, activity.StartMonthPlanned, activity.StartYearPlanned) - 1;
    diffFromProjectStartBaseline = diffFromProjectStartBaseline > 0 ? diffFromProjectStartBaseline : 0;
    diffFromProjectStartPlanned = diffFromProjectStartPlanned > 0 ? diffFromProjectStartPlanned : 0;

    <table>
        <tbody>
            @{
                var firstRowColumn = Model.IsBaselineVisible ? "<td class='fixed-dimensions-cell'>B</td>" : "<td class='blue-colored fixed-dimensions-cell'>P</td>";
                var secondRowColumn = Model.IsBaselineVisible ? "<td class='blue-colored fixed-dimensions-cell'>P</td>" : "<td class='red-colored fixed-dimensions-cell'>R</td>";
                var thirdRowColumn = Model.IsBaselineVisible ? "<td class='red-colored fixed-dimensions-cell'>R</td>" : "<td class='green-colored fixed-dimensions-cell'>A</td>";
            }
            <tr>
                @if (Model.IsWithCurves)
                {
                    <td class="left-menu-startcell activity-title">@activity.Code</td>
                    <td colspan="2" title='@activity.Description'>
                        <div class="fixed-height-cell activity-title">@activity.Description</div>
                    </td>
                }
                else
                {
                    <td class="activity-title" colspan="2">@activity.Code</td>
                    @Html.Raw(firstRowColumn)
                }
            </tr>
            <tr>
                @if (Model.IsWithCurves)
                {
                    <td>@LocalResources.Mhrs</td>
                    <td colspan="2">
                        <input id="mh-@activity.Code" type='text' class='form-control mymhrs' value='@activity.Budget' data-old="0">
                    </td>
                }
                else
                {
                    <td class="fixed-height-cell activity-title" colspan="2">@activity.Description</td>
                    @Html.Raw(secondRowColumn)
                }
            </tr>
            <tr>
                @if (Model.IsWithCurves)
                {
                    <td>@LocalResources.Baseline</td>
                    <td class="flexed">
                        <input id="start-date-baseline-@activity.Code" type='text' class='input-sm form-control mydate' placeholder='@LocalResources.Start' value='@activity.StartDateBaseline' readonly>&nbsp;
                        <input id="end-date-baseline-@activity.Code" type='text' class='input-sm form-control mydate' placeholder='@LocalResources.End' value='@activity.EndDateBaseline' readonly>
                    </td>
                    <td class="left-menu-buttonscell">
                        <a id="curves-refresher-baseline-@activity.Code" class="curves-refresher font-size-14" data-project-start="@Html.Raw(activity.Project.StartMonth + "-" + activity.Project.StartYear)"
                           data-project-end="@Html.Raw(activity.Project.EndMonth + "-" + activity.Project.EndYear)"
                           data-activity="@activity.Code" data-type="B" data-description="@activity.Description" href='#'>
                            B&nbsp;
                            <span class='ti-control-shuffle'></span>
                        </a>
                    </td>
                }
                else
                {
                    <td colspan="2">&nbsp;</td>
                    @Html.Raw(thirdRowColumn)
                }
            </tr>
            @if (Model.IsBaselineVisible)
            {
                <tr>
                    @if (Model.IsWithCurves)
                    {
                        <td>@LocalResources.Planned</td>
                        <td class="flexed">
                            <input id="start-date-planned-@activity.Code" type='text' class='input-sm form-control mydate' placeholder='@LocalResources.Start' value='@activity.StartDatePlanned' readonly>&nbsp;
                            <input id="end-date-planned-@activity.Code" type='text' class='input-sm form-control mydate' placeholder='@LocalResources.End' value='@activity.EndDatePlanned' readonly>
                        </td>
                        <td class="left-menu-buttonscell">
                            <a id="curves-refresher-planned-@activity.Code" class="curves-refresher font-size-14" data-project-start="@Html.Raw(activity.Project.StartMonth + "-" + activity.Project.StartYear)"
                               data-project-end="@Html.Raw(activity.Project.EndMonth + "-" + activity.Project.EndYear)"
                               data-activity="@activity.Code" data-type="P" data-description="@activity.Description" href='#'>
                                P&nbsp;
                                <span class='ti-control-shuffle'></span>
                            </a>
                        </td>
                    }
                    else
                    {
                        <td colspan="2">&nbsp;</td>
                        <td class="green-colored fixed-dimensions-cell">A</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    if (i != (Model.Activities.Count - 1))
    {
        <hr />
    }

    if (Model.IsWithCurves)
    {

        // add HTML for baseline tracker display
        activitiesHTML += "<div class='progress-tracker-container'>";
        activitiesHTML += String.Format("<div id='progress-baseline-{0}' class='progress progress-baseline' style='{1}'>{2}</div>",
                                        activity.Code,
                                        String.Format("background-color: #003cff;left: {0}; width: {1};", (diffFromProjectStartBaseline * 40 + 20).ToString() + "px", ((activity.MonthsCountBaseline - 1) * 40).ToString() + "px"),
                                        @"<div class='progress-bar progress-bar-full-width' role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100'>" +
                                            "<span class='trackerball'" + (activity.MonthsCountBaseline > 1 ? "" : " style='display:none;'") + "></span>"//display only one trackball if mounts = 1
                                            + @"<span class='trackerball2'" + (activity.BaselineProgress.Count > 0 ? "" : " style='display:none;'") + @"></span>
                        </div>"
                                    );

        // add HTML for planned tracker display
        activitiesHTML += String.Format("<div id='progress-planned-{0}' class='progress progress-planned' style='{1}'>{2}</div>",
                                        activity.Code,
                                        String.Format("left: {0}; width: {1};", (diffFromProjectStartPlanned * 40 + 20).ToString() + "px", ((activity.MonthsCountPlanned - 1) * 40).ToString() + "px"),
                                        @"<div class='progress-bar progress-bar-full-width' role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100'>" +
                                            "<span class='trackerball'" + (activity.MonthsCountPlanned > 1 ? "" : " style='display:none;'") + "></span>"//display only one trackball if mounts = 1
                                            + @"<span class='trackerball2'" + (activity.PlannedProgress.Count > 0 ? "" : " style='display:none;'") + @"></span>
                        </div>"
                                    );
        activitiesHTML += "</div>";
    }

    // add table for baseline and planned
    var baselineIndex = 0;
    var tempBaselineValues = "";
    if (Model.IsBaselineVisible)
    {
        tempBaselineValues = String.Join("", Enumerable.Range(0, activity.Project.MonthsCount).Select(j =>
        {
            var currentMonth = activity.Project.StartMonth + j - 1;
            var realMonthValue = (currentMonth % 12) + 1;
            var currentYear = activity.Project.StartYear + (currentMonth / 12);
            currentMonth = currentMonth % 12;
            var dateCurrent = new DateTime(currentYear, currentMonth + 1, 1);
            var dateStartActivity = new DateTime(activity.StartYearBaseline, activity.StartMonthBaseline, 1);
            var dateEndActivity = new DateTime(activity.EndYearBaseline, activity.EndMonthBaseline, 1);
            if (activity.BaselineProgress.Count > 0 && baselineIndex < activity.BaselineProgress.Count && dateCurrent >= dateStartActivity && dateCurrent <= dateEndActivity)//inside activity schedule
{
                var htmlContent = Model.IsWithCurves ? "<input name='col-baseline-{0}' class='form-control myspin' value='{1}'></input>" : "{1}";
                return String.Format(@" <td data-month='" + realMonthValue + "' data-year='" + currentYear + @"' class='mhrs-header lower-header base-column'>" + htmlContent + @"</td>",
                                        activity.Code,
                                        string.Format("{0:N}", activity.BaselineProgress[baselineIndex++]));
            }
            return "<td data-month='" + realMonthValue + "' data-year='" + currentYear + @"' class='mhrs-header lower-header base-column'>&nbsp;</td>";
        }));
    }

    var plannedIndex = 0;
    var tempPlannedValues = String.Join("", Enumerable.Range(0, activity.Project.MonthsCount).Select(j =>
    {
        var currentMonth = activity.Project.StartMonth + j - 1;
        var realMonthValue = (currentMonth % 12) + 1;
        var currentYear = activity.Project.StartYear + (currentMonth / 12);
        currentMonth = currentMonth % 12;
        var dateCurrent = new DateTime(currentYear, currentMonth + 1, 1);
        var dateStartActivity = new DateTime(activity.StartYearPlanned, activity.StartMonthPlanned, 1);
        var dateEndActivity = new DateTime(activity.EndYearPlanned, activity.EndMonthPlanned, 1);
        if (activity.PlannedProgress.Count > 0 && plannedIndex < activity.PlannedProgress.Count && dateCurrent >= dateStartActivity && dateCurrent <= dateEndActivity)//inside activity schedule
{
            var htmlContent = Model.IsWithCurves ? "<input name='col-planned-{0}' class='form-control myspin' value='{1}'></input>" : "{1}";
            return String.Format(@" <td data-month='" + realMonthValue + "' data-year='" + currentYear + @"' class='mhrs-header lower-header base-column" + (Model.IsWithCurves ? "" : " blue-colored") + @"'>" + htmlContent + @"</td>",
                                    activity.Code,
                                    string.Format("{0:N}", activity.PlannedProgress[plannedIndex++]));
        }
        return "<td data-month='" + realMonthValue + "' data-year='" + currentYear + @"' class='mhrs-header lower-header base-column'>&nbsp;</td>";
    }));

    var tempRValues = "";
    var tempAValues = "";
    if (!Model.IsWithCurves)
    {
        // add table for R and A indices
        var rIndex = 0;
        tempRValues = String.Join("", Enumerable.Range(0, activity.Project.MonthsCount).Select(j =>
        {
            var currentMonth = activity.Project.StartMonth + j - 1;
            var realMonthValue = (currentMonth % 12) + 1;
            var currentYear = activity.Project.StartYear + (currentMonth / 12);
            currentMonth = currentMonth % 12;
            var dateCurrent = new DateTime(currentYear, currentMonth + 1, 1);
            var dateStartActivity = new DateTime(activity.StartYearR, activity.StartMonthR, 1);
            var dateEndActivity = new DateTime(activity.EndYearR, activity.EndMonthR, 1);
            var htmlContent = Model.IsREditable ? "<input data-month='" + realMonthValue + "' data-year='" + currentYear + @"' name='col-R-{0}' class='form-control myspin' value='{1}'></input>" : "&nbsp;";
            if (activity.RProgress.Count > 0 && rIndex < activity.RProgress.Count && dateCurrent >= dateStartActivity && dateCurrent <= dateEndActivity)//inside activity schedule
{
                var innerHtmlContent = !Model.IsREditable ? "{1}" : htmlContent;
                return String.Format(@" <td data-month='" + realMonthValue + "' data-year='" + currentYear + @"' class='mhrs-header lower-header red-colored'>" + innerHtmlContent + @"</td>",
                                        activity.Code,
                                        string.Format("{0:N}", activity.RProgress[rIndex++]));
            }

            htmlContent = string.Format(htmlContent, activity.Code, "");
            return "<td data-month='" + realMonthValue + "' data-year='" + currentYear + @"' class='mhrs-header lower-header'>" + htmlContent + "</td>";
        }));

        var aIndex = 0;
        tempAValues = String.Join("", Enumerable.Range(0, activity.Project.MonthsCount).Select(j =>
        {
            var currentMonth = activity.Project.StartMonth + j - 1;
            var realMonthValue = (currentMonth % 12) + 1;
            var currentYear = activity.Project.StartYear + (currentMonth / 12);
            currentMonth = currentMonth % 12;
            var dateCurrent = new DateTime(currentYear, currentMonth + 1, 1);
            var dateStartActivity = new DateTime(activity.StartYearA, activity.StartMonthA, 1);
            var dateEndActivity = new DateTime(activity.EndYearA, activity.EndMonthA, 1);
            if (activity.AProgress.Count > 0 && aIndex < activity.AProgress.Count && dateCurrent >= dateStartActivity && dateCurrent <= dateEndActivity)//inside activity schedule
{
                var htmlContent = "{1}";
                return String.Format(@" <td data-month='" + realMonthValue + "' data-year='" + currentYear + @"' class='mhrs-header lower-header green-colored'>" + htmlContent + @"</td>",
                                        activity.Code,
                                        string.Format("{0:N}", activity.AProgress[aIndex++]));
            }
            return "<td data-month='" + realMonthValue + "' data-year='" + currentYear + @"' class='mhrs-header lower-header'>&nbsp;</td>";
        }));
    }

    var hrReplacement = "<table class='table-sm'><tr>" + String.Join("", Enumerable.Range(0, activity.Project.MonthsCount).Select(j =>
   {
       var currentMonth = activity.Project.StartMonth + j - 1;
       var realMonthValue = (currentMonth % 12) + 1;
       var currentYear = activity.Project.StartYear + (currentMonth / 12);
       return "<td data-month='" + realMonthValue + "' data-year='" + currentYear + @"' class='hr-replacement'><hr/></td>";
   })) + "</tr></table>";

    // table
    var baselineContent = !Model.IsBaselineVisible ? "" :
        String.Format(@"<tr class='row-baseline-{0}'>
                {1}
            </tr>", activity.Code, tempBaselineValues);
    var otherContent = Model.IsWithCurves ? "" :
          String.Format(@"<tr data-mhrs='" + activity.Budget + "' data-activity='" + activity.Code + "' data-description='" + activity.Description + "' data-project-start='" + activity.Project.StartDate + "' data-project-end='" + activity.Project.EndDate + @"' class='row-R-{0} input-rescheduled'>
                    {1}
                </tr>
                <tr class='row-a-{0}'>
                    {2}
                </tr>",
            activity.Code,
            tempRValues,
            tempAValues);

    activitiesHTML += String.Format(@"
                        <table class='table-bordered table-sm'>
                            {1}
                            <tr class='row-planned-{0}'>
                                {2}
                            </tr>
                            {3}
                        </table>"
                                    + (i != Model.Activities.Count - 1 ? hrReplacement : ""),
                        activity.Code,
                        baselineContent,
                        tempPlannedValues,
                        otherContent);
}

<script>
    GLOBAL_DATA.setup.planning.budget = @Model.Budget.Available.ToHtmlJson();
    GLOBAL_DATA.setup.planning.planned = @Model.Budget.Planned.ToHtmlJson();
    GLOBAL_DATA.setup.planning.activitiesHTML = @activitiesHTML.ToHtmlJson();
</script>