﻿
@using Promis.NET.MCV.ViewModels
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model List<Promis.NET.MCV.ViewModels.Project.ProjectViewModel>

@foreach (var project in Model)
{
    <div class="project-details-container project-details-multi">
        <div class="row pull-left info_proj info-proj-full hidden-sm-down" data-projectid="@project.Base.Code">
            <table class="col-md-10">
                <tr>
                    <td><span>@project.Base.Title</span></td>
                </tr>
                <tr>
                    <td><span class="project-location-header">@project.Base.Location</span></td>
                </tr>
            </table>
            <div class="col-md-6 pull-right project-logo-cont no-right-padding">
                <img alt="@project.Base.Title's logo" class="project-logo pull-right" src="@Html.Raw(!string.IsNullOrWhiteSpace(project.Base.LogoUrl) ? project.Base.LogoUrl : "/assets/img/logo.jpg")" />
            </div>
        </div>
    </div>
}