﻿
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Project.ProjectDataViewModel

<div class="pull-left project-logo-cont">
    <img alt="@Model.Base.Name's logo" class="project-logo" src="@Html.Raw(!string.IsNullOrWhiteSpace(Model.Base.LogoUrl) ? Model.Base.LogoUrl : "/assets/img/logo.jpg")" />
</div>
<div class="pull-left info_proj hidden-sm-down">
    <table>
        <tr>
            <td align="right"><i>@LocalResources.Project</i>&nbsp;</td>
            <td><span>@Model.Base.Name</span></td>
        </tr>
        <tr>
            <td align="right"><i>@LocalResources.Location</i>&nbsp;</td>
            <td><span class="project-location-header">@Model.Base.Location</span></td>
        </tr>
    </table>
</div>
<div class="pull-left info_proj info_weather project-weather-container" data-coordinates="@Model.Base.LocationCoordinates">
</div>