﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Project.ProjectUsersViewModel

<link rel="stylesheet" href="~/assets/css/libraries/easy-autocomplete.css">

<div class="tab-pane active" id="users" role="tabpanel">
    <div class="row">
        <div class="col-16">
            <div class="card ex_users">
                <div class="card-header">
                    <h5 class="card-title pull-left margin-right-15">@LocalResources.ExistingUsers</h5>
                    <input id="selected-user-autocomplete" name="selected-user-autocomplete" class="form-control">
                    <ul class="nav nav-pills card-header-pills pull-right margin-left-15">
                        <li class="nav-item ">
                            <button id="delete-user-btn" class="btn btn-warning">@LocalResources.Delete </button>
                        </li>
                        <li class="nav-item ">
                            <button id="create-user-btn" class="btn btn-primary">@LocalResources.NewUser</button>
                        </li>
                        <li class="nav-item ">
                            <button id="save-user-btn" class="btn btn-success"> @LocalResources.Save </button>
                        </li>
                    </ul>
                </div>
                <form id="formuser">
                    <div id="user-data-container" class="card-block">
                        <div class="row">
                            <div class="col-8">
                                <!-- Basic Info -->
                                <div class="col-16">
                                    <h6 id="personal-info-title">@LocalResources.PersonalInfo</h6>
                                    <hr class="hr-line-style">
                                    <div class="row">
                                        <div class="col-sm-4 social-profile-cover" align="center">
                                            <figure class="social-profile-pic">
                                                <div>
                                                    <img id="users-user-picture" src="@Html.Raw(!string.IsNullOrWhiteSpace(Model.User.PhotoUrl) ? Model.User.PhotoUrl : "/assets/img/user-icon.png")" height="150" class="img-fluid" />
                                                </div>
                                            </figure>
                                            <div class="input-file-container">
                                                <input id="profile-users-image" class="input-file" type="file" accept="image/png,image/jpeg,image/gif">
                                                <label id="profile-users-image-button" tabindex="0" for="profile-users-image" class="input-file-trigger">@LocalResources.Upload</label>
                                            </div>
                                            <p id="profile-image-return"></p>
                                        </div>
                                        <div class="col-sm-12 block_user_pi">
                                            <div class="form-group row">
                                                <div class="col-8">
                                                    <label>@LocalResources.FirstName</label>
                                                    <input id="FirstName" type="text" class="form-control" value="@Model.User.FirstName">
                                                </div>
                                                <div class="col-8">
                                                    <label>@LocalResources.LastName</label>
                                                    <input id="LastName" type="text" class="form-control" value="@Model.User.LastName">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-8">
                                                    <label>@LocalResources.Username</label>
                                                    <input id="UserName" type="text" class="form-control" value="@Model.User.UserName">
                                                </div>
                                                <div class="col-8">
                                                    <label>@LocalResources.Password</label>
                                                    <input id="Password" type="password" class="form-control" value="@Model.User.Password">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-8">
                                                    <label>@LocalResources.Email</label>
                                                    <input id="Email" type="email" class="form-control" value="@Model.User.Email">
                                                </div>
                                                <div class="col-8">
                                                    <label>@LocalResources.OfficeNumber</label>
                                                    <input id="OfficePhone" type="tel" class="form-control" value="@Model.User.OfficePhone">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-8">
                                                    <label>@LocalResources.Country</label>
                                                    <select id="Country" class="form-control" data-live-search="true" tabindex="-1" aria-hidden="true">
                                                        <option value=""></option>
                                                        @foreach (var country in Model.Countries)
                                                        {
                                                            <option value="@country.Code" @Html.Raw(Model.User.Country == country.Code ? "selected" : "")>@country.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-8">
                                                    <label>@LocalResources.MobileNumber</label>
                                                    <input id="MobilePhone" type="tel" class="form-control" value="@Model.User.MobilePhone">
                                                </div>
                                            </div>
                                            <div class="form-group row" id="company-area">
                                                <div class="col-8">
                                                    <label>@LocalResources.Company</label>
                                                    <input id="Company" type="text" class="form-control" value="@Model.User.Company">
                                                </div>
                                                <div class="col-8">&nbsp;</div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-16">
                                                    <label>@LocalResources.InterfaceLanguage</label>
                                                    <div class="row" id="interface-language-row">
                                                        <div class="col">
                                                            <label class="custom-control custom-radio">
                                                                <input id="lang-en" name="Language" type="radio" value="en" class="custom-control-input" @Html.Raw((Model.User.Language == "en" || string.IsNullOrWhiteSpace(Model.User.Language)) ? "checked" : "")>
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description"><img src="~/assets/img/flag/en.svg" class="img-fluid max-35-px" /></span>
                                                            </label>
                                                        </div>
                                                        <div class="col">
                                                            <label class="custom-control custom-radio">
                                                                <input id="lang-fr" name="Language" type="radio" value="fr" class="custom-control-input" @Html.Raw(Model.User.Language == "fr" ? "checked" : "")>
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description"><img src="~/assets/img/flag/fr.svg" class="img-fluid max-35-px" /></span>
                                                            </label>
                                                        </div>
                                                        <div class="col">
                                                            <label class="custom-control custom-radio">
                                                                <input id="lang-es" name="Language" type="radio" value="es" class="custom-control-input" @Html.Raw(Model.User.Language == "es" ? "checked" : "")>
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description"><img src="~/assets/img/flag/es.svg" class="img-fluid max-35-px" /></span>
                                                            </label>
                                                        </div>
                                                        <div class="col">
                                                            <label class="custom-control custom-radio">
                                                                <input id="lang-it" name="Language" type="radio" value="it" class="custom-control-input" @Html.Raw(Model.User.Language == "it" ? "checked" : "")>
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description"><img src="~/assets/img/flag/it.svg" class="img-fluid max-35-px" /></span>
                                                            </label>
                                                        </div>
                                                        <div class="col">
                                                            <label class="custom-control custom-radio">
                                                                <input id="lang-ru" name="Language" type="radio" value="ru" class="custom-control-input" @Html.Raw(Model.User.Language == "ru" ? "checked" : "")>
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description"><img src="~/assets/img/flag/ru.svg" class="img-fluid max-35-px" /></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modules -->
                                <div class="col-16">
                                    <div class="table-responsive modules-container">
                                        <table class="table table-hover table-sm" style="font-size: 14px">
                                            <thead>
                                                <tr class="h6">
                                                    <th>@LocalResources.ModulesAvailable</th>
                                                    <th width="60">@LocalResources.Hide</th>
                                                    <th width="60">@LocalResources.Available</th>
                                                    <th width="90">@LocalResources.WriteModify</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var module in Model.Modules)
                                                {
                                                    <tr>
                                                        <td class="flexed">
                                                            <span class="@module.Class font-size-20"></span>
                                                            <h6 class="module-description">@module.Description</h6>
                                                        </td>
                                                        <td>
                                                            <label class="custom-control custom-radio margin-right-0">
                                                                <input name="module-@module.Code" type="radio" class="custom-control-input" value="H" @Html.Raw((string.IsNullOrWhiteSpace(Model.User.RolesModulesString) || !(Model.User.RolesModules.Contains(module.Code + "_R") || Model.User.RolesModules.Contains(module.Code + "_W"))) ? "checked" : "")>
                                                                <span class="custom-control-indicator"></span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="custom-control custom-radio margin-right-0">
                                                                <input name="module-@module.Code" type="radio" class="custom-control-input" value="R" @Html.Raw(Model.User.RolesModules.Contains(module.Code + "_R") ? "checked" : "")>
                                                                <span class="custom-control-indicator"></span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            @if (module.Code != "APP" && module.Code != "KPI")
                                                            {
                                                                <label class="custom-control custom-radio margin-right-0">
                                                                    <input name="module-@module.Code" type="radio" class="custom-control-input" value="W" @Html.Raw(Model.User.RolesModules.Contains(module.Code + "_W") ? "checked" : "")>
                                                                    <span class="custom-control-indicator"></span>
                                                                </label>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8">
                                <div id="user-type-container">
                                    <!-- User type -->
                                    <div class="col-2">
                                        <h6 class="semi-title-h6">@LocalResources.PromisUser</h6>
                                        <hr class="hr-line-style">
                                        <div class="row">
                                            <div class="col-16">
                                                <label class="custom-control custom-radio margin-right-30">
                                                    <input name="RolesResponsabilitiesString" type="radio" class="custom-control-input" value="" @Html.Raw((string.IsNullOrWhiteSpace(Model.User.RolesResponsabilitiesString) || Model.User.RolesResponsabilitiesString != "A") ? "checked" : "")>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">@LocalResources.Standard</span>
                                                </label>
                                                <label class="custom-control custom-radio" style="margin-right: 30px">
                                                    <input name="RolesResponsabilitiesString" type="radio" class="custom-control-input" value="A" @Html.Raw(Model.User.RolesResponsabilitiesString == "A" ? "checked" : "")>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">@LocalResources.Admin</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-14 left-bordered">
                                        <h6 class="semi-title-h6">@LocalResources.FollowupResponsibility</h6>
                                        <hr class="hr-line-style">
                                        <div class="row">
                                            <div class="col-16">
                                                <label class="custom-control custom-radio margin-right-30">
                                                    <input name="RolesResponsabilitiesString" type="radio" class="custom-control-input" value="C" @Html.Raw(Model.User.RolesResponsabilitiesString == "C" ? "checked" : "")>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">@LocalResources.Contractor</span>
                                                </label>
                                                <label class="custom-control custom-radio margin-right-30">
                                                    <input name="RolesResponsabilitiesString" type="radio" class="custom-control-input" value="O" @Html.Raw(Model.User.RolesResponsabilitiesString == "O" ? "checked" : "")>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">@LocalResources.Client</span>
                                                </label>
                                                <label class="custom-control custom-radio">
                                                    <input name="RolesResponsabilitiesString" type="radio" class="custom-control-input" value="S" @Html.Raw(Model.User.RolesResponsabilitiesString.StartsWith("S") ? "checked" : "")>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description inline-flexed">
                                                        @LocalResources.Subcontractor&nbsp;
                                                        <select id="RolesResponsabilitiesSubcontractor" class="form-control">
                                                            <option value=""></option>
                                                            @foreach (var sub in Model.Subcontractors)
                                                            {
                                                                <option value="@sub.Code" @Html.Raw(Model.User.RolesResponsabilitiesString == "S$" + sub.Code ? "selected" : "")>@sub.Description</option>
                                                            }
                                                        </select>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div id="user-activities-container" class="col-16">
                                            <div class="table-responsive modules-container">
                                                <table class="table table-hover table-sm">
                                                    <thead>
                                                        <tr class="h6 semi-title-h6">
                                                            <th>Activities</th>
                                                            <th width="90">@LocalResources.NotAllowed</th>
                                                            <th width="90">@LocalResources.Permitted</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var activity in Model.Activities)
                                                        {
                                                            <tr>
                                                                <td>@activity.Description</td>
                                                                <td>
                                                                    <label class="custom-control custom-radio margin-right-0">
                                                                        <input name="activity-@activity.Code" type="radio" class="custom-control-input" value="H" @Html.Raw(!Model.User.RolesActivities.Contains(activity.Code) ? "checked" : "")>
                                                                        <span class="custom-control-indicator"></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="custom-control custom-radio margin-right-0">
                                                                        <input name="activity-@activity.Code" type="radio" class="custom-control-input" value="P" @Html.Raw(Model.User.RolesActivities.Contains(activity.Code) ? "checked" : "")>
                                                                        <span class="custom-control-indicator"></span>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<script>
    GLOBAL_DATA.setupUsersForSearch = @Model.Users.Select(u => new
                            {
                                name = u.FullName,
                                email = u.Email,
                                icon = !string.IsNullOrWhiteSpace(u.PhotoUrl) ? u.PhotoUrl: "assets/img/user-icon.png",
                                id = u.UserId
                            }).ToHtmlJson();
    GLOBAL_DATA.setupData = @Html.Raw(new
                       {
                           modules = Model.Modules,
                           subcontractors = Model.Subcontractors,
                           activities = Model.Activities
                       }.ToHtmlJson());
     GLOBAL_DATA.TRANSLATIONS = {
  
        @Model.GetPropertyName(() => LocalResources.IclickOnBsavebToMakeTheChangeEffectivei): @LocalResources.IclickOnBsavebToMakeTheChangeEffectivei.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.Search): @LocalResources.Search.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.NoUserSelectedWillNotLoadData): @LocalResources.NoUserSelectedWillNotLoadData.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.UserSuccessfullyCreated): @LocalResources.UserSuccessfullyCreated.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.Welcome): @LocalResources.Welcome.ToHtmlJson()

    };
</script>
<script src="~/assets/js/libraries/jquery.easy-autocomplete.min.js"></script>
<script src="~/assets/js/pages/project-user.js"></script>
