@media (min-width: 1020px) {
    .container {
        width: 100%;
        padding-bottom: 0 !important
    }
}

.layout {
    font-family: 'light';
}

.navbar {
    padding: 0.2rem 0.75rem 0.2rem 1.5rem;
    border-bottom: rgba(255,255,255,0.1) 1px solid;
}

.navbar-brand {
    padding: 0;
    margin-right: 0
}

#logo {
    height: 30px
}

.info_weather {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    cursor: pointer;
    text-align: center;
}

.info_weather div span {
    font-size: 20px;
    font-weight: bold;
}

.weather-row-medatada {
    margin: 0px auto;
    margin-top: 10px;
}

.weather-div-monthname{
    text-align: center;
}

.weather-div-names {
    background-color: #900;
    font-size: 12px;
    text-align: center;
}

.weather-div-names weather-div-topname {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.weather-div-names weather-div-butname {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.weather-div-bignames {
    background-color: #fff;
    font-size: 32px;
    color: #222;
    font-weight: bold;
    text-align: center;
}

.weather-div-bigtemp {
    font-size: 60px;
    color: #fff;
}

.weather-div-bigtemp span {
    font-size: 24px;
}

.weather-row-details {
    margin: 0px auto;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.weather-div-subdetail {
    font-size: 14px;
}

.weather-div-subdetail .subdetail-big {
    color: #fff;
    font-size: 16px;
}

.weather-row-next{
    margin: 0px auto;
}

.weather-row-next>div {
    display: flex;
    margin-bottom: 10px;
}

.weather-next-cell {
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgba(0,0,0,0.2);
    margin-right: 5px;
    margin-top: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    text-align: center;
    font-size: 12px !important;
}


.menu-collapse {
    margin-top: 7px;
}

.search-header {
    display: none
}

.menu_hor {
    width: 100%;
}

header .icon-header {
    margin-right: 5px;
    cursor: pointer;
}

    header .icon-header:hover {
        color: white;
    }

header .btn .fa {
    margin-right: 0
}

.footer-content {
    position: fixed;
    z-index: 100;
    line-height: 30px;
    height: 30px;
}

.user-menu-items .btn-group .btn {
    border-bottom: rgba(255,255,255,0.1) 1px solid;
    /*border-top: rgba(255,255,255,0.1) 1px solid;*/
    background-color: rgba(0,0,0,0.2)
}

    .user-menu-items .btn-group .btn .message_userpic, .user-login {
        width: 40px;
        height: 40px
    }

.media-body span {
    font-size: 13px
}

.user {
    font-size: 16px !important;
    font-family: 'Robotothin';
    margin-bottom: 0 !important;
}

.user-menu-items {
    cursor: pointer
}

    .user-menu-items .btn-group .btn {
        padding: 1em;
    }

.main_iframe {
    width: 100%;
}

.sidebar-left .icon-container h6 {
    line-height: 1.4
}

.sidebar-left .icon-container a {
    color: inherit !important
}

.sidebar-left .icon-container span {
    font-size: 40px;
    margin: 5px 0;
}

ul.modules {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    ul.modules li {
        float: left;
        display: block;
        width: 33%;
        text-align: center;
        padding: 5px 0;
    }

        ul.modules li span {
            font-size: 30px;
        }

        ul.modules li a {
            color: inherit !important
        }

        ul.modules li h6 {
            line-height: 1.2;
            font-size: 14px;
        }

ul.modules_usr {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    ul.modules_usr li {
        float: left;
        display: flex;
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }

        ul.modules_usr li span {
            font-size: 24px;
        }

        ul.modules_usr li a {
            color: inherit !important
        }

        ul.modules_usr li h6 {
            line-height: 24px;
            font-size: 14px;
            margin: 0;
            padding-left: 10px
        }

.main_title {
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    font-family: "robotothin";
    font-size: 30px;
    color: white;
}

.page_subtitle {
    font-size: 18px;
    display: block;
    text-align: left;
    margin-top: 10px;
}

.page_title {
    padding: 15px 0;
    margin: 0;
    display: block;
    text-align: left;
    font-family: "robotothin";
    font-size: 24px;
}

.main_title_bold {
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    font-family: "bold";
    font-size: 40px;
}

.dash_pr {
    background-color: rgba(255,255,255,0.1);
}

body > .container {
    background-color: transparent !important
}

.progress-bar {
    height: 1rem;
    color: #fff;
    background-color: rgba(255,255,255,0.2) !important /*#6c8bef;*/
}

ul.tab_setup {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden
}

    ul.tab_setup li {
        padding: 0 15px;
        float: left;
        text-align: center;
        display: block;
        font-size: 14px;
        cursor: pointer
    }

        ul.tab_setup li.active a {
            color: #fff;
            background-color: #6c8bef;
            border-color: #6c8bef;
        }

        ul.tab_setup li.active {
            color: #fff;
        }

.card {
    margin: 0;
}

.card-header {
    padding: 0.3rem 15px
}

.card-block {
    padding: 1rem;
}

.wrapper-content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
    padding-top: 60px
}

.form-group {
    margin-bottom: 5px;
}

.datepicker .month, .datepicker table {
    color: #333
}

    .datepicker table tr td span {
        height: 25px !important;
        line-height: 20px !important
    }

#map a, #map .gmnoprint {
    display: none !important;
}

.form-control {
    padding: 0.25rem 0.5rem
}

    .form-control[disabled], .form-control[readonly] {
        color: #222
    }

label {
    margin: 0
}

.btn .fa {
    vertical-align: -15%
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.3rem 0.4rem !important;
}

#prev_pager .ui-icon-seek-prev {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#main_overlay {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    z-index: 200;
    display: none
}

.form-control {
    font-size: 12px !important;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(1.5rem + 2px) !important;
}

.nav-tabs .nav-link {
    font-size: 14px !important;
    padding: 0.5em 0.5em !important;
    margin-top: 10px !important
}

.card .card-header .btn {
    height: 20px !important
}
/*FIle Input*/
.input-file-container {
    position: relative;
    margin-top: 5px;
    max-width: 100px
}

.js .input-file-trigger {
    display: block;
    padding: 0.3rem 0.4rem;
    background: #6c8bef;
    color: #fff;
    font-size: 0.8rem;
    transition: all .4s;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 1px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 1px 1px 0px rgba(255, 255, 255, 0.5);
    -ms-box-shadow: inset 0 1px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 1px 0px rgba(255, 255, 255, 0.5);
    border: 0;
    border-radius: 0.2rem;
    font-family: sans-serif;
}

.js .input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    opacity: 0;
    padding: 0.3rem 0.4rem;
    cursor: pointer;
}

    .js .input-file:hover + .input-file-trigger,
    .js .input-file:focus + .input-file-trigger,
    .js .input-file-trigger:hover,
    .js .input-file-trigger:focus {
        background: #34495E;
        color: #39D2B4;
    }

.file-return {
    margin: 0;
}

    .file-return:not(:empty) {
        margin: 1em 0;
    }

.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}

    .js .file-return:not(:empty):before {
        font-style: normal;
        font-weight: normal;
    }

.full-screen-container.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    margin: 0;
    height: 100%;
    width: 100%;
}

.btn-danger {
    background-color: #900;
}
