﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@using Promis.NET.Utilities.Extensions
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Commissioning.CertificationCompletionViewModel
<!-- Required for datatables -->
<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">

<div class="tab-pane active" id="commissioning-certification" role="tabpanel">
    <input name="tag-follow-up" id="tag-follow-up" type="hidden" value="">
    <div class="row">
        <div class="col-md-16">
            <div class="card act_right" id="act-right">
                <div class="card-block">
                    <div class="row">
                        @for (int i = 0; i < Model.CertificationDataTablesInfo.Count; i++)
                        {
                            <div class="col-md-8 col-lg-8 col-xl-4">
                                <div class="activity-block precommissioning-management">
                                    <div class="media">
                                        <div class="media-body">
                                            <p class="page_subtitle certification">@Model.CertificationDataTablesInfo.Values.ElementAt(i).Description</p><hr>
                                            <div class="text-white management-title">@LocalResources.Precommissioning.ToCamelCase(true, false)</div>
                                            <div class="row">
                                                <div class="col text-right">@LocalResources.TagsAssigned</div>
                                                <div class="col">
                                                    <button type="button" class="btn btn-sm btn-success certification-tags-assigned">@String.Format("{0:N0}", Model.CertificationDataTablesInfo.Values.ElementAt(i).Count1Precommissioning)</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col text-right">@LocalResources.TagsToBeAssigned</div>
                                                <div class="col">
                                                    <button type="button" class="btn btn-sm btn-danger certification-tags-to-assign" id=@Html.Raw("tblPrecomm"+i) data-table=@Html.Raw(Model.CertificationDataTablesInfo.Values.ElementAt(i).Datatable)>@String.Format("{0:N0}", Model.CertificationDataTablesInfo.Values.ElementAt(i).Count2Precommissioning)</button>
                                                </div>
                                            </div>
                                            <div class="row tags-followup">
                                                <div class="col text-right text-follow-up">@LocalResources.TagsInFollowup&nbsp;<span class="ti-angle-double-right"></span></div>
                                                <div class="col text-white follow-up-value">@Html.Raw(Model.CertificationDataTablesInfo.Values.ElementAt(i).PrecomProgress + "%")</div>
                                            </div>
                                            <hr>
                                            <div class="text-white management-title">@LocalResources.Commissioning.ToCamelCase(true, false)</div>
                                            <div class="row">
                                                <div class="col text-right">@LocalResources.TagsAssigned</div>
                                                <div class="col">
                                                    <button type="button" class="btn btn-sm btn-success certification-tags-assigned">@String.Format("{0:N0}", Model.CertificationDataTablesInfo.Values.ElementAt(i).Count1Commissioning)</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col text-right">@LocalResources.TagsToBeAssigned</div>
                                                <div class="col">
                                                    <button type="button" class="btn btn-sm btn-danger certification-tags-to-assign" id=@Html.Raw("tblComm" + i) data-table=@Html.Raw(Model.CertificationDataTablesInfo.Values.ElementAt(i).Datatable)>@String.Format("{0:N0}", Model.CertificationDataTablesInfo.Values.ElementAt(i).Count2Commissioning)</button>
                                                </div>
                                            </div>
                                            <div class="row tags-followup">
                                                <div class="col text-right text-follow-up">@LocalResources.TagsInFollowup&nbsp;<span class="ti-angle-double-right"></span></div>
                                                <div class="col text-white follow-up-value">@Html.Raw(Model.CertificationDataTablesInfo.Values.ElementAt(i).CommissioningProgress + "%")</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    GLOBAL_DATA.TRANSLATIONS = {

        @Model.GetPropertyName(() => LocalResources.TagsNotAssigned): @LocalResources.TagsNotAssigned.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.TheDatatableCannotBeNull): @LocalResources.TheDatatableCannotBeNull.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ThePrefixCannotBeNull): @LocalResources.ThePrefixCannotBeNull.ToHtmlJson()
    };

</script>
<!-- Required for datatables -->
<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>
<script src="~/assets/js/helpers/data-table.js"></script>

<script src="~/assets/js/pages/commissioning-certification-completion.js"></script>
