﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@using Promis.NET.Roles
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Commissioning.InspectionFollowUpViewModel

@{
    var isAdmin = User.IsInRole(LocalRoles.ResponsabilityAdmin);
    var isWriter = isAdmin || User.IsInRole(LocalRoles.ModuleWritePrecommInspections);
}

<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">

<div class="tab-pane active" id="commissioning-inspection-followup" role="tabpanel">
    <form id="form3">
        <div class="row">
            <div class="col-md-6">
                <div class="card act-left">
                    <div class="card-header card-header-followup">
                        <div class="row">
                            <div class="col-md-16">
                                <span class="text-white page_title">@LocalResources.InspectionsOverview</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-16">
                                <div class="form-group row">
                                    <label for="main-act" class="col-xl-3 text-right">@LocalResources.MainActivity</label>
                                    <div class="col-xl-7">
                                        <select class="form-control" id="main-act">
                                            <option value=""></option>
                                            @for (var i = 0; i < Model.MainActivities.Count; i++)
                                            {
                                                <option value="@Model.MainActivities[i].Code">@Html.Raw(Model.MainActivities[i].Description)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-16">
                                <div class="form-group row">
                                    <label for="dtype" class="col-md-3 text-right">@LocalResources.Datatable</label>
                                    <div class="col-md-13">
                                        <select class="form-control" id="table-selector">
                                            <option value=""></option>
                                            @for (var i = 0; i < Model.Datatables.Count; i++)
                                            {
                                                <option class="to-hide" style="display: none;" value="@Model.Datatables[i].Datatable">@Html.Raw(Model.Datatables[i].Description)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-16" id="middle-col">
                                <div id="tags-table-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card act_right">
                    <div class="card-header card-header-followup">
                        <div class="row">
                            <div class="col-md-14">
                                <span class="text-white page_title" id="preservation-act">@LocalResources.InspectionsStatus</span>
                            </div>
                            <div class="col-md-2">
                                <span class="pull-right margin-pull">
                                    @if(isWriter)
                                    {
                                        <button type="button" class="btn btn-success" id="save-followup">@LocalResources.Save </button>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div id="inspections-status-table"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var userFullName = @Model.UserName.ToHtmlJson();
    GLOBAL_DATA.TRANSLATIONS = {

        @Model.GetPropertyName(() => LocalResources.AnActivityMustBeSelectedInOrderToContinue): @LocalResources.AnActivityMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ADatatableMustBeSelectedInOrderToLoadTheTableForIt): @LocalResources.ADatatableMustBeSelectedInOrderToLoadTheTableForIt.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ARowTagMustBeSelectedInOrderToContinue): @LocalResources.ARowTagMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ADatatableMustBeSelectedInOrderToContinue): @LocalResources.ADatatableMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.DataSaved): @LocalResources.DataSaved.ToHtmlJson()

    };
</script>

<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>
<script src="~/assets/js/helpers/data-table.js"></script>

<script src="~/assets/js/pages/commissioning-follow-up.js"></script>
