﻿
@using Promis.NET.Localization
@model Promis.NET.MCV.ViewModels.Commissioning.FollowUpStatusViewModel

<div class="table-container" id="promisdt-subdivision-container">
    <div class="notes notes-primary followup-alert" role="alert">@Model.Subactivity - @Model.S_Description</div>
    <table id="promisdt-subdivision" class="table table-hover table-bordered" cellspacing=0>
        <thead id="promisdt-subdivision-header">
            <tr>
                <th>@LocalResources.Inspections @LocalResources.Description</th>
                <th width='40'>NA</th>
                <th width=120 style="text-align: center">@LocalResources.Inspector</th>
            </tr>
        </thead>
        <tbody id="promisdt-subdivision-body">
            @foreach (var item in Model.Status)
            {
                <tr>
                    <td style="text-align: left; padding-left: 5px;">@item.Description</td>
                    <td class="followup-checkbox">
                        <input class="check-input clickable" data-step="@item.ord" data-initialval="@Html.Raw(item.inspection?.Trim())" id="ck_@item.ord" type="checkbox" value="N" @Html.Raw(item.result || !string.IsNullOrWhiteSpace(item.inspection?.Trim()) ? "checked" : "")>
                    </td>
                    <td>
                        <textarea data-step="@item.ord" id="in_@item.ord" class='form-control sign-s text-white check-textarea clickable' readonly>@item.inspection</textarea>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
