﻿
@using Promis.NET.MCV.ViewModels
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Commissioning.LoopTagsViewModel

<div id='acc_sys' role='tablist' class='accordion'>
    @for (int i = 0; i < Model.Tags.Count; i++)
    {
        <div class='card'>
            <div class='card-header tags-area' role='tab' id='@Html.Raw("h_"+ Model.Tags[i])'>
                <p class='mb-0 pull-left'>
                    <a data-toggle='collapse' data-parent='#acc_sys' href='@Html.Raw("#c_"+ Model.Tags[i])' aria-expanded='true' aria-controls='@Html.Raw("c_"+ Model.Tags[i])' class='in text-white tag-title'>@Model.Tags[i]</a>
                </p>
            </div>
            <div id='@Html.Raw("c_"+ Model.Tags[i])' class='collapsed in collapse tag-table-area' role='tabpanel' aria-labelledby='@Html.Raw("h_"+ Model.Tags[i])' aria-expanded='false'></div>
        </div>
    }
</div>
