﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Commissioning.LoopTestsViewModel

<div class="tab-pane active" id="commissioning-loop" role="tabpanel">
    <div class="row">
        <div class="col-md-16">
            <div class="card act_right" id="loop-actions">
                <div class="card-header card-header-loop">
                    <div class="row">
                        <div class="col-md-6" id="loop-by-system">
                            <span class="text-white page_title" id="loop-title">
                                @LocalResources.LoopTestsStatusBySystem&nbsp;
                                <span class="ti-angle-double-down" id="loop-arrow"></span>
                            </span>
                            <div class="form-group">
                                <select class="form-control" id="system-loop-check" name="system-loop-check">
                                    <option></option>
                                    @for (int i = 0; i < Model.Systems.Count; i++)
                                    {
                                        <option value='@Model.Systems.ElementAt(i).Code'>@Html.Raw(Model.Systems.ElementAt(i).Code + "-" + Model.Systems.ElementAt(i).Description)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-10 middle-col">

                        </div>
                    </div>
                </div>
                <div class="card-block" id="card-loop">
                    <div id="tree_loop">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    GLOBAL_DATA.TRANSLATIONS = {

        @Model.GetPropertyName(() => LocalResources.YouMustSelectASystemInOrderToContinue): @LocalResources.YouMustSelectASystemInOrderToContinue.ToHtmlJson()
    };

</script>
<script src="~/assets/js/pages/commissioning-loop-tests.js"></script>

