﻿
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Commissioning.LoopTagsTableViewModel

<table class='table-sm table-striped tags-table'>
    <thead>
        <tr class="tags-table-headers">
            <th>@LocalResources.InstrumentTag</th>
            <th>@LocalResources.Description</th>
            <th>@LocalResources.System</th>
            <th>@LocalResources.Type</th>
            <th>@LocalResources.Activity</th>
            <th>@LocalResources.Last @LocalResources.Step</th>
            <th>@LocalResources.Progress</th>
            <th>@LocalResources.Next @LocalResources.Step</th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < Model.TagsTableInfo.Count; i++)
        {
            var model = Model.TagsTableInfo;
            var dict = Model.TagsTableInfo.ElementAt(i);
            foreach (var it in dict.Value)
            {
                <tr>
                    <td style='padding:5px'>@Html.Raw(it.Comp)</td>
                    <td>@Html.Raw(it.Description)</td>
                    <td> @Html.Raw(it.System)</td>
                    <td> @Html.Raw(it.Type)</td>
                    <td> @Html.Raw(it.Act) </td>
                    <td> @Html.Raw(it.LastStep)</td>
                    <td class="progress-cell">@Html.Raw(it.Progress)</td>
                    <td>@Html.Raw(it.NextStep)</td>
                </tr>
            }
        }
    </tbody>
</table>