﻿
@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Commissioning.ProgressAndSystemsViewModel

<!-- Required for datatables -->
<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/libraries/chart.css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">

<div class="tab-content" id="status">
    <div class="tab-pane active" id="stat" role="tabpanel">
        <div class="row">
            <div class="col-md-16">
                <div class="card act_right">
                    <div class="card-block">
                        <div class="row" id="charts-area">
                            <div class="col-md-8" id="first-border">
                                <canvas id="chart-precom_overall"></canvas>
                            </div>
                            <div class="col-md-8" id="second-border">
                                <canvas id="chart-commissioning_overall"></canvas>
                            </div>
                        </div>
                        <div class="row row-style" id="tags-area">
                            @for (int i = 0; i < Model.DataTablesInfo.Count; i++)
                            {
                                <div class="col-md-3">
                                    <div class="activity-block progress-activity">
                                        <div class="media">
                                            <div class="media-body">
                                                <p class="page_subtitle progress-subtitle">@Model.DataTablesInfo.Values.ElementAt(i).Description</p><hr>
                                                <div class="row">
                                                    <div class="col text-right">@LocalResources.TagsAssigned</div>
                                                    <div class="col">
                                                        <button type="button" class="btn btn-sm btn-success tags-assigned">@String.Format("{0:N0}", Model.DataTablesInfo.Values.ElementAt(i).Count1)</button>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col text-right">@LocalResources.TagsNotAssigned.ToCamelCase(true, false)</div>
                                                    <div class="col">
                                                        <button type="button" class="btn btn-sm btn-danger tags-not-assigned" id=@Html.Raw("tbl"+i) data-table=@Html.Raw(Model.DataTablesInfo.Values.ElementAt(i).Datatable)>@String.Format("{0:N0}", Model.DataTablesInfo.Values.ElementAt(i).Count2)</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Datatable scrips -->
<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>
<script src="~/assets/js/helpers/data-table.js"></script>
<script src="~/assets/js/libraries/chart.js"></script>
<script>
    GLOBAL_DATA.TRANSLATIONS = {

        @Model.GetPropertyName(() => LocalResources.TagsNotAssigned): @LocalResources.TagsNotAssigned.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.TheTableCannotBeNull): @LocalResources.TheTableCannotBeNull.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.TheDatatableCannotBeNull): @LocalResources.TheDatatableCannotBeNull.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.PrecommissioningProgressStatus): @LocalResources.PrecommissioningProgressStatus.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.CommissioningProgressStatus): @LocalResources.CommissioningProgressStatus.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.Planned): @LocalResources.Planned.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.Physical): @LocalResources.Physical.ToHtmlJson()
    };

</script>
<script src="~/assets/js/pages/commissioning-progress-systems.js"></script>