﻿@using Promis.NET.MCV.ViewModels
@using Promis.NET.Utilities.Extensions
@using Promis.NET.Localization
@using Promis.NET.Roles
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Commissioning.SystemSubdivisionViewModel

@{
    var isAdmin = User.IsInRole(LocalRoles.ResponsabilityAdmin);
    var isWriter = isAdmin || User.IsInRole(LocalRoles.ModuleWritePrecommInspections);
}

<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">

<div class="tab-pane active">
    <form id="form_sys">
        <div class="row">
            <div class="col-md-16">
                <div class="card act-right">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-4" id="system-container">
                                <span class="text-white page-title-system">
                                    @LocalResources.AssignSystemToTags &nbsp;
                                    <span class="ti-angle-double-down .media-body span"></span>
                                </span>
                                <div class="form-group">
                                    <select class="form-control" id="sys" name="sys">
                                        <option value=""></option>
                                        @for (var i = 0; i < Model.Systems.Count; i++)
                                        {
                                            <option value="@Model.Systems[i].Code">@Model.Systems[i].Code - @Model.Systems[i].Description</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5 middle-container">
                                <div class="form-group row">
                                    <label for="db-sys" class="col-md-3 text-right">@LocalResources.Datatable</label>
                                    <div class="col-md-13">
                                        <select class="form-control" id="db-sys">
                                            <option value=""></option>
                                            @for (var i = 0; i < Model.Datatables.Count; i++)
                                            {
                                                <option value="@Model.Datatables[i].Datatable">@Model.Datatables[i].Description</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="type-sys" class="col-md-3 text-right">@LocalResources.Typecode</label>
                                    <div class="col-md-13">
                                        <select class="form-control" id="type-sys"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 button-container">
                                <label class="custom-control custom-radio">
                                    <input id="all-tags" name="view-tags" type="radio" value="all" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span>
                                        @LocalResources.ViewAllTags
                                    </span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input id="na-tags" name="view-tags" type="radio" value="na" class="custom-control-input" checked="checked">
                                    <span class="custom-control-indicator"></span>
                                    <span>
                                        @LocalResources.OnlyNotAssigned
                                    </span>
                                </label>
                                @*<%if instr(session("user_modules"),"$PR_W")>0 or session("user_resp")="A" then dis="" else dis="disabled"%>*@
                                <div style="width: 100%">
                                    <button type="button" id="select-all" class="pull-left btn btn-primary btn-xs btn_control system-main-button margin-left-0">@LocalResources.Select</button>
                                    <button type="button" id="deselect-all" class="pull-left btn btn-primary btn-xs btn_control system-main-button margin-left-5">@LocalResources.Deselect</button>
                                    @if (isWriter)
                                    {
                                        <button type="button" id="save-btn" class="pull-left btn btn-success btn-xs btn_control system-main-button margin-left-5 color-222"> @LocalResources.Save </button>
                                        <button type="button" id="delete-btn" class="pull-left btn btn-warning btn-xs btn_control system-main-button margin-left-5 color-222">  @LocalResources.Remove</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="progr" class="activity-block progr">
                                    <h6>
                                        <span class="pull-left pad-left-twenty" id="precom-tags"><small><b>@LocalResources.PrecomTags</b></small>&nbsp;&nbsp; @Model.Tottags.Replace(",", ".")</span>
                                        <span class="pull-right pad-left-twenty" id="assigned-to-system"><small><b>@LocalResources.AssignedToSystem</b></small>&nbsp;&nbsp; @Model.TotAss.Replace(",", ".")</span>
                                    </h6>
                                    <div class="progress ">
                                        <div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: @Model.PrPc.Replace(",", ".")%">
                                            <span class="trackerball"><br>@Model.PrPc.Replace(",", ".")%<br></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block" id="table-data-container"></div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>
<script src="~/assets/js/helpers/data-table.js"></script>
<script>
    GLOBAL_DATA.TRANSLATIONS = {

        @Model.GetPropertyName(() => LocalResources.TagsSystemAssignmentRemoved): @LocalResources.TagsSystemAssignmentRemoved.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ADatatableMustBeSelectedInOrderToContinue): @LocalResources.ADatatableMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ASystemMustBeSelectedInOrderToContinue): @LocalResources.ASystemMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.TagsSystemAssigned): @LocalResources.TagsSystemAssigned.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.PrecomTags): @LocalResources.PrecomTags.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.AssignedToSystem): @LocalResources.AssignedToSystem.ToHtmlJson()
    };

</script>
<script src="~/assets/js/pages/commissioning-system-subdivision.js"></script>
