﻿
@{
    ViewBag.Title = "Dashboard";
    ViewBag.PageVersion = "F002.V1.0.0.0";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
@using Promis.NET.Utilities.Extensions
@using Promis.NET.Localization
@model Promis.NET.MCV.ViewModels.Dashboard.DashboardDataViewModel

@section Styles{
    <!-- Charts -->
    <link rel="stylesheet" href="~/assets/css/libraries/chart.css">
    <!-- Dashboard css -->
    <link rel="stylesheet" href="~/assets/css/pages/dashboard.css" />
}

<div id="dashboard_container" class="container-fluid">
    <!-- Page title -->
    <div class="row align-items-center justify-content-between">
        <div class="col-15 col-sm-16">
            <p class="page_title">@LocalResources.ProjectStatus</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">

            <!-- Progress overall Chart -->
            <div id="progress-overall" class="card full-screen-container">
                <div class="card-header">
                    <h5 class="card-title pull-left">
                        @LocalResources.ProgressOverall<small>(@LocalResources.Cumulated)</small>&nbsp;
                        <span class="ti-angle-double-down"></span>
                    </h5>
                </div>
                <div class="card-block">
                    <canvas id="pr-overall" height="397"></canvas>
                </div>
            </div>

            <!-- Progress montlhy Chart -->
            <div id="progress-monthly" class="card">
                <div class="card-header">
                    <h5 class="card-title pull-left">
                        @LocalResources.ProgressOverall <small>( @LocalResources.Monthly)</small>&nbsp;
                        <span class="ti-angle-double-down"></span>
                    </h5>
                </div>
                <div class="card-block">
                    <canvas id="pr-monthly" height="185"></canvas>
                </div>
            </div>

            <!-- Main activities Chart + Table -->
            <div id="main-activities-overall" class="card">
                <div class="card-header">
                    <h5 class="card-title pull-left">
                        @LocalResources.MainActivitiesStatus <small>( @LocalResources.Overall)</small>&nbsp;
                        <span class="ti-angle-double-down"></span>
                    </h5>
                </div>
                <div class="card-block row">
                    <!-- Main Activities Chart -->
                    <div class="col-sm-10">
                        <canvas id="main-activ-chart" height="205"></canvas>
                    </div>

                    <div id="main-activities-overall-table" class="col-sm-6"></div>
                </div>
            </div>
        </div>

        <!-- Container for progress trends -->
        <div class="col-md-6">
            <div class="card" id="kpis-card">
                <div class="card-header">
                    <h5 class="card-title pull-left">
                        @LocalResources.ProgressTrends <small>( @LocalResources.Percentage)</small>&nbsp;
                        <span class="ti-angle-double-down"></span>
                    </h5>
                </div>

                <div id="kpis-container-outer">
                    <!-- KPIs Planned -->
                    <div id="kpis-container-planned" class="row card-block kpis-container"></div>

                    <!-- KPIs Actual -->
                    <div id="kpis-container-actual" class="row card-block kpis-container"></div>

                    <!-- KPIs Certified-->
                    <div id="kpis-container-certified" class="row card-block no-margin"></div>
                </div>
            </div>

            <!-- OUTSTANDING ACTIONS-->
            <div id="outstanding-container" class="card">
                <div class="card-header">
                    <h5 class="card-title pull-left">
                        @LocalResources.OutstandingActions&nbsp;
                        <span class="ti-angle-double-down"></span>
                    </h5>
                </div>
                <div class="row card-block">
                    <!-- Outstandings chart -->
                    <div class="col">
                        <h6 class="center-align"><small>@LocalResources.Categories</small></h6>
                        <canvas id="outstandings-chart" height="170"></canvas>
                    </div>

                    <!-- Outstandings counts -->
                    <div id="outstandings-counts" class="progressprofile col"></div>

                </div>

                <!-- Outstanding Info -->
                <div class="row card-block">
                    <div id="outstanding-info" class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- Charts -->
    <script src="~/assets/js/libraries/chart.js"></script>
    <script src="~/assets/js/libraries/circle-progress.min.js"></script>
    <script>
        GLOBAL_DATA.TRANSLATIONS = {

            @Model.GetPropertyName(() => LocalResources.Planned): @LocalResources.Planned.ToHtmlJson(),
            @Model.GetPropertyName(() => LocalResources.Physical): @LocalResources.Physical.ToHtmlJson(),
            @Model.GetPropertyName(() => LocalResources.Certified): @LocalResources.Certified.ToHtmlJson(),

            @Model.GetPropertyName(() => LocalResources.Delay): @LocalResources.Delay.ToHtmlJson(),
            @Model.GetPropertyName(() => LocalResources.Today): @LocalResources.Today.ToHtmlJson(),
            @Model.GetPropertyName(() => LocalResources.LastWeek): @LocalResources.LastWeek.ToHtmlJson(),

            @Model.GetPropertyName(() => LocalResources.LastMonth): @LocalResources.LastMonth.ToHtmlJson(),
            @Model.GetPropertyName(() => LocalResources.Outs): @LocalResources.Outs.ToHtmlJson(),
            @Model.GetPropertyName(() => LocalResources.Done): @LocalResources.Done.ToHtmlJson(),
            @Model.GetPropertyName(() => LocalResources.Clearancebrpercentage): @LocalResources.Clearancebrpercentage.ToHtmlJson()


        };

    </script>
    <script src="~/assets/js/pages/dashboard.js"></script>
} 
