﻿
@using Promis.NET.MCV.ViewModels
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Progress.FollowUpTableViewModel

<div class="row card-block no-margin" id="promisdt-followup-inner" data-tablename="@Model.ProgressTableName" data-finalindex="@Model.FinalIndex">
    <table class="table-sm full-width">
        <tr>
            <td class="hitd" colspan="8">&nbsp;@Model.InspectionArray[5]</td>
            <td class="right" colspan="8">&nbsp;@Model.InspectionArray[6]</td>
        </tr>
        <tr>
            <td colspan="7">&nbsp;@Model.InspectionArray[4]</td>
            <td class="hitd">&nbsp;</td>
            <td>&nbsp;</td>
            <td class="hitd right" colspan="7">&nbsp;@Model.InspectionArray[7]</td>
        </tr>
        <tr>
            <td class="hitd" colspan="6">&nbsp;@Model.InspectionArray[3]</td>
            <td>&nbsp;</td>
            <td class="hitd">&nbsp;</td>
            <td>&nbsp;</td>
            <td class="hitd">&nbsp;</td>
            <td class="right" colspan="6">&nbsp;@Model.InspectionArray[8]</td>
        </tr>
        <tr>
            <td colspan="5">&nbsp;@Model.InspectionArray[2]</td>
            <td class="hitd">&nbsp;</td>
            <td>&nbsp;</td>
            <td class="hitd">&nbsp;</td>
            <td>&nbsp;</td>
            <td class="hitd">&nbsp;</td>
            <td>&nbsp;</td>
            <td class="hitd right" colspan="5">&nbsp;@Model.InspectionArray[9]</td>
        </tr>
        <tr>
            <td colspan="4" class="hitd">&nbsp;@Model.InspectionArray[1]</td>
            <td>&nbsp;</td>
            <td class="hitd">&nbsp;</td>
            <td>&nbsp;</td>
            <td class="hitd">&nbsp;</td>
            <td>&nbsp;</td>
            <td class="hitd">&nbsp;</td>
            <td>&nbsp;</td>
            <td class="hitd">&nbsp;</td>
            <td class="right" colspan="4">&nbsp;@Model.InspectionArray[10]</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;@Model.InspectionArray[0]</td>
            <td class="hitd">&nbsp;</td>
            <td>&nbsp;</td>
            <td class="hitd">&nbsp;</td>
            <td>&nbsp;</td>
            <td class="hitd">&nbsp;</td>
            <td>&nbsp;</td>
            <td class="hitd">&nbsp;</td>
            <td>&nbsp;</td>
            <td class="hitd">&nbsp;</td>
            <td>&nbsp;</td>
            <td class="hitd right" colspan="3">&nbsp;@Model.InspectionArray[11]</td>
        </tr>
        <tr class="center-align">
            <td colspan="2"></td>
            <td>@Html.Raw(Model.AnglesArray[0])</td>
            <td class="hitd">@Html.Raw(Model.AnglesArray[1])</td>
            <td>@Html.Raw(Model.AnglesArray[2])</td>
            <td class="hitd">@Html.Raw(Model.AnglesArray[3])</td>
            <td>@Html.Raw(Model.AnglesArray[4])</td>
            <td class="hitd">@Html.Raw(Model.AnglesArray[5])</td>
            <td>@Html.Raw(Model.AnglesArray[6])</td>
            <td class="hitd">@Html.Raw(Model.AnglesArray[7])</td>
            <td>@Html.Raw(Model.AnglesArray[8])</td>
            <td class="hitd">@Html.Raw(Model.AnglesArray[9])</td>
            <td>@Html.Raw(Model.AnglesArray[10])</td>
            <td class="hitd">@Html.Raw(Model.AnglesArray[11])</td>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr class="header-row">
            <td class="cell cell-large">TAG</td>
            <td class="cell cell-medium">QTY</td>
            @for (var i = 0; i < 12; i++)
            {
                <td class="cell cell-small header-cell-@i" style="@Html.Raw(Model.BackgroundsArray[i])">&nbsp;@Model.ProgressArray[i]</td>
            }
            <td class="cell cell-medium-small">PR%</td>
            <td class="center-align">&nbsp;</td>
        </tr>
    </table>
    <div id="followup-table-rows-container">
        <table class="table-sm table-striped">
            <!-- Template -->
            <tbody id="followup-table-rows">
                @for (int i = 0; i < 20; i++)
                {
                    <tr><td>&nbsp;</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="card-footer">
    <div class="row">
        <div class="col-md-5">
            <input id="searchfield" type="text" class="form-control" placeholder="Search...">
        </div>
        <div class="col-md-6">
            <a id="previous-page" href="#">
                <span class="ti-arrow-circle-left page-changer-span"></span>
            </a>
            <label id="page-text">&nbsp;</label>
            <a id="next-page" href="#">
                <span class="ti-arrow-circle-right page-changer-span"></span>
            </a>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
