﻿
@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@using Promis.NET.Roles
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Progress.FollowUpViewModel

@{
    var isAdmin = User.IsInRole(LocalRoles.ResponsabilityAdmin);
    var isWriter = isAdmin || User.IsInRole(LocalRoles.ModuleWritePlanningProgress);
}

<div class="tab-pane active" id="followup" role="tabpanel">
    <div class="row">
        <div class="col-md-5 bordered-column-right-3 followup-left">
            <div class="row margin-top-10">
                <div class="col-md-10">
                    <label for="main-activities">@LocalResources.MainActivity.ToUpper()</label>
                    <select class="form-control height-auto" id="main-activities" data-next="#related-activities" data-path="related">
                        <option value="">&nbsp;</option>
                        @for (var i = 0; i < Model.MainActivities.Count; i++)
                        {
                            <option value="@Model.MainActivities[i].Code">@Model.MainActivities[i].Description</option>
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="areas">@LocalResources.Wbs</label>
                    <select class="form-control height-auto" id="areas">
                        <option value="">&nbsp;</option>
                        @for (var i = 0; i < Model.Areas.Count; i++)
                        {
                            <option value="@Model.Areas[i].Code">@Model.Areas[i].Description</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-16">
                    <label for="related-activities">@LocalResources.Activity</label>
                    <select class="form-control height-auto" id="related-activities" data-next="#sub-activities" data-path="sub"></select>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-14">
                    <label for="sub-activities">@LocalResources.SubActivity.ToUpper()</label>
                    <select class="form-control height-auto" id="sub-activities"></select>
                </div>
                <div class="col-md-2 margin-left-0">
                    <label>@LocalResources.Um</label> <br />
                    <label id="umid"></label>
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="card-header">
                    <div class="card-title pull-left">
                        @LocalResources.ActivityTrends
                    </div>
                    <div class="card-title pull-right ">
                        <span class="badge bg-success">&nbsp;&nbsp;</span>&nbsp;
                        <span class="small">@LocalResources.Progress.ToUpper()</span>&nbsp;&nbsp;
                    </div>
                </div>
                <div class="row card-block bordered-column-bottom no-margin">
                    <div class="progressprofile col center-align" id="chart-activity-day">
                        <div class="progress_profile center-align" data-value="0" data-size="100" data-thickness="6" data-animation-start-value="0" data-reverse="false"></div>
                        <div class="chart-titles">
                            <h6 class="no-margin"><small>@LocalResources.Today</small></h6>
                            <h5>0</h5>
                        </div>
                    </div>
                    <div class="progressprofile col center-align" id="chart-activity-week">
                        <div class="progress_profile center-align" data-value="0" data-size="100" data-thickness="6" data-animation-start-value="0" data-reverse="false"></div>
                        <div class="chart-titles">
                            <h6 class="no-margin"><small>@LocalResources.LastWeek</small></h6>
                            <h5>0</h5>
                        </div>
                    </div>
                    <div class="progressprofile col center-align" id="chart-activity-month">
                        <div class="progress_profile center-align" data-value="0" data-size="100" data-thickness="6" data-animation-start-value="0" data-reverse="false"></div>
                        <div class="chart-titles">
                            <h6 class="no-margin"><small>@LocalResources.LastMonth</small></h6>
                            <h5>0</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="card-title pull-left">
                        @LocalResources.SubactivityTrends
                    </div>
                    <div class="card-title pull-right ">
                        <span class="badge bg-success">&nbsp;&nbsp;</span>&nbsp;
                        <span class="small">@LocalResources.Progress.ToUpper()</span>&nbsp;&nbsp;
                    </div>
                </div>
                <div class="row card-block no-margin">
                    <div class="progressprofile col center-align" id="chart-subactivity-day">
                        <div class="progress_profile center-align" data-value="0" data-size="100" data-thickness="6" data-animation-start-value="0" data-reverse="false"></div>
                        <div class="chart-titles">
                            <h6 class="no-margin"><small>@LocalResources.Today</small></h6>
                            <h5>0</h5>
                        </div>
                    </div>
                    <div class="progressprofile col center-align" id="chart-subactivity-week">
                        <div class="progress_profile center-align" data-value="0" data-size="100" data-thickness="6" data-animation-start-value="0" data-reverse="false"></div>
                        <div class="chart-titles">
                            <h6 class="no-margin"><small>@LocalResources.LastWeek</small></h6>
                            <h5>0</h5>
                        </div>
                    </div>
                    <div class="progressprofile col center-align" id="chart-subactivity-month">
                        <div class="progress_profile center-align" data-value="0" data-size="100" data-thickness="6" data-animation-start-value="0" data-reverse="false"></div>
                        <div class="chart-titles">
                            <h6 class="no-margin"><small>@LocalResources.LastMonth</small></h6>
                            <h5>0</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right panel -->
        <div class="col-md-11">
            <div class="card" id="followup-container-card" data-progresstable="@Model.ProgressTableName">
                <div class="card-header">
                    <h5 class="card-title pull-left">
                        @LocalResources.ProgressFollowup&nbsp;&nbsp;
                        <span class="ti-angle-double-down"></span>
                    </h5>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-info dropdown-toggle" style="font-size: 10px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@LocalResources.Actions </button>
                        <div class="dropdown-menu">
                            <a id="button-export-excel" class="dropdown-item">
                                @LocalResources.ExportDataToExcel
                            </a>
                            <a id="button-export-pdf" class="dropdown-item">
                                @LocalResources.ExportDataToPdf
                            </a>
                        </div>
                    </div>
                </div>
                <div id="promisdt-followup"></div>
            </div>
        </div>
    </div>
</div>

<!-- Page Script -->
<script>
     GLOBAL_DATA.TRANSLATIONS = {
        @Model.GetPropertyName(() => LocalResources.AnSubactivityMustBeSelectedInOrderToLoadTheTableForIt): @LocalResources.AnSubactivityMustBeSelectedInOrderToLoadTheTableForIt.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.AMainActivityMustBeSelectedInOrderToContinue): @LocalResources.AMainActivityMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.FunctionalityNotAvailable): @LocalResources.FunctionalityNotAvailable.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.AnActivityMustBeSelectedInOrderToContinue): @LocalResources.AnActivityMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ThereIsNoDataForThatSelection): @LocalResources.ThereIsNoDataForThatSelection.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.WillUpdateFor): @LocalResources.WillUpdateFor.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.InvalidValueInsertedMustBeValidPercent): @LocalResources.InvalidValueInsertedMustBeValidPercent.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.IClickedSomethingEditable): @LocalResources.IClickedSomethingEditable.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.UpdatedWithSuccess): @LocalResources.UpdatedWithSuccess.ToHtmlJson()
    };
    var isWriter = @isWriter.ToHtmlJson();
</script>
<script src="~/assets/js/libraries/circle-progress.min.js"></script>
<script src="~/assets/js/helpers/import-export.js"></script>
<script src="~/assets/js/pages/progress-followup.js"></script>
