﻿@using System.Globalization;
@using  Promis.NET.MCV.Extensions
@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Progress.ProgressStatusViewModel

<!-- Charts -->
<link rel="stylesheet" href="~/assets/css/libraries/chart.css">

<div class="tab-pane active" id="home" role="tabpanel">
    <div class="row">
        <div class="col-md-16">
            <div class="card padded-all-5">
                <div class="card-header padded-all-5">
                    <div class="row">
                        <div class="col-md-3 bordered-column-right">
                            <div class="row">
                                <div class="col-md-8">
                                    <span class="text-white title-case updated-at">
                                        @LocalResources.UpdatedAt
                                        <span class="ti-angle-double-right"></span>
                                    </span>
                                </div>
                                <div class="col-md-8 current-datetime">
                                    <span class="pull-left">

                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- activities -->
                        <div class="col-md-5 activities-container">
                            <div class="form-group row">
                                <label for="main-activities" class="col-md-4 text-right">@LocalResources.MainActivity</label>
                                <div class="col-md-10">
                                    <select id="main-activities" class="form-control">
                                        <option value="">&nbsp;</option>
                                        @for (var i = 0; i < Model.MainActivities.Count; i++)
                                        {
                                            <option value="@Model.MainActivities[i].Code">@Model.MainActivities[i].Description</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">&nbsp;</div>
                    </div>
                </div>
                <div id="overall-data-container" class="card-block">
                    <!-- charts -->
                    <div class="row">
                        <div class="col-md-8 bordered-column-bottom bordered-column-right padded-bottom-20">
                            <canvas id="chart-progress-all"></canvas>
                        </div>
                        <div class="col-md-8 bordered-column-bottom padded-bottom-20">
                            <canvas id="chart-progress-month"></canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div id="progress-table-container" class="col-md-16">
                            <table class="table-bordered table-sm">
                                <tr id="table-progress-firstrow">
                                    @{ var lastIndex = -1; }
                                    <td id="table-header-hidden"></td>
                                    @for (int i = 0; i < Model.MonthsCount; i++)
                                    {
                                        var currentMonth = Model.StartMonth - 1 + i;//-1 is to have 0-based index
                                        var realMonthValue = (currentMonth % 12) + 1;
                                        var realYearValue = Model.StartYear + (currentMonth / 12);
                                        if (realMonthValue == DateTime.Now.Month && realYearValue == DateTime.Now.Year)
                                        {
                                            lastIndex = i;
                                        }
                                        <td class="table-progress-cell" @Html.Raw(lastIndex != i ? "" : "id='table-reference-index'") data-index="@i" data-month="@realMonthValue" data-year="@realYearValue">@Model.MonthsName[currentMonth % 12]<br>@realYearValue</td>
                                    }
                                </tr>
                                <tr class="table-progress-row">
                                    <td>@LocalResources.Planned.ToUpper()</td>
                                    @for (int i = 0; i < Model.MonthsCount; i++)
                                    {
                                        var currentMonth = Model.StartMonth - 1 + i;//-1 is to have 0-based index
                                        var realMonthValue = (currentMonth % 12) + 1;
                                        var realYearValue = Model.StartYear + (currentMonth / 12);
                                        <td class="planned-cell table-progress-cell" data-month="@realMonthValue" data-year="@realYearValue"></td>
                                    }
                                </tr>
                                <tr class="table-progress-row">
                                    <td>@LocalResources.Physical.ToUpper()</td>
                                    @for (int i = 0; i < Model.MonthsCount; i++)
                                    {
                                        var currentMonth = Model.StartMonth - 1 + i;//-1 is to have 0-based index
                                        var realMonthValue = (currentMonth % 12) + 1;
                                        var realYearValue = Model.StartYear + (currentMonth / 12);
                                        <td class="physical-cell table-progress-cell" data-month="@realMonthValue" data-year="@realYearValue"></td>
                                    }
                                </tr>
                                <tr id="table-progress-lastrow">
                                    <td colspan="1">&nbsp;</td>
                                    <td class="progress-info progress-delayed" id="table-progress-hand"><span class='ti-hand-point-right'></span></td>
                                    <td class="progress-info progress-delayed" id="table-progress-delayfull" colspan="3"></td>

                                    <td class="progress-info progress-completed" id="table-progress-hand"><span class='ti-flag-alt'></span></td>
                                    <td class="progress-info progress-completed" id="table-progress-completed" colspan="3">@LocalResources.Completed</td>

                                    <td class="progress-info progress-other" id="table-progress-hand"><span class='ti-thumb-up'></span></td>
                                    <td class="progress-info progress-other" id="table-progress-delaysmall" colspan="3">@LocalResources.NoSignificant<br>@LocalResources.Delay</td>

                                    <td class="progress-info progress-otherx" id="table-progress-hand"><span class='ti-flag-alt'></span></td>
                                    <td class="progress-info progress-otherx" id="table-progress-otherx" colspan="3">@LocalResources.InParameters</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Charts -->
<script src="~/assets/js/libraries/chart.js"></script>
<!-- Page Script -->
<script>
     GLOBAL_DATA.USER_LANGUAGE = @Request.GetOwinContext().Request.User.Identity.GetUserLanguage().ToHtmlJson();
     GLOBAL_DATA.TRANSLATIONS = {
        @Model.GetPropertyName(() => LocalResources.Planned): @LocalResources.Planned.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.Physical): @LocalResources.Physical.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.OverallProjectProgressStatus): @LocalResources.OverallProjectProgressStatus.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.MonthlyProgressStatus): @LocalResources.MonthlyProgressStatus.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.Delay): @LocalResources.Delay.ToHtmlJson()
     };
</script>
<script src="~/assets/js/pages/progress-home.js"></script>