﻿
@using Promis.NET.Utilities.Models
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Progress.ProgressOverviewViewModel

@if (Model.Activities.Count >= 1)
{
    <table class="table-sm table-bordered overview-table">
        <thead>
            <tr>
                <th>@LocalResources.Subact</th>
                <th>&nbsp;@LocalResources.Description</th>
                @{ var lastIndex = -1; }
                @for (int i = 0; i < Model.MonthsCount; i++)
                {
                    var currentMonth = Model.StartMonth - 1 + i;//-1 is to have 0-based index
                    var realMonthValue = (currentMonth % 12) + 1;
                    var realYearValue = Model.StartYear + (currentMonth / 12);
                    if (realMonthValue == DateTime.Now.Month && realYearValue == DateTime.Now.Year)
                    {
                        lastIndex = i;
                    }
                    <td class="mhrs-header upper-header" @Html.Raw(lastIndex != i ? "" : "id='table-reference-index'") data-index="@i" data-month="@realMonthValue" data-year="@realYearValue">@Model.MonthsName[currentMonth % 12]<br>@realYearValue</td>
                }
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Activities.Count; i++)
            {
                var activity = Model.Activities[i];
                var diffFromProjectStartPlanned = activity.MonthsCountPlanned <= 0 ? 0 : Promis.NET.Utilities.Models.Global.DifferenceInMonths(activity.Project.StartMonth, activity.Project.StartYear, activity.StartMonthPlanned, activity.StartYearPlanned) - 1;
                diffFromProjectStartPlanned = diffFromProjectStartPlanned > 0 ? diffFromProjectStartPlanned : 0;
                var found = false;

                <tr>
                    <td class="fixed-dimensions-cell">@activity.Code</td>
                    <td class="fixed-dimensions-cell padded">@activity.Description</td>
                    @for (var j = 0; j < activity.Project.MonthsCount; j++)
                    {
                        var currentMonth = activity.Project.StartMonth + j - 1;
                        var realMonthValue = (currentMonth % 12) + 1;
                        var currentYear = activity.Project.StartYear + (currentMonth / 12);
                        currentMonth = currentMonth % 12;
                        var dateCurrent = new DateTime(currentYear, currentMonth + 1, 1);
                        var dateStartActivity = new DateTime(activity.StartYearBaseline, activity.StartMonthBaseline, 1);
                        var dateEndActivity = new DateTime(activity.EndYearBaseline, activity.EndMonthBaseline, 1);
                        if (!found && dateCurrent >= dateStartActivity && dateCurrent <= dateEndActivity)
                        {
                            found = true;
                            var widthString = (activity.MonthsCountBaseline * 40).ToString() + "px";
                            <td class="fixed-dimensions-cell" colspan="@activity.MonthsCountBaseline.ToString()" data-month='@realMonthValue' data-year='@currentYear' class='mhrs-header lower-header base-column'>
                                <div class="progress" style="margin-left: @Html.Raw(diffFromProjectStartPlanned*40)" data-toggle="tooltip" title="Budget MHRS: @activity.Budget">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width:0px; background-color: #15d4be !important;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                        }
                        else if (!found || dateCurrent > dateEndActivity)
                        {
                            <td class="fixed-dimensions-cell" data-month='@realMonthValue' data-year='@currentYear' class='mhrs-header lower-header base-column'>&nbsp;</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="margin-auto">@LocalResources.NoData</p>
}

<script>
    $('[data-toggle="tooltip"]').tooltip();
    makeCurrentMonthYellow();
</script>
