﻿@using Promis.NET.MCV.Extensions
@using Promis.NET.MCV.ViewModels
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

<div class="tab-pane active" id="planning" role="tabpanel">
    <div class="row overview-row">
        @{ Html.RenderAction("GetOverviewAccordion", new { projectId = User.Identity.GetProjectId() }); }
    </div>
</div>