﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@using Promis.NET.Roles
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Progress.ProgressPlanningViewModel

@{
    var isAdmin = User.IsInRole(LocalRoles.ResponsabilityAdmin);
    var isWriter = isAdmin || User.IsInRole(LocalRoles.ModuleWritePlanningProgress);
}

<link rel="stylesheet" href="~/assets/css/pages/project.css">

<div class="tab-pane active" id="planning" role="tabpanel">
    <div class="row">
        <div class="col" id="left-outmost-container">
            <div class="card">
                <div id="planning-header" class="card-header no-big-margins">
                    <table>
                        <tr>
                            <td id="main-activities-menucell">
                                <select id="main-activities" class="form-control">
                                    <option value="">&nbsp;</option>
                                    @for (var i = 0; i < Model.MainActivities.Count; i++)
                                    {
                                        <option value="@Model.MainActivities[i].Code">@Model.MainActivities[i].Description</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <div class="btn-group pull-right">
                                    <button id="actions-button" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@LocalResources.Action </button>
                                    <div class="dropdown-menu">
                                        @if (Model.IsReschedule)
                                        {
                                            if (isWriter)
                                            {
                                                <a id="button-save" class="dropdown-item" href="#">@LocalResources.SaveRescheduledCurves</a>
                                                <div class="dropdown-divider"></div>
                                            }
                                        }
                                        else
                                        {
                                            <a id="button-progress-overall" class="dropdown-item" href="#">@LocalResources.OverallProgress</a>
                                            <a id="button-progress-subcontractor" class="dropdown-item" href="#">@LocalResources.ProgressBySubcontractor</a>
                                            <div class="dropdown-divider"></div>
                                        }
                                        <a id="button-export-excel" class="dropdown-item" data-table="planning" href="#">@LocalResources.ExportDataToExcel</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="left-dynamic-menu" class="card-block linked-scrollbar" data-scrolling="false"></div>
            </div>
        </div>

        <div class="col" id="right-outmost-container">
            <div id="planning-table-container" class="card mycard">
                <div class="card-header linked-horizontal-scrollbar no-big-cardheader" data-horizontal-scrolling="false">
                    <table id="mhrs-header" class="table-bordered table-sm margin-left-10 no-big-margins">
                        @{ var lastIndex = -1; }
                        <tr>
                            @for (int i = 0; i < Model.MonthsCount; i++)
                            {
                                var currentMonth = Model.StartMonth - 1 + i;//-1 is to have 0-based index
                                var realMonthValue = (currentMonth % 12) + 1;
                                var realYearValue = Model.StartYear + (currentMonth / 12);
                                if (realMonthValue == DateTime.Now.Month && realYearValue == DateTime.Now.Year)
                                {
                                    lastIndex = i;
                                }
                                <td class="mhrs-header upper-header" @Html.Raw(lastIndex != i ? "" : "id='table-reference-index'") data-index="@i" data-month="@realMonthValue" data-year="@realYearValue">@Model.MonthsName[currentMonth % 12]<br>@realYearValue</td>
                            }
                        </tr>
                    </table>
                </div>
                <div id="right-display" class="card-block linked-scrollbar linked-horizontal-scrollbar" data-scrolling="false" data-horizontal-scrolling="false"></div>
            </div>
        </div>
    </div>
</div>

<script>
    GLOBAL_DATA.setup = {
        planning: {
            isReschedule: @Model.IsReschedule.ToHtmlJson(),
            isBaselineVisible: @Model.IsBaselineVisible.ToHtmlJson()
        }
    };
    GLOBAL_DATA.TRANSLATIONS = {
        @Model.GetPropertyName(() => LocalResources.FunctionalityNotAvailable): @LocalResources.FunctionalityNotAvailable.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.AMainActivityMustBeSelectedInOrderToContinue): @LocalResources.AMainActivityMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.EncounteredInvalidValuesForProgressDistributionMakeSureTheyAreValidPercentAndInLinearProgress): @LocalResources.EncounteredInvalidValuesForProgressDistributionMakeSureTheyAreValidPercentAndInLinearProgress.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.NoDataToSave): @LocalResources.NoDataToSave.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.SuccessfullySaved): @LocalResources.SuccessfullySaved.ToHtmlJson()
    };
    var isWriter = @isWriter.ToHtmlJson();
</script>
<script src="~/assets/js/helpers/import-export.js"></script>
<script src="~/assets/js/pages/progress-progress.js"></script>