﻿
@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@using Promis.NET.Roles
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Progress.QuantitiesViewModel

@{
    var isAdmin = User.IsInRole(LocalRoles.ResponsabilityAdmin);
    var isWriter = isAdmin || User.IsInRole(LocalRoles.ModuleWritePlanningProgress);
}

<div class="tab-pane active" id="quantities" role="tabpanel">
    <form id="form0">
        <div id="card-quantities-container" class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4 bordered-column-right">
                        <span class="text-white title-case no-padding title-case-sm">@LocalResources.ReferenceQuantitiesBySubactivity</span>
                    </div>
                    <div class="col-md-5 bordered-column-right margin-left-0">
                        <div class="form-group row">
                            <label for="main-activities" class="col-md-4 text-right">@LocalResources.MainActivity</label>
                            <div class="col-md-12">
                                <select class="form-control" id="main-activities">
                                    <option value=""></option>
                                    @foreach (var item in Model.MainActivities)
                                    {
                                        <option value="@item.Code">@item.Description</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 margin-top-2">
                        @LocalResources.Balance
                        <span class="ti-angle-double-right"></span>
                        &nbsp;&nbsp;
                        <span class="badge badge-warning discrepancy-low-color discrepancy-bordered">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        &nbsp; @LocalResources.Discrepancy -10% &nbsp;&nbsp;&nbsp;
                        <span class="badge badge-danger discrepancy-high-color discrepancy-bordered">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        &nbsp; @LocalResources.Discrepancy +10%
                    </div>
                    <div class="col-md-3 bordered-column-left margin-top-2">
                        <div class="btn-group pull-left">
                            <button id="q-dropdown-button" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@LocalResources.Actions </button>
                            <div class="dropdown-menu">
                                @if (isWriter)
                                {
                                    <a id="button-save" class="dropdown-item" href="#">@LocalResources.SaveReferenceQuantities</a>
                                    <div class="dropdown-divider"></div>
                                    <a id="button-import" class="dropdown-item" href="#"> @LocalResources.ImportDataFromExcel </a>
                                    <div class="dropdown-divider"></div>
                                }
                                <a id="button-export-template" class="dropdown-item" href="#"> @LocalResources.ExportTemplateToExcel </a>
                                <a id="button-export" class="dropdown-item" href="#"> @LocalResources.ExportDataToExcel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block" id="quantities-container"></div>
        </div>
    </form>
</div>
<script>
     GLOBAL_DATA.TRANSLATIONS = {
        @Model.GetPropertyName(() => LocalResources.AnActivityMustBeSelectedInOrderToContinue): @LocalResources.AnActivityMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.InvalidQuantityInsertedTheValueHasBeenRevertedToTheOldValueAndWillBeIgnoredUponSaveIfNotCompletedCorrectly): @LocalResources.InvalidQuantityInsertedTheValueHasBeenRevertedToTheOldValueAndWillBeIgnoredUponSaveIfNotCompletedCorrectly.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.InvalidMenHoursInsertedTheValueHasBeenRevertedToTheOldValueAndWillBeIgnoredUponSaveIfNotCompletedCorrectly): @LocalResources.InvalidMenHoursInsertedTheValueHasBeenRevertedToTheOldValueAndWillBeIgnoredUponSaveIfNotCompletedCorrectly.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.YouHaveDoneNoChanges): @LocalResources.YouHaveDoneNoChanges.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.SuccessfullySaved): @LocalResources.SuccessfullySaved.ToHtmlJson()
     };
</script>
<script src="~/assets/js/helpers/import-export.js"></script>
<script src="~/assets/js/pages/progress-quantities.js"></script>