﻿
@using Promis.NET.Localization
@model Promis.NET.MCV.ViewModels.Progress.QuantitiesTableViewModel


<!-- Required for datatables -->
<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/libraries/dropdown.css" type="text/css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">


<div class="table-container" id="promisdt-quantities-container">
    <table id="promisdt-quantities" class="table table-hover table-bordered display nowrap dataTable no-footer promisdt" cellspacing=0>
        <thead id="promisdt-quantities-header">
            <tr>
                <th>@LocalResources.Activity</th>
                <th>@LocalResources.Description</th>
                <th>@LocalResources.Um</th>
                <th>@LocalResources.Reference<br>@LocalResources.Quantity</th>
                <th>@LocalResources.ActualIfc<br>@LocalResources.Quantity</th>
                <th width="90">@LocalResources.Balance<br>@LocalResources.Quantity</th>
                <th width="90">@LocalResources.Budget<br>@LocalResources.Mhrs</th>
            </tr>
        </thead>
        <tbody id="promisdt-quantities-body">
            @foreach (var activity in Model.Activities)
            {
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                var totalMenHours = 0;
                <!-- Activity Row -->
                <tr class='bg-primary activity-row'>
                    <td>@activity.Key.Code</td>
                    <td>@activity.Key.Description</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>@String.Format("{0:n0}", activity.Key.Budget)</td>
                </tr>

                foreach (var subActivity in activity.Value)
                {
                    var balance = subActivity.Quantity - subActivity.QuantityActual;
                    var difference = 0.5 * subActivity.Quantity;
                    var styleToAdd = Math.Abs(balance) >= difference ? "style='background-color:rgba(55,1,2,1.00);'" : (Math.Abs(balance) > 0 ? "style='color: #ffcc00;'" : "");
                    totalMenHours += subActivity.Budget;

                    <tr class="subactivity-row" data-subactivity="@subActivity.Code" data-activity="@activity.Key.Code">
                        <td>
                            <span class='ti-shift-right-alt'></span>
                            &nbsp;@subActivity.Code
                        </td>
                        <td>@subActivity.Description</td>
                        <td>@subActivity.Um</td>
                        <td>
                            <input class='form-control budget-input budget-quantity' type='text' value='@Math.Round(subActivity.Quantity, 2)' data-old="@Math.Round(subActivity.Quantity, 2)" maxlength='10'>
                        </td>
                        <td class="budget-actual" data-value="@subActivity.QuantityActual">@String.Format("{0:n}", subActivity.QuantityActual)</td>
                        <td class="budget-balance" @Html.Raw(styleToAdd)>@String.Format("{0:n}", balance)</td>
                        <td>
                            <input class='form-control budget-input budget-mhrs' type='text' value='@subActivity.Budget' data-old="@subActivity.Budget" maxlength='10'>
                        </td>
                    </tr>
                }

                <!-- Ending Rows -->
                <tr class="dashed-row">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class='bg-primary total-mhrs-@activity.Key.Code' data-initialvalue="@totalMenHours">@String.Format("{0:n0}", totalMenHours)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Required for datatables -->
<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>
<script src="~/assets/js/helpers/data-table.js"></script>
