﻿@using Promis.NET.Utilities.Extensions
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Localization
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Activities.HomeViewModel

<div class="tab-pane active" id="home" role="tabpanel">
    <div class="row">
        <div class="col-md-9">
            <div class="card left-card">
                <div class="card-header">
                    <span class="text-white page-title">
                        @LocalResources.HydrotestPackagesStatus&nbsp;
                        <span class="ti-angle-double-down"></span>
                    </span>
                </div>
                <div class="card-block">
                    <table class="table table-sm table-striped hydro-table">
                        <tr>
                            <td>@LocalResources.Step</td>
                            <td>@LocalResources.Inspection</td>
                            <td>@LocalResources.Accepted</td>
                            <td>@LocalResources.Acceptance %</td>
                            <td>@LocalResources.Progress %</td>
                        </tr>
                        @foreach (var testPack in Model.Inspections)
                        {
                            var isFinal = testPack.Title.ToLower().Contains("final check");
                            var displayedText = isFinal ? "Hydrotest Pack Uploaded" : testPack.Title;
                            var customStyle = isFinal ? "class=hydro-red-row" : "";
                            var badge = isFinal ? "badge-danger" : "badge-primary";
                            //var addedStyle = testPack.HasData ? "" : "badge " + badge + "";
                            var addedStyle = "";
                            var acceptedString = testPack.AcceptancePercentage.ToString().Replace(",", ".");
                            var widthString = acceptedString + "%";
                            <tr @customStyle>
                                <td class="step-hydro-cell @addedStyle">@testPack.Step</td>
                                <td>@displayedText</td>
                                <td>@testPack.AcceptedCount</td>
                                <td>@string.Format("{0:N}", testPack.AcceptancePercentage)</td>
                                <td width="40%">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-info progress-bar-animated bg-primary" role="progressbar" style="width: @widthString" aria-valuenow="@acceptedString" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div id="outstanding-container" class="card right-card">
                <div class="card-header">
                    <span class="text-white page-title">@LocalResources.OutstandingActionStatus&nbsp;<span class="ti-angle-double-down"></span></span>
                </div>
                <div class="row card-block">
                    <!-- Outstandings chart -->
                    <div class="col">
                        <h6 class="center-align"><small>@LocalResources.Categories</small></h6>
                        <canvas id="outstandings-chart" height="170"></canvas>
                    </div>

                    <!-- Outstandings counts -->
                    <div id="outstandings-counts" class="progressprofile col"></div>
                </div>

                <!-- Outstanding Info -->
                <div class="row card-block">
                    <div id="outstanding-info" class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Charts -->
<script src="~/assets/js/libraries/chart.js"></script>
<script src="~/assets/js/libraries/circle-progress.min.js"></script>
<script>
    GLOBAL_DATA.TRANSLATIONS = {

        @Model.GetPropertyName(() => LocalResources.Outs): @LocalResources.Outs.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.Done): @LocalResources.Done.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.Clearancebrpercentage): @LocalResources.Clearancebrpercentage.ToHtmlJson()
    };

</script>
<script src="~/assets/js/pages/activities-home.js"></script>