﻿@using Promis.NET.MCV.ViewModels
@using Promis.NET.Utilities.Extensions
@using Promis.NET.Localization
@using Promis.NET.Roles
@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }

@model Promis.NET.MCV.ViewModels.Activities.ActivitiesISOViewModel

@{
    var isAdmin = User.IsInRole(LocalRoles.ResponsabilityAdmin);
    var isWriter = isAdmin || User.IsInRole(LocalRoles.ModuleWriteSiteActivities);
}

<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">

<div class="tab-pane active" id="iso" role="tabpanel">
    <div class="row">
        <div class="col-md-8">
            <div class="card act_left">
                <div class="card-header iso">
                    <div class="row">
                        <div class="col-md-16">
                            <span class="text-white page_title hydrotest">@LocalResources.HydrotestPackagesCreation</span>
                        </div>
                    </div>
                </div>
                <div class="card-block testpacks-info">
                    <div class="form-group row">
                        <div class="col-md-5">
                            <label>@LocalResources.TestpackCode</label>
                            <input id="package-tag" name="package-tag" type="text" class="form-control" value="">
                        </div>
                        <div class="col-md-9">
                            <label>@LocalResources.Description</label>
                            <input id="package-description" name="package-description" type="text" class="form-control" value="">
                        </div>
                        <div class="col-md-2">
                            @if(isWriter)
                            {
                                <button type="button" class="btn btn-sm btn-success" id="save-hydrotest">@LocalResources.SaveNew</button>
                            }
                        </div>
                    </div>
                    <div class="row testpacks">
                        <div class="col-md-16">
                            <span class="text-white page_title existing-testpacks">@LocalResources.ExistingTestpacks</span>
                            <div id="tags_table" name="tags_table"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card act_right">
                <div class="card-header isometrics">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="text-white page_title" id="isometrics-assignment">@LocalResources.IsometricsAssignmentToTestpack</span>
                        </div>
                        <div class="col-md-8 iso-info">
                            <div class="notes notes-primary total-iso" role="alert">
                                @LocalResources.Total<strong>&nbsp;@String.Format("{0:N0}", Model.HydroPackagesCount.Key)</strong> &nbsp;&nbsp;&nbsp;@LocalResources.Assigned<strong>&nbsp;@String.Format("{0:N0}", Model.HydroPackagesCount.Value)</strong>
                                <button type="button" class="btn btn-sm btn-primary" id="select-iso">@LocalResources.SelectIsos</button>
                                @if(isWriter)
                                {
                                    <button type="button" class="btn btn-sm btn-success" id="assign-iso">@LocalResources.AssignIsos</button>
                                }
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-block isometrics-area">
                    <div class="form-group row">
                        <div class="col-md-16 piping-design">
                            <div class="col-md-5">
                                <label>@LocalResources.PipingDesignArea</label>
                                <select name="iso-area" id="iso-area" class="form-control iso-area" data-live-search="true" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    @for (int i = 0; i < Model.PipingDesignList.Count; i++)
                                    {
                                        <option value="@Model.PipingDesignList[i]">@Model.PipingDesignList[i]</option>
                                    }

                                </select>
                            </div>
                            <div class="col-md-5">
                                <label>@LocalResources.GeographicalAreaWbs</label>
                                <select name="geo-area" id="geo-area" class="form-control geographical-area" data-live-search="true" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    @for (int j = 0; j < Model.GeographicalWBS.Count; j++)
                                    {
                                        <option value="@Model.GeographicalWBS.ElementAt(j).Datatable">@Model.GeographicalWBS.ElementAt(j).Description</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-5">
                                <label>@LocalResources.PipingClass</label>
                                <select name="iso-class" id="iso-class" class="form-control iso-class" data-live-search="true" tabindex="-1" aria-hidden="true"></select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-16" style="display:flex">
                            <div class="col-md-11">
                                <label>@LocalResources.System</label>
                                <select name="iso-system" id="iso-sys" class="form-control iso-system" data-live-search="true" tabindex="-1" aria-hidden="true"></select>
                            </div>
                            <div class="col-md-5">
                                <label>@LocalResources.Subsystem</label>
                                <select name="iso-subsystem" id="iso-subsys" class="form-control iso-subsystem" data-live-search="true" tabindex="-1" aria-hidden="true"></select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row iso-tbl">
                        <div class="col-md-16">
                            <div id="iso_table" name="iso_table" class="table-iso"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Datatable scrips -->
<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>
<script src="~/assets/js/helpers/data-table.js"></script>
<script>
    GLOBAL_DATA.TRANSLATIONS = {

        @Model.GetPropertyName(() => LocalResources.TheDatatableCannotBeNull): @LocalResources.TheDatatableCannotBeNull.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.DeleteSelected): @LocalResources.DeleteSelected.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.DeleteTestpack): @LocalResources.DeleteTestpack.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.DeleteSelectedTestpackAndItsAssociatedIsosbrbrareYouSure): @LocalResources.DeleteSelectedTestpackAndItsAssociatedIsosbrbrareYouSure.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.Confirm): @LocalResources.Confirm.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.CannotDeleteThisRow): @LocalResources.CannotDeleteThisRow.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.RecordsSuccessfullyDeleted): @LocalResources.RecordsSuccessfullyDeleted.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.TestpackCodeIsRequired): @LocalResources.TestpackCodeIsRequired.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.DuplicatedTestpackCode): @LocalResources.DuplicatedTestpackCode.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.TestpackAddedRememberToAssignIsosToIt): @LocalResources.TestpackAddedRememberToAssignIsosToIt.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.YouMustSelectAtLeastOneValueFromPipingDesignList): @LocalResources.YouMustSelectAtLeastOneValueFromPipingDesignList.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.InOrderToSaveAtLeastOneRowFromTheLeftTableMustBeSelected): @LocalResources.InOrderToSaveAtLeastOneRowFromTheLeftTableMustBeSelected.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.YouMustClickOnSelectIsosButtonInOrderToShowSketchesTable): @LocalResources.YouMustClickOnSelectIsosButtonInOrderToShowSketchesTable.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.InOrderToSaveAtLeastOneTagFromTheRightTableMustBeChecked): @LocalResources.InOrderToSaveAtLeastOneTagFromTheRightTableMustBeChecked.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.OneOrMoreRecordsHadNotBeenInsertedBecauseAreDuplicated): @LocalResources.OneOrMoreRecordsHadNotBeenInsertedBecauseAreDuplicated.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.IsometricsAssignmentWasSavedWithSuccess): @LocalResources.IsometricsAssignmentWasSavedWithSuccess.ToHtmlJson()
    };
    var isWriter = @isWriter.ToHtmlJson();
</script>
<script src="~/assets/js/pages/activities-iso.js"></script>