﻿
@using Promis.NET.MCV.ViewModels
@using Promis.NET.Utilities.Extensions
@using Promis.NET.Localization
@using Promis.NET.Roles
@using Promis.NET.MCV.Extensions

@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }
@model Promis.NET.MCV.ViewModels.Activities.OutstandingModalViewModel

<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">

<div class=row>
    <div class='col-md-8' id="pltable_filter">
        <label class="padded-all-5"> @LocalResources.Datatable</label>
        <select id='pl_datatable' class='form-control' onChange='assignOnChange()' data-live-search='true' tabindex='-1' aria-hidden='true'>
            <option value=""></option>
            @foreach (var item in Model.Datatables)
            {
                <option value="@item.Code">@item.Description</option>
            }
        </select>
    </div>
</div>
<div id="item_table">
</div>
