﻿@using Promis.NET.MCV.ViewModels
@using Promis.NET.Utilities.Extensions
@using Promis.NET.Localization
@using Promis.NET.Roles
@using Promis.NET.MCV.Extensions

@{ Html.RenderPartial("_Error", new Envelope(ViewBag.Envelope, true)); }
@model Promis.NET.MCV.ViewModels.Activities.SystemPunchListsManagementViewModel

@{
    var isAdmin = User.IsInRole(LocalRoles.ResponsabilityAdmin);
    var isWriter = isAdmin || User.IsInRole(LocalRoles.ModuleWriteSiteActivities);
}

<link rel="stylesheet" href="~/assets/css/libraries/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/assets/css/libraries/bootstrap-datepicker.css">
<link rel="stylesheet" href="~/assets/css/libraries/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/assets/css/helpers/data-table.css">
<div class="tab-pane active" id="punchlist" role="tabpanel">
    <div class="row">
        <div class="col-md-16">
            <div class="card act-left">
                <div class="card-header" id="punch-header">
                    <div class="row row-26">
                        <div class="col-md-4 right-bordered">
                            <span class="text-white page_title page-title">@LocalResources.SystemPunchListManagement</span>
                        </div>
                        @*<%if editable then%>*@
                        <div class="col-md-2 justify-content-center align-items-center right-bordered iso-info punchlist-system-ctrl-container">
                            <label class="custom-control custom-radio punchlist-system-ctrl">
                                <input id="all" name="all-sys" type="radio" value="false" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                @LocalResources.All @LocalResources.Systems.ToCamelCase(true, false)
                            </label>
                            <label class="custom-control custom-radio punchlist-system-ctrl">
                                <input id="sel" name="all-sys" type="radio" value="true" class="custom-control-input" checked="checked">
                                <span class="custom-control-indicator"></span>
                                @LocalResources.PlSystems
                            </label>
                        </div>
                        @* <%end if%>*@
                        <div class="col-md-5 iso-info">
                            <label class="padded-all-5">@LocalResources.System &nbsp;</label>
                            <select id="pl-sys" class="form-control" data-live-search="true" tabindex="-1" aria-hidden="true"></select>
                        </div>
                        <div class="col-md-3 iso-info">
                            <label class="padded-all-5">@LocalResources.Subsystem</label>
                            <select id="pl-subsys" class="form-control empty" data-live-search="true" tabindex="-1" aria-hidden="true">
                                <option></option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> @LocalResources.Actions.ToCamelCase(true, false) </button>
                                <div class="dropdown-menu">
                                    @if (isWriter)
                                    {
                                        <a id="button-insert-new" class="dropdown-item">
                                            @LocalResources.InsertNewPlItem
                                        </a>
                                        <a id="button-update-selected" class="dropdown-item">
                                            @LocalResources.UpdateSelected
                                        </a>
                                        <a id="button-import-excel" data-table="punchlist" class="dropdown-item">
                                            @LocalResources.ImportExcelData
                                        </a>
                                    }
                                    <a id="button-export-excel" data-table="punchlist" class="dropdown-item">
                                        @LocalResources.ExportDataToExcel
                                    </a>
                                    <a id="button-export-template" data-table="punchlist" class="dropdown-item">
                                        @LocalResources.ExportEmptyTemplate
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-block">
                    @*<%if editable then%>*@
                    <div class="row row-26">
                        <div class="col-md-3 iso-info">
                            <label class="padding-right-5">@LocalResources.Discipline&nbsp;</label>
                            <select id="pl-disci" class="form-control req" data-live-search="true" tabindex="-1" aria-hidden="true">
                                <option></option>
                                @foreach (var item in Model.Discipline)
                                {
                                    <option value="@item.Code">@Html.Raw(item.Code + " - " + item.Description)</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3 iso-info">
                            <label class="padding-right-5">@LocalResources.Originator&nbsp;</label>
                            <select id="pl-orig" class="form-control req" data-live-search="true" tabindex="-1" aria-hidden="true">
                                <option></option>
                                @foreach (var item in Model.Originator)
                                {
                                    <option value="@item.Code">@Html.Raw(item.Description)</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-7 iso-info">
                            <label class="padding-right-5">@LocalResources.Category &nbsp;</label>
                            <select id="pl-category" class="form-control req" data-live-search="true" tabindex="-1" aria-hidden="true">
                                <option></option>
                                @foreach (var item in Model.Category)
                                {
                                    <option value="@item.Code">@Html.Raw(item.Code + " - " + item.Description)</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3 iso-info">
                            <label class="padding-right-5">@Html.Raw(LocalResources.ActionBy.Replace(" ", "&nbsp;"))&nbsp;</label>
                            <select id="pl-actionby" class="form-control empty" data-live-search="true" tabindex="-1" aria-hidden="true">
                                <option></option>
                                @foreach (var item in Model.ActionBy)
                                {
                                    <option value="@item.Code">@Html.Raw(item.Description)</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row iso-tbl">
                        <div class="col-md-4 iso-info">
                            <label class="padding-right-5">@Html.Raw(LocalResources.OutstandingItem.Replace(" ", "&nbsp;"))</label>
                            <input id="pl-item" type="text" class="form-control req text-imput" value=""><span id="outstanding-search" class="ti-search"></span>
                        </div>
                        <div class="col-md-6 iso-info">
                            <label class="padding-right-5" ">@Html.Raw(LocalResources.WorkDetails.Replace(" ", "&nbsp;"))</label>
                            <textarea id="pl-wd" class="form-control req" rows="2"></textarea>
                        </div>
                        <div class="col-md-2 iso-info">
                            <label class="padding-right-5" ">@Html.Raw(LocalResources.FoundDate.Replace(" ", "&nbsp;"))</label>
                            <input id="pl-fdate" type="text" class="input-sm form-control empty text-imput" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate" value="@String.Format("{0:dd/MM/yyyy}",DateTime.Today)">
                        </div>
                        <div class="col-md-2 iso-info">
                            <label class="padding-right-5">@Html.Raw(LocalResources.TargetDate.Replace(" ", "&nbsp;"))</label>
                            <input id="pl-tdate" type="text" class="input-sm form-control empty text-imput" data-date-format="dd/mm/yyyy" placeholder="@LocalResources.SelectDate" value="">
                        </div>
                        <div class="col-md-2 iso-info">
                            <label class="padding-right-5">@LocalResources.Status&nbsp;</label>
                            <select id="pl-status" class="form-control req" data-live-search="true" tabindex="-1" aria-hidden="true">
                                <option></option>
                                @foreach (var item in Model.Status)
                                {
                                    <option class="pl-status-option" value="@item">@Html.Raw(item)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <hr style="margin: 10px">
                    <div class="row row-26 margin-top-15">
                        <div class="col-md-5 iso-info">
                            <label class="padding-right-5">@Html.Raw(LocalResources.ReferenceDocumentation.Replace(" ", "&nbsp;"))</label>
                            <input id="pl-ref" type="text" class="input-sm form-control empty margin-right-10" value="">
                            <a href="#"><span class="ti-import"></span></a>
                        </div>
                        <div class="col-md-2 iso-info">
                            <label class="padding-right-5">@Html.Raw(LocalResources.ClosureDate.Replace(" ", "&nbsp;"))</label>
                            <input id="pl-cdate" type="text" class="input-sm form-control empty" value="">
                        </div>
                        <div class="col-md-3 iso-info">
                            <label class="padding-right-5">@LocalResources.Closer&nbsp;</label>
                            <select id="pl-closer" class="form-control empty" data-live-search="true" tabindex="-1" aria-hidden="true">
                                <option></option>
                                @foreach (var item in Model.Closer)
                                {
                                    <option value="@item.Code">@Html.Raw(item.Description)</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-5 iso-info">
                            <label class="padding-right-5">@Html.Raw(LocalResources.CloserDocument.Replace(" ", "&nbsp;"))</label>
                            <input id="pl-cdoc" type="text" class="input-sm form-control empty margin-right-10" value="">
                            <a href="#"><span class="ti-comment-alt"></span></a>
                        </div>
                    </div>
                    <hr style="margin: 10px">
                    @*<%end if%>*@
                    <div class="row iso-tbl">
                        <div class="col-md-16 no-padding" id="pl-table"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/libraries/jquery.dataTables.min.js"></script>
<script src="~/assets/js/libraries/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.es.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.fr.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.it.js"></script>
<script src="~/assets/js/libraries/datepicker/bootstrap-datepicker.ru.js"></script>
<script src="~/assets/js/libraries/dataTables.bootstrap4.js"></script>
<script src="~/assets/js/libraries/dataTables.responsive.min.js"></script>
<script src="~/assets/js/libraries/dropdown.js"></script>
<script src="~/assets/js/helpers/data-table.js"></script>

<script src="~/assets/js/helpers/import-export.js"></script>
<script>
    GLOBAL_DATA.USER_LANGUAGE = @Request.GetOwinContext().Request.User.Identity.GetUserLanguage().ToHtmlJson();
    GLOBAL_DATA.TRANSLATIONS = {

        @Model.GetPropertyName(() => LocalResources.TheSystemCannotBeNull): @LocalResources.TheSystemCannotBeNull.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ASystemMustBeSelectedInOrderToContinue): @LocalResources.ASystemMustBeSelectedInOrderToContinue.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.TheItemIsInvalid): @LocalResources.TheItemIsInvalid.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.RowIdentifierIsInvalid): @LocalResources.RowIdentifierIsInvalid.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.Datatable): @LocalResources.Datatable.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.TheDatatableCannotBeNull): @LocalResources.TheDatatableCannotBeNull.ToHtmlJson(),
        @Model.GetPropertyName(() => LocalResources.ChooseATagFromRelevantDatatable): @LocalResources.ChooseATagFromRelevantDatatable.ToHtmlJson()
    };
</script>
<script src="~/assets/js/pages/activities-punchlist.js"></script>
